// Margin and Padding

.min-w25 { min-width: 25% !important; }
.min-w50 { min-width: 50% !important; }
.min-w75 { min-width: 75% !important; }
.min-w100 { min-width: 100% !important; }

.min-h25 { min-height: 25% !important; }
.min-h50 { min-height: 50% !important; }
.min-h75 { min-height: 75% !important; }
.min-h100 { min-height: 100% !important; }
