////////////////////////////////////////////////////////////////////
// Links
////////////////////////////////////////////////////////////////////

a {
  &:link,
  &:visited {
    color: color(primary);
    text-decoration: none;
  }
  &:active,
  &:hover {
    color: lighten(color(primary), 4%);
  }
}

.link-black {
  &:link,
  &:visited {
    color: color(black);
  }
  &:active,
  &:hover {
    color: color(primary);
    // color: lighten(color(black), 15%);
  }
}


.link-gray {
  &:link,
  &:visited {
    color: color(gray);
  }
  &:active,
  &:hover {
    color: color(primary);
    // color: lighten(color(gray), 15%);
  }
}
