.landing-slider.slick-slider {
    z-index: 1; // to make header shadow overlap on slider.
    .slick-slide img {
        width: 100%;
    }
    .slick-dots {
        bottom: 35px;
        li {
            button {
                &:before {
                    font-size: .7rem;
                    color: color(white);
                    opacity: .5;
                }
            }
            &.slick-active button:before {
                opacity: 1;
            }
        }
    }
}
