{{> header-standard }}

<div class="error-page">
    <div id="content">
        <h4 class="text-center mb50">
            Sorry, we couldn't find the page you were looking for.
        </h4>
        <div class="action">
            <a class="button is-black is-fullwidth mb20" href="landing.html">
                Discover Art
            </a>
            <a class="button is-gray is-outlined is-fullwidth btn-go-back" href="#">
                Back to Previous Page
            </a>
        </div>
    </div>
</div>

<script>
    defer( function(){
        $('.btn-go-back').on('click', function(){
            window.history.back();
        })
    });
</script>