{{> header-logged-in }}

<div class="page-all-support">

    <div class="container-fluid">

        <div class="row around-xs">
            <div class="col-xs-14 col-sm-6">
                <input class="input-search" type="text" name="search" placeholder="Search questions, key words, or topics">
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm">

                <div class="pr30">

                    <h4 class="has-border has-link">FAQs <a href="faq.html" class="see-more">See More</a></h4>

                    <dl class="accordion">
                        <dt>How does Art Tap work?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>

                        <dt>How do I register?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>

                        <dt>How do I create my profile?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>

                        <dt>How can I save art I like?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>
                    </dl>

                </div>

            </div><!-- .col-sm -->


            <div class="col-xs-12 col-sm">

                <div class="pl30 pr30">

                    <h4 class="has-border has-link">For Collectors <a href="#" class="see-more">See More</a></h4>

                    <dl class="accordion ">
                        <dt>How can I easily find art I like?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>

                        <dt>How do I know my payments are secure?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>

                        <dt>How does shipping work?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>

                        <dt>Can I message artists?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>
                    </dl>

                </div>

            </div><!-- .col-sm -->


            <div class="col-xs-12 col-sm">

                <div class="pl30">
                
                    <h4 class="has-border has-link">For Artists <a href="#" class="see-more">See More</a></h4>

                    <dl class="accordion">
                        <dt>How can I become an Art Tap artist?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>

                        <dt>How do I post my artwork on the site?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>

                        <dt>What do I do whan a piece is purchased?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>

                        <dt>Can I also show my work in other places?<i class="at at-arrows-plus"></i></dt>
                        <dd>
                            <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                            <div class="info-helpful">
                                <div class="info">Was this information helpful?</div>
                                <button class="button is-gray is-outlined">Yes</button>
                                <button class="button is-gray is-outlined">No</button>
                            </div>
                        </dd>
                    </dl>

                </div>

            </div><!-- .col-sm -->

        </div>

        <div class="row around-xs">
            <div class="col-xs-14 col-sm-4 text-center">
                <h4 class="mt50">Still need our help?</h4>
                <p>Contact us and we’ll get back to you as soon as possible.</p>
                <button class="button min-w75">Contact Us</button>
            </div>
        </div>

    </div>

</div><!-- .page-all-support -->


{{> footer-standard }}
