<!-- Add This div page classes on <body> tag -->
<div class="page-artist-inbox-message page">
{{> header-logged-in }}

<div id="wrapper">

    {{> sidebar-artist }}

    <div id="content">

        <div class="page-title">
            <a class="link-back" href="artist-inbox.html"><i class="at at-arrows-left"></i> All Messages</a>
            <h2 class="has-border">Messages</h2>
        </div>

        {{> inbox-message }}

    </div><!-- #content -->

</div><!-- #wrapper -->

{{> footer-standard }}
</div><!-- .page-artist-inbox-message .page -->

