{{> header-standard }}
<main>


<h1 documentation>Icons from ArtTap Font -- aliased</h1>
<p documentation>The aliasing overwrites the default icon names and the FontAwesome versions</p>

<i class="icon fa fa-square fa-xl bluesea"></i>

<ul>
    <li>
        <i class="icon at-arrows-down"></i>:
        <strong>.at-arrows-down</strong> (aliases <tt>.arrow-down, .fa-arrow-down, .fa-chevron-down</tt>)
        (<tt>.icon.arrow-down</tt>: <i class="icon arrow-down"></i>)
    </li>
    <li>
        <i class="icon at-arrows-left"></i>:
        <strong>.at-arrows-left</strong> (aliases <tt>.arrow-left, .fa-arrow-left, .fa-chevron-left</tt>)
    </li>
    <li>
        <span discussion>This icon works before the aliasing, but not after the aliasing (no idea why):</span><br />
        <i class="icon at-4-squares"></i>:
        <strong>.at-4-squares</strong> (aliases <tt>.squares, .4-squares, .fa-th-large</tt>)
        (<tt>.icon.squares</tt>: <i class="icon squares"></i>)
    </li>
    <li>
        <i class="icon at-arrows-minus"></i>:
        <strong>.at-arrows-minus</strong> (aliases <tt>.minus, .fa-minus</tt>)
    </li>
    <li>
        <i class="icon at-arrows-plus"></i>:
        <strong>.at-arrows-plus</strong> (aliases <tt>.add, .plus, .fa-plus</tt>)
        (<tt>.icon.add</tt>: <i class="icon add"></i>)
    </li>
    <li>
        <i class="icon at-arrows-question"></i>:
        <strong>.at-arrows-question</strong> (aliases <tt>.question, .help, .fa-question, .fa-question-circle, .fa-question-circle-o</tt>)
    </li>
    <li>
        <i class="icon at-arrows-remove"></i>:
        <strong>.at-arrows-remove</strong> (aliases <tt>.remove, .fa-times, .fa-x</tt>)
    </li>
    <li>
        <i class="icon at-arrows-right"></i>:
        <strong>.at-arrows-right</strong> (aliases <tt>.arrow-right, .fa-arrow-right, .fa-chevron-right</tt>)
    </li>
    <li>
        <i class="icon at-arrows-up"></i>:
        <strong>.at-arrows-up</strong> (aliases <tt>.arrow-up, .fa-arrow-up, .fa-chevron-up</tt>)
    </li>
    <li>
        <i class="icon at-artwork"></i>:
        <strong>.at-artwork</strong> (aliases <tt>.artwork</tt>)
    </li>
    <li>
        <i class="icon at-bell"></i>:
        <strong>.at-bell</strong> (aliases <tt>.icon.bell, .fa-bell, .fa-bell-o</tt>)
    </li>
    <li>
        <i class="icon at-card"></i>:
        <strong>.at-card</strong> (aliases <tt>.card, .fa-credit-card, .fa-credit-card-alt</tt>)
    </li>
    <li>
        <i class="icon at-copypaste"></i>:
        <strong>.at-copypaste</strong> (aliases <tt>.copypaste</tt>)
    </li>
    <li>
        <i class="icon at-document"></i>:
        <strong>.at-document</strong> (aliases <tt>.document, .fa-file-text, .fa-file, .fa-file-text-o, .file-o</tt>)
        (<tt>.fa.fa-file-text-o</tt>: <i class="fa fa-file-text-o"></i>)
        (<tt>.icon.fa.fa-file-text-o</tt>: <i class="icon fa fa-file-text-o"></i>)
    </li>
    <li>
        <i class="icon at-email"></i>:
        <strong>.at-email</strong> (aliases <tt>.email</tt>)
    </li>
    <li>
        <i class="icon at-facebook"></i>:
        <strong>.at-facebook</strong> (aliases <tt>.facebook, .fa-facebook, .fa-facebook-official, .fa-facebook-square</tt>)
    </li>
    <li>
        <i class="icon at-instagram"></i>:
        <strong>.at-instagram</strong> (aliases <tt>.instagram, .fa-instagram</tt>)
    </li>
    <li>
        <i class="icon at-mail"></i>:
        <strong>.at-mail</strong> (aliases <tt>.mail, .fa-envelope, .fa-envelope-o</tt>)
        (<tt>.icon.mail</tt>: <i class="icon mail"></i>)
    </li>
    <li>
        <i class="icon at-pinterest"></i>:
        <strong>.at-pinterest</strong> (aliases <tt>.pinterest, .fa-pinterest, .fa-pinterest-p, .fa-pinterest-square</tt>)
    </li>
    <li>
        <i class="icon at-speech"></i>:
        <strong>.at-speech</strong> (aliases <tt>.speech, .comment, .fa-commenting-o, .fa-commenting, .fa-comments-o, .fa-comment, .fa-comments, .fa-comment</tt>)
    </li>
    <li>
        <i class="icon at-tag"></i>:
        <strong>.at-tag</strong> (aliases <tt>.tag, .fa-tag</tt>)
    </li>
    <li>
        <i class="icon at-twitter"></i>:
        <strong>.at-twitter</strong> (aliases <tt>.twitter, .fa-twitter</tt>)
    </li>
    <li>
        <i class="icon at-two-arrows"></i>:
        <strong>.at-two-arrows</strong> (aliases <tt>.exchange, .arrows, .two-arrows, .fa-arrows-h, .fa-exchange</tt>)
    </li>
    <li>
        <i class="icon at-upload"></i>:
        <strong>.at-upload</strong> (aliases <tt>.upload, .fa-upload</tt>)
    </li>

    <li>
        Directly from <tt>font-arttap.scss</tt>:
        <ul>
            <li>at-4-squares: <i class="icon at-4-squares"></i></li>
            <li>at-arrows-down: <i class="icon at-arrows-down"></i></li>
            <li>at-arrows-left: <i class="icon at-arrows-left"></i></li>
            <li>at-arrows-minus: <i class="icon at-arrows-minus"></i></li>
            <li>at-arrows-plus: <i class="icon at-arrows-plus"></i></li>
            <li>at-arrows-question: <i class="icon at-arrows-question"></i></li>
            <li>at-arrows-remove: <i class="icon at-arrows-remove"></i></li>
            <li>at-arrows-right: <i class="icon at-arrows-right"></i></li>
            <li>at-arrows-up: <i class="icon at-arrows-up"></i></li>
            <li>at-artwork: <i class="icon at-artwork"></i></li>
            <li>at-bell: <i class="icon at-bell"></i></li>
            <li>at-card: <i class="icon at-card"></i></li>
            <li>at-copypaste: <i class="icon at-copypaste"></i></li>
            <li>at-document: <i class="icon at-document"></i></li>
            <li>at-email: <i class="icon at-email"></i></li>
            <li>at-facebook: <i class="icon at-facebook"></i></li>
            <li>at-instagram: <i class="icon at-instagram"></i></li>
            <li>at-mail: <i class="icon at-mail"></i></li>
            <li>at-pinterest: <i class="icon at-pinterest"></i></li>
            <li>at-speech: <i class="icon at-speech"></i></li>
            <li>at-tag: <i class="icon at-tag"></i></li>
            <li>at-twitter: <i class="icon at-twitter"></i></li>
            <li>at-two-arrows: <i class="icon at-two-arrows"></i></li>
            <li>at-upload: <i class="icon at-upload"></i></li>
        </ul>
    </li>
</ul>


</main>
{{> footer-standard }}