{{> header-standard }}
<h1>Different button sizes used in overall prototype are listed here.</h1> 

<main>

<button class="button is-black btn-s">Add a Pieace</button> btn-s 200px <a href="https://projects.invisionapp.com/d/main#/console/11941484/252112705/preview">Ref</a>
<hr>
<button class="button is-black btn-m">Match Me</button> btn-m 270px <a href="https://projects.invisionapp.com/d/main#/console/11941484/252128060/inspect">Ref</a>
<hr>
<button class="button is-black btn-l">New Message</button> btn-l 320px <a href="https://projects.invisionapp.com/d/main#/console/11941484/251765502/inspect">Ref</a>
<hr>
<div class="text-center"><button class="button is-black btn-xl">Discover More Art</button> btn-xl 360px <a href="https://projects.invisionapp.com/d/main#/console/11941484/251764712/inspect">Ref</a></div>
<hr>

</main>
