{{> header-standard }}
<main>

<a href="#" class="button">Basic button</a>
<button class="button is-primary">Highlight button</button>
<button class="button is-link">Link button</button>

<hr>

<a href="#" class="button is-white">Color: white</a>
<a href="#" class="button is-white is-loading">Load</a>
<a href="#" class="button is-white is-active">Active</a>
<a href="#" class="button is-white is-focused">Focus</a>
<a href="#" class="button is-white is-inverted">Invert</a>
<a href="#" class="button is-white is-outlined">Outline</a>
<a href="#" class="button is-white" disabled>Disabled</a>
<a href="#" class="button is-white is-outlined is-loading">Text</a>
<a href="#" class="button is-white is-small">Small</a>
<a href="#" class="button is-white is-medium">Medium</a>
<a href="#" class="button is-white is-large">Large</a>
<hr>
<a href="#" class="button is-gray">Color: gray</a>
<a href="#" class="button is-gray is-loading">Load</a>
<a href="#" class="button is-gray is-active">Active</a>
<a href="#" class="button is-gray is-focused">Focus</a>
<a href="#" class="button is-gray is-inverted">Invert</a>
<a href="#" class="button is-gray is-outlined">Outline</a>
<a href="#" class="button is-gray" disabled>Disabled</a>
<a href="#" class="button is-gray is-outlined is-loading">Text</a>
<a href="#" class="button is-gray is-small">Small</a>
<a href="#" class="button is-gray is-medium">Medium</a>
<a href="#" class="button is-gray is-large">Large</a>
<hr>
<a href="#" class="button is-black">Color: black</a>
<a href="#" class="button is-black is-loading">Load</a>
<a href="#" class="button is-black is-active">Active</a>
<a href="#" class="button is-black is-focused">Focus</a>
<a href="#" class="button is-black is-inverted">Invert</a>
<a href="#" class="button is-black is-outlined">Outline</a>
<a href="#" class="button is-black" disabled>Disabled</a>
<a href="#" class="button is-black is-outlined is-loading">Text</a>
<a href="#" class="button is-black is-small">Small</a>
<a href="#" class="button is-black is-medium">Medium</a>
<a href="#" class="button is-black is-large">Large</a>
<hr>
<a href="#" class="button is-green">Color: green</a>
<a href="#" class="button is-green is-loading">Load</a>
<a href="#" class="button is-green is-active">Active</a>
<a href="#" class="button is-green is-focused">Focus</a>
<a href="#" class="button is-green is-inverted">Invert</a>
<a href="#" class="button is-green is-outlined">Outline</a>
<a href="#" class="button is-green" disabled>Disabled</a>
<a href="#" class="button is-green is-outlined is-loading">Text</a>
<a href="#" class="button is-green is-small">Small</a>
<a href="#" class="button is-green is-medium">Medium</a>
<a href="#" class="button is-green is-large">Large</a>
<hr>
<a href="#" class="button is-greentree">Color: greentree</a>
<a href="#" class="button is-greentree is-loading">Load</a>
<a href="#" class="button is-greentree is-active">Active</a>
<a href="#" class="button is-greentree is-focused">Focus</a>
<a href="#" class="button is-greentree is-inverted">Invert</a>
<a href="#" class="button is-greentree is-outlined">Outline</a>
<a href="#" class="button is-greentree" disabled>Disabled</a>
<a href="#" class="button is-greentree is-outlined is-loading">Text</a>
<a href="#" class="button is is-small-greentreeSmall greentree</a>
<a href="#" class="button is is-medium-greentree">Medium</a>
<a href="#" class="button is is-large-greentree">Large</a>
<hr>
<a href="#" class="button is-bluesea">Color: bluesea</a>
<a href="#" class="button is-bluesea is-loading">Load</a>
<a href="#" class="button is-bluesea is-active">Active</a>
<a href="#" class="button is-bluesea is-focused">Focus</a>
<a href="#" class="button is-bluesea is-inverted">Invert</a>
<a href="#" class="button is-bluesea is-outlined">Outline</a>
<a href="#" class="button is-bluesea" disabled>Disabled</a>
<a href="#" class="button is-bluesea is-outlined is-loading">Text</a>
<a href="#" class="button is-bluesea is-small">Small</a>
<a href="#" class="button is-bluesea is-medium">Medium</a>
<a href="#" class="button is-bluesea is-large">Large</a>
<hr>
<a href="#" class="button is-blue">Color: blue</a>
<a href="#" class="button is-blue is-loading">Load</a>
<a href="#" class="button is-blue is-active">Active</a>
<a href="#" class="button is-blue is-focused">Focus</a>
<a href="#" class="button is-blue is-inverted">Invert</a>
<a href="#" class="button is-blue is-outlined">Outline</a>
<a href="#" class="button is-blue" disabled>Disabled</a>
<a href="#" class="button is-blue is-outlined is-loading">Text</a>
<a href="#" class="button is-blue is-small">Small</a>
<a href="#" class="button is-blue is-medium">Medium</a>
<a href="#" class="button is-blue is-large">Large</a>
<hr>
<a href="#" class="button is-blueroyal">Color: blueroyal</a>
<a href="#" class="button is-blueroyal is-loading">Load</a>
<a href="#" class="button is-blueroyal is-active">Active</a>
<a href="#" class="button is-blueroyal is-focused">Focus</a>
<a href="#" class="button is-blueroyal is-inverted">Invert</a>
<a href="#" class="button is-blueroyal is-outlined">Outline</a>
<a href="#" class="button is-blueroyal" disabled>Disabled</a>
<a href="#" class="button is-blueroyal is-outlined is-loading">Text</a>
<a href="#" class="button is is-small-blueroyalSmall blueroyal</a>
<a href="#" class="button is is-medium-blueroyal">Medium</a>
<a href="#" class="button is is-large-blueroyal">Large</a>
<hr>
<a href="#" class="button is-purple">Color: purple</a>
<a href="#" class="button is-purple is-loading">Load</a>
<a href="#" class="button is-purple is-active">Active</a>
<a href="#" class="button is-purple is-focused">Focus</a>
<a href="#" class="button is-purple is-inverted">Invert</a>
<a href="#" class="button is-purple is-outlined">Outline</a>
<a href="#" class="button is-purple" disabled>Disabled</a>
<a href="#" class="button is-purple is-outlined is-loading">Text</a>
<a href="#" class="button is-purple is-small">Small</a>
<a href="#" class="button is-purple is-medium">Medium</a>
<a href="#" class="button is-purple is-large">Large</a>
<hr>
<a href="#" class="button is-magenta">Color: magenta</a>
<a href="#" class="button is-magenta is-loading">Load</a>
<a href="#" class="button is-magenta is-active">Active</a>
<a href="#" class="button is-magenta is-focused">Focus</a>
<a href="#" class="button is-magenta is-inverted">Invert</a>
<a href="#" class="button is-magenta is-outlined">Outline</a>
<a href="#" class="button is-magenta" disabled>Disabled</a>
<a href="#" class="button is-magenta is-outlined is-loading">Text</a>
<a href="#" class="button is-magenta is-small">Small</a>
<a href="#" class="button is-magenta is-medium">Medium</a>
<a href="#" class="button is-magenta is-large">Large</a>
<hr>
<a href="#" class="button is-red">Color: red</a>
<a href="#" class="button is-red is-loading">Load</a>
<a href="#" class="button is-red is-active">Active</a>
<a href="#" class="button is-red is-focused">Focus</a>
<a href="#" class="button is-red is-inverted">Invert</a>
<a href="#" class="button is-red is-outlined">Outline</a>
<a href="#" class="button is-red" disabled>Disabled</a>
<a href="#" class="button is-red is-outlined is-loading">Text</a>
<a href="#" class="button is-red is-small">Small</a>
<a href="#" class="button is-red is-medium">Medium</a>
<a href="#" class="button is-red is-large">Large</a>
<hr>
<a href="#" class="button is-orange">Color: orange</a>
<a href="#" class="button is-orange is-loading">Load</a>
<a href="#" class="button is-orange is-active">Active</a>
<a href="#" class="button is-orange is-focused">Focus</a>
<a href="#" class="button is-orange is-inverted">Invert</a>
<a href="#" class="button is-orange is-outlined">Outline</a>
<a href="#" class="button is-orange" disabled>Disabled</a>
<a href="#" class="button is-orange is-outlined is-loading">Text</a>
<a href="#" class="button is-orange is-small">Small</a>
<a href="#" class="button is-orange is-medium">Medium</a>
<a href="#" class="button is-orange is-large">Large</a>
<hr>
<a href="#" class="button is-yellow">Color: yellow</a>
<a href="#" class="button is-yellow is-loading">Load</a>
<a href="#" class="button is-yellow is-active">Active</a>
<a href="#" class="button is-yellow is-focused">Focus</a>
<a href="#" class="button is-yellow is-inverted">Invert</a>
<a href="#" class="button is-yellow is-outlined">Outline</a>
<a href="#" class="button is-yellow" disabled>Disabled</a>
<a href="#" class="button is-yellow is-outlined is-loading">Text</a>
<a href="#" class="button is-yellow is-small">Small</a>
<a href="#" class="button is-yellow is-medium">Medium</a>
<a href="#" class="button is-yellow is-large">Large</a>
<hr>
<a href="#" class="button is-eggshell">Color: eggshell</a>
<a href="#" class="button is-eggshell is-loading">Load</a>
<a href="#" class="button is-eggshell is-active">Active</a>
<a href="#" class="button is-eggshell is-focused">Focus</a>
<a href="#" class="button is-eggshell is-inverted">Invert</a>
<a href="#" class="button is-eggshell is-outlined">Outline</a>
<a href="#" class="button is-eggshell" disabled>Disabled</a>
<a href="#" class="button is-eggshell is-outlined is-loading">Text</a>
<a href="#" class="button is-eggshell is-small">Small</a>
<a href="#" class="button is-eggshell is-medium">Medium</a>
<a href="#" class="button is-eggshell is-large">Large</a>
<hr>
<a href="#" class="button is-brown">Color: brown</a>
<a href="#" class="button is-brown is-loading">Load</a>
<a href="#" class="button is-brown is-active">Active</a>
<a href="#" class="button is-brown is-focused">Focus</a>
<a href="#" class="button is-brown is-inverted">Invert</a>
<a href="#" class="button is-brown is-outlined">Outline</a>
<a href="#" class="button is-brown" disabled>Disabled</a>
<a href="#" class="button is-brown is-outlined is-loading">Text</a>
<a href="#" class="button is-brown is-small">Small</a>
<a href="#" class="button is-brown is-medium">Medium</a>
<a href="#" class="button is-brown is-large">Large</a>
<hr>


</main>