{{> header-standard }}
<main>

<a href="#" class="button">Basic button</a>
<a href="#" class="button is-black">Primary Button</a>
<a href="#" class="button is-secondary is-outlined">Secondary Button</a>
<button class="button is-primary">Highlight button</button>
<button class="button is-link">Link button</button>

<hr>

<a href="#" class="button is-white">Color: white</a>
<a href="#" class="button is-white is-loading">Load</a>
<a href="#" class="button is-white is-active">Active</a>
<a href="#" class="button is-white is-focused">Focus</a>
<a href="#" class="button is-white is-inverted">Invert</a>
<a href="#" class="button is-white is-outlined">Outline</a>
<a href="#" class="button is-white" disabled>Disabled</a>
<a href="#" class="button is-white is-outlined is-loading">Text</a>
<a href="#" class="button is-white is-small">Small</a>
<a href="#" class="button is-white is-medium">Medium</a>
<a href="#" class="button is-white is-large">Large</a>
<hr>
<a href="#" class="button is-gray">Color: gray</a>
<a href="#" class="button is-gray is-loading">Load</a>
<a href="#" class="button is-gray is-active">Active</a>
<a href="#" class="button is-gray is-focused">Focus</a>
<a href="#" class="button is-gray is-inverted">Invert</a>
<a href="#" class="button is-gray is-outlined">Outline</a>
<a href="#" class="button is-gray" disabled>Disabled</a>
<a href="#" class="button is-gray is-outlined is-loading">Text</a>
<a href="#" class="button is-gray is-small">Small</a>
<a href="#" class="button is-gray is-medium">Medium</a>
<a href="#" class="button is-gray is-large">Large</a>
<hr>
<a href="#" class="button is-black">Color: black</a>
<a href="#" class="button is-black is-loading">Load</a>
<a href="#" class="button is-black is-active">Active</a>
<a href="#" class="button is-black is-focused">Focus</a>
<a href="#" class="button is-black is-inverted">Invert</a>
<a href="#" class="button is-black is-outlined">Outline</a>
<a href="#" class="button is-black" disabled>Disabled</a>
<a href="#" class="button is-black is-outlined is-loading">Text</a>
<a href="#" class="button is-black is-small">Small</a>
<a href="#" class="button is-black is-medium">Medium</a>
<a href="#" class="button is-black is-large">Large</a>
<hr>
<a href="#" class="button is-lime">Color: lime</a>
<a href="#" class="button is-lime is-loading">Load</a>
<a href="#" class="button is-lime is-active">Active</a>
<a href="#" class="button is-lime is-focused">Focus</a>
<a href="#" class="button is-lime is-inverted">Invert</a>
<a href="#" class="button is-lime is-outlined">Outline</a>
<a href="#" class="button is-lime" disabled>Disabled</a>
<a href="#" class="button is-lime is-outlined is-loading">Text</a>
<a href="#" class="button is-lime is-small">Small</a>
<a href="#" class="button is-lime is-medium">Medium</a>
<a href="#" class="button is-lime is-large">Large</a>
<hr>
<a href="#" class="button is-green">Color: green</a>
<a href="#" class="button is-green is-loading">Load</a>
<a href="#" class="button is-green is-active">Active</a>
<a href="#" class="button is-green is-focused">Focus</a>
<a href="#" class="button is-green is-inverted">Invert</a>
<a href="#" class="button is-green is-outlined">Outline</a>
<a href="#" class="button is-green" disabled>Disabled</a>
<a href="#" class="button is-green is-outlined is-loading">Text</a>
<a href="#" class="button is is-small-greentreeSmall green</a>
<a href="#" class="button is is-medium-green">Medium</a>
<a href="#" class="button is is-large-green">Large</a>
<hr>
<a href="#" class="button is-turquoise">Color: turquoise</a>
<a href="#" class="button is-turquoise is-loading">Load</a>
<a href="#" class="button is-turquoise is-active">Active</a>
<a href="#" class="button is-turquoise is-focused">Focus</a>
<a href="#" class="button is-turquoise is-inverted">Invert</a>
<a href="#" class="button is-turquoise is-outlined">Outline</a>
<a href="#" class="button is-turquoise" disabled>Disabled</a>
<a href="#" class="button is-turquoise is-outlined is-loading">Text</a>
<a href="#" class="button is-turquoise is-small">Small</a>
<a href="#" class="button is-turquoise is-medium">Medium</a>
<a href="#" class="button is-turquoise is-large">Large</a>
<hr>
<a href="#" class="button light-blue">Color: blue</a>
<a href="#" class="button light-blue is-loading">Load</a>
<a href="#" class="button light-blue is-active">Active</a>
<a href="#" class="button light-blue is-focused">Focus</a>
<a href="#" class="button light-blue is-inverted">Invert</a>
<a href="#" class="button light-blue is-outlined">Outline</a>
<a href="#" class="button light-blue" disabled>Disabled</a>
<a href="#" class="button light-blue is-outlined is-loading">Text</a>
<a href="#" class="button light-blue is-small">Small</a>
<a href="#" class="button light-blue is-medium">Medium</a>
<a href="#" class="button light-blue is-large">Large</a>
<hr>
<a href="#" class="button is-dark-blue">Color: dark-blue</a>
<a href="#" class="button is-dark-blue is-loading">Load</a>
<a href="#" class="button is-dark-blue is-active">Active</a>
<a href="#" class="button is-dark-blue is-focused">Focus</a>
<a href="#" class="button is-dark-blue is-inverted">Invert</a>
<a href="#" class="button is-dark-blue is-outlined">Outline</a>
<a href="#" class="button is-dark-blue" disabled>Disabled</a>
<a href="#" class="button is-dark-blue is-outlined is-loading">Text</a>
<a href="#" class="button is is-small-dark-blueSmall dark-blue</a>
<a href="#" class="button is is-medium-dark-blue">Medium</a>
<a href="#" class="button is is-large-dark-blue">Large</a>
<hr>
<a href="#" class="button is-purple">Color: purple</a>
<a href="#" class="button is-purple is-loading">Load</a>
<a href="#" class="button is-purple is-active">Active</a>
<a href="#" class="button is-purple is-focused">Focus</a>
<a href="#" class="button is-purple is-inverted">Invert</a>
<a href="#" class="button is-purple is-outlined">Outline</a>
<a href="#" class="button is-purple" disabled>Disabled</a>
<a href="#" class="button is-purple is-outlined is-loading">Text</a>
<a href="#" class="button is-purple is-small">Small</a>
<a href="#" class="button is-purple is-medium">Medium</a>
<a href="#" class="button is-purple is-large">Large</a>
<hr>
<a href="#" class="button is-magenta">Color: magenta</a>
<a href="#" class="button is-magenta is-loading">Load</a>
<a href="#" class="button is-magenta is-active">Active</a>
<a href="#" class="button is-magenta is-focused">Focus</a>
<a href="#" class="button is-magenta is-inverted">Invert</a>
<a href="#" class="button is-magenta is-outlined">Outline</a>
<a href="#" class="button is-magenta" disabled>Disabled</a>
<a href="#" class="button is-magenta is-outlined is-loading">Text</a>
<a href="#" class="button is-magenta is-small">Small</a>
<a href="#" class="button is-magenta is-medium">Medium</a>
<a href="#" class="button is-magenta is-large">Large</a>
<hr>
<a href="#" class="button is-red">Color: red</a>
<a href="#" class="button is-red is-loading">Load</a>
<a href="#" class="button is-red is-active">Active</a>
<a href="#" class="button is-red is-focused">Focus</a>
<a href="#" class="button is-red is-inverted">Invert</a>
<a href="#" class="button is-red is-outlined">Outline</a>
<a href="#" class="button is-red" disabled>Disabled</a>
<a href="#" class="button is-red is-outlined is-loading">Text</a>
<a href="#" class="button is-red is-small">Small</a>
<a href="#" class="button is-red is-medium">Medium</a>
<a href="#" class="button is-red is-large">Large</a>
<hr>
<a href="#" class="button is-orange">Color: orange</a>
<a href="#" class="button is-orange is-loading">Load</a>
<a href="#" class="button is-orange is-active">Active</a>
<a href="#" class="button is-orange is-focused">Focus</a>
<a href="#" class="button is-orange is-inverted">Invert</a>
<a href="#" class="button is-orange is-outlined">Outline</a>
<a href="#" class="button is-orange" disabled>Disabled</a>
<a href="#" class="button is-orange is-outlined is-loading">Text</a>
<a href="#" class="button is-orange is-small">Small</a>
<a href="#" class="button is-orange is-medium">Medium</a>
<a href="#" class="button is-orange is-large">Large</a>
<hr>
<a href="#" class="button is-yellow">Color: yellow</a>
<a href="#" class="button is-yellow is-loading">Load</a>
<a href="#" class="button is-yellow is-active">Active</a>
<a href="#" class="button is-yellow is-focused">Focus</a>
<a href="#" class="button is-yellow is-inverted">Invert</a>
<a href="#" class="button is-yellow is-outlined">Outline</a>
<a href="#" class="button is-yellow" disabled>Disabled</a>
<a href="#" class="button is-yellow is-outlined is-loading">Text</a>
<a href="#" class="button is-yellow is-small">Small</a>
<a href="#" class="button is-yellow is-medium">Medium</a>
<a href="#" class="button is-yellow is-large">Large</a>
<hr>
<a href="#" class="button is-beige">Color: beige</a>
<a href="#" class="button is-beige is-loading">Load</a>
<a href="#" class="button is-beige is-active">Active</a>
<a href="#" class="button is-beige is-focused">Focus</a>
<a href="#" class="button is-beige is-inverted">Invert</a>
<a href="#" class="button is-beige is-outlined">Outline</a>
<a href="#" class="button is-beige" disabled>Disabled</a>
<a href="#" class="button is-beige is-outlined is-loading">Text</a>
<a href="#" class="button is-beige is-small">Small</a>
<a href="#" class="button is-beige is-medium">Medium</a>
<a href="#" class="button is-beige is-large">Large</a>
<hr>
<a href="#" class="button is-brown">Color: brown</a>
<a href="#" class="button is-brown is-loading">Load</a>
<a href="#" class="button is-brown is-active">Active</a>
<a href="#" class="button is-brown is-focused">Focus</a>
<a href="#" class="button is-brown is-inverted">Invert</a>
<a href="#" class="button is-brown is-outlined">Outline</a>
<a href="#" class="button is-brown" disabled>Disabled</a>
<a href="#" class="button is-brown is-outlined is-loading">Text</a>
<a href="#" class="button is-brown is-small">Small</a>
<a href="#" class="button is-brown is-medium">Medium</a>
<a href="#" class="button is-brown is-large">Large</a>
<hr>


</main>