{{> header-standard }}
<div class="page page-checkout">

    <!--
        Below: 
        ".checkout-page" might be in <main>, or somewhere.
        It's used by flashflex/page-checkout.scss as a selector.
    -->
    <div class="checkout-container">

        <div class="address">
            <div class="checkout-prompt">
                <span class="fw-m">Checkout | John Smith </span>
                (Not you? <a href="checkout-register.html">Sign In</a> or <a href="checkout-register.html">Checkout as a Guest</a>)
            </div>

            <div class="checkout-prompt-box">
                <div class="step">Step 1</div>
                <div class="two-column">
                    <div class="col-one">
                        <h2>
                            Shipping Address
                            <a href="checkout-billing.html" class="change">Change</a>
                        </h2>
                        {{> typography-address-text }}
                    </div>
                    <div class="col-two">
                        <h2>
                            Billing Address
                            <a href="checkout-billing.html" class="change">Change</a>
                        </h2>
                        {{> typography-address-text }}
                    </div>
                </div>
            </div>

            <div class="checkout-prompt-box ">
                <span class="step">Step 2</span>

                <div class="two-column">
                    <div class="col-one">
                        <h2>Payment Method
                            <a href="checkout-payment.html" class="change">Change</a>
                        </h2>
                        <div class="mb30">
                            <span class="fw-m">Visa</span> ending in 5555
                        </div>

                        <div class="field">
                            <label class="label" for="card_name">
                                Add a promo code
                            </label>
                            <div class="d-flex">
                                <input type="text" class="input">
                                <button class="button is-black btn-apply">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkout-prompt-box active">
                <span class="step">Step 3</span>
                <h2>Review Items and Shipping</h2>
                
                <div class="shipping-method-wrapper">
                    <div class="shipping-item title">
                        <div>Shipping Method (Item 1)</div>
                        <div>Price</div>
                    </div>

                    <div class="shipping-item">
                        <div class="item">
                            <label class="radio">
                                <input type="radio" name="question">
                                <span></span>
                            </label>
                            <span class="item-name">USPS Ground Shipping (5-9 Business Dyas)</span>
                        </div>
                        <div class="price">Free</div>
                    </div>

                    <div class="shipping-item">
                        <div class="item">
                            <label class="radio">
                                <input type="radio" name="question">
                                <span></span>
                            </label>
                            <span class="item-name">FedEx Express Shipping (3-5 Business Days)</span>
                        </div>
                        <div class="price">$10.00</div>
                    </div>

                    <div class="shipping-item">
                        <div class="item">
                            <label class="radio">
                                <input type="radio" name="question">
                                <span></span>
                            </label>
                            <span class="item-name">UPS Express Shipping (2 Business Days before 12pm EST)</span>
                        </div>
                        <div class="price">$30.00</div>
                    </div>
                </div>

                <div class="shipping-method-wrapper">
                    <div class="shipping-item title">
                        <div>Shipping Method (Item 2)</div>
                        <div>Price</div>
                    </div>

                    <div class="d-flex">
                        <div class="card order">
                            <div class="left">
                                <div class="image" style="background-image: url('/assets/images/artwork/art-2.jpg');">
                                    <img src="/assets/images/artwork/art-2.jpg">
                                </div>
                                <div class="content">
                                    <div class="artist">
                                        Camille Oudinot
                                    </div>
                                    <div class="title">
                                        Fading Faces
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item-container">
                            <div class="shipping-item">
                                <div class="item">
                                    <label class="radio">
                                        <input type="radio" name="question2">
                                        <span></span>
                                        UPS Standard (Scheduled day-definite delivery within five days throughout Europe depending on origin and destination.)
                                    </label>
                                </div>
                                <div class="price">Free</div>
                            </div>

                            <div class="shipping-item">
                                <div>
                                    <label class="radio">
                                        <input type="radio" name="question2">
                                        <span></span>
                                        FedEx Express Shipping (3-5 Business Days)
                                    </label>
                                </div>
                                <div>$10.00</div>
                            </div>

                            <div class="shipping-item">
                                <div>
                                    <label class="radio">
                                        <input type="radio" name="question2">
                                        <span></span>
                                        UPS Express Shipping (2 Business Days before 12pm EST)
                                    </label>
                                </div>
                                <div>$30.00</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-center-h mb30">
                    <button class="button is-primary is-black btn-place-order">Place Your Order</button>
                    <span class="fw-m">Order Total: $1760.00</span>
                </div>

                <div class="text-s ">By placing your order, you agree to Marketplace's <a href="#" class="link-black fw-m">Terms of Use</a> and <a href="#" class="link-black fw-m">Privacy Policy</a> <span class="ml30">Need Help? <a href="#">Contact Us</a></span></div>

            </div>
        </div>

        <div class="summary">
            <div class="checkout-prompt">
                <span class="fw-m">Order Summary</span>
            </div>
            <button class="button is-black is-fullwidth">Place Your Order</button>
            <div class="text-s mb25">By placing your order, you agree to Marketplace's <br><a href="#" class="link-black fw-m">Terms of Use</a> and <a href="#" class="link-black fw-m">Privacy Policy</a></div>

            <div class="card checkout">
                <div class="left">
                    <div class="image" style="background-image: url('/assets/images/artwork/art-2.jpg');">
                        <img src="/assets/images/artwork/art-2.jpg">
                    </div>
                    <div class="content">
                        <div class="artist">
                            Camille Oudinot
                        </div>
                        <div class="title">
                            Fading Faces
                        </div>
                    </div>
                </div>
                <div class="right">
                    <i class="at at-2x at-arrows-remove"></i>
                    <div class="price">
                        $930
                    </div>
                </div>
            </div>

            <div class="card checkout">
                <div class="left">
                    <div class="image" style="background-image: url('/assets/images/artwork/art-2.jpg');">
                        <img src="/assets/images/artwork/art-2.jpg">
                    </div>
                    <div class="content">
                        <div class="artist">
                            Camille Oudinot
                        </div>
                        <div class="title">
                            Fading Faces
                        </div>
                    </div>
                </div>
                <div class="right">
                    <i class="at at-2x at-arrows-remove"></i>
                    <div class="price">
                        $930
                    </div>
                </div>
            </div>

            <div class="text-s">
                <div class="subtotal">
                    <div class="flex-between pb10 fw-m">
                        <div>Subtotal</div>
                        <div>$1760.00</div>
                    </div>
                    <div class="flex-between pb10">
                        <div>Shipping (Item 1)</div>
                        <div>$0.00</div>
                    </div>
                    <div class="flex-between pb10">
                        <div>Shipping (Item 2)</div>
                        <div>$10.00</div>
                    </div>
                </div>

                <div class="total flex-between mb25 fw-m">
                    <div>Total</div>
                    <div>$1760.00</div>
                </div>
                
                <div>Need Help? <a href="#">Contact Us</a></div>
            </div>
        </div>

    </div>

</div>
{{> footer-standard }}
