<!-- Add This div page classes on <body> tag -->
<div class="page">
{{> header-logged-in }}

<div id="wrapper">
    
    {{> sidebar-standard }}

    <div id="content">

        <div class="page-title">
            <h1>Collections</h1>
        </div><!-- .page-title -->

        <p class="fw-m">You haven't added any pieces to your collection.<p>

        <p class="maxWidth700">Click the "Add to Collection" button beside a piece to save it and organize your prices into different collections. This makes it easier to review, share, or purchase later. We may even feature one of your collections on the Art Tap home page if you choose to make it public.</p>

        <button class="button is-black btn-l mt15">Discover More Art</button>

    </div><!-- #content -->

</div><!-- #wrapper -->

{{> footer-standard }}
</div><!-- .page -->
