{{> header-standard }}

<h1>Helpful misc elements used in website are listed here</h1>

<p>Heading inside link is in black color if want to make it have primary color, use is-link in <code>&lt;h*&gt;</code></p>
<a href="/checkout/shipping"><h2 class="is-link">Review Items and Shipping</h2></a>

<i class="icon-circle at at-check success-check"></i>

<div class="flex flex-items-center upload-profile-photo">
    <input type="file" class="input-image {{ $elementClass }}" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
    <div class="mr15"><i class="at at-account icon-circle at-icon-profile-photo"></i></div>
    <div>Upload A Profile Photo</div>
</div>
