<!-- Add This div page classes on <body> tag -->
<div class="page page-faq">
{{> header-logged-in }}

<div id="wrapper">

    {{> sidebar-faq }}

    <div id="content">

        <div class="page-title">
            <h2 class="has-border">FAQs</h2>
            <div class="with-page-title">
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Search Support">
                    <span class="icon is-small is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

        <dl class="at accordion">
            <dt>What is Art Tap?<i class="at at-arrows-plus"></i></dt>
            <dd>
                <p>Art is for everyone, right? We think so. So we launched Art Tap to unlock gallery doors and break down studio walls (metaphorically, that is) by putting art in the hands of enthusiasts everywhere.</p>

                <p>We’re a curated marketplace for emerging and seasoned professional fine artists. Each artist selected for the site has the ability to build their own profile and manage the sales of their original artwork. We sell original paintings, photographs, works on paper, limited edition prints, and mixed media artwork. All art is priced between $100-$10,000 USD and Art Tap receieves only half the commission of traditional art galleries. All these aspects make it more affordable for art collectors, interior decorators, investors and even first time art buyers, to own profesional art.</p>

                <p>We believe that by making art more accessible and enjoyable, we can empower artists, create meaningful relationships between people with a shared interests in art and broaden our horizons by experiencing beautiful, thought-provoking, and expressive artwork.</p>

                {{> info-helpful }}
            </dd>

            <dt>How do I register?<i class="at at-arrows-plus"></i></dt>
            <dd>
                <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

                {{> info-helpful }}
            </dd>

            <dt>How do I create my profile?<i class="at at-arrows-plus"></i></dt>
            <dd>
                <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

                {{> info-helpful }}
            </dd>

            <dt>What are some ways to discover new art/artists?<i class="at at-arrows-plus"></i></dt>
            <dd>
                <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

                {{> info-helpful }}
            </dd>

            <dt>How do I find a specific artwork/artist on Art Tap?<i class="at at-arrows-plus"></i></dt>
            <dd>
                <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

                {{> info-helpful }}
            </dd>

            <dt>How do I save art I like?<i class="at at-arrows-plus"></i></dt>
            <dd>
                <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

                {{> info-helpful }}
            </dd>
        </dl>

        {{> still-need-help }}

    </div><!-- #content -->

</div><!-- #wrapper -->

{{> footer-standard }}
</div><!-- .page.page-faq -->
