{{> header-standard }}
<main>

<style type="text/css">
	.row {
		/*border: 1px solid red;*/
	}
	.column {
		/*border: 1px solid green;*/
	}
</style>

<h5 documentation>(This page is in progress...)</h5><hr documentation>

<div class="row">
	<div class="column col-xs-9">
		<strong>Checkout | Robyn Asquini </strong>
		(Not you? <a>Sign In</a> or <a>Checkout as a Guest</a>)
	</div>
	<div class="column col-xs-5">
		<strong>
			Order Summary
		</strong>
	</div>
</div>

<div class="row">
	<div class="column col-xs-4">
		<h4>Shipping Address</h4>
		<a>Change</a>
		{{> typography-address-text }}
	</div>
	<div class="column col-xs-5">
		<h4>Billing Address</h4>
		<form>

<div class="field">
    <label class="label">First Name</label>
    <div class="control">
        <input class="input" type="fname" placeholder="" value="">
    </div>
</div>
<div class="field">
    <label class="label">Last Name</label>
    <div class="control">
        <input class="input" type="lname" placeholder="" value="">
    </div>
</div>
<div class="field">
    <label class="label">Address Line 1</label>
    <div class="control">
        <input class="input" type="subject" placeholder="" value="">
    </div>
</div>
<div class="field">
    <label class="label">Address Line 2 <span>Optional</span></label>
    <div class="control">
        <input class="input" type="subject" placeholder="Apt., Suite, etc." value="">
    </div>
</div>
<div class="field">
    <label class="label">State</label>
    <div class="control">
        <div class="select select2-wrapper is-fullwidth">
            <select class="select2">
                <option value="">State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>
    </div>
</div>
<div class="field">
    <label class="label">State / Province</label>
    <div class="control">
        <input class="input" name="province" placeholder="" value="">
    </div>
</div>
<div class="field">
    <label class="label">City</label>
    <div class="control">
        <input class="input" name="city" placeholder="" value="">
    </div>
</div>
<div class="field">
    <label class="label">Phone Number</label>
    <div class="control">
        <input class="input" name="phone" placeholder="" value="">
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="checkbox" for="save_info">
            <input type="checkbox" id="save_info" name="save_info">
            <span></span>
            Save this information for next time
        </label>
    </div>
</div>
<div class="field">
	<div class="control">
		<button class="button is-link">Submit</button>
	</div>
</div>



		</form>
	</div>
	<div class="column col-xs-5">

<!-- <ul> -->
<!-- </ul> -->
		<div class="row">
			<div class="col-xs-7">
				{{#slice 0 1 dataset}}
					{{> card-square-single }}
				{{/slice}}
			</div>
			<div class="col-xs-7">
				hi
				<i class="fa fa-delete"></i>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-xs-7">
				{{#slice 1 2 dataset}}
					{{> card-square-single }}
				{{/slice}}
			</div>
			<div class="col-xs-7">
				<i class="fa fa-delete"></i>
			</div>
		</div>

		<hr />

	</div>

</main>

<script type="text/javascript">
    $(document).ready(function() {
        $('select.select2').select2();
    });
</script>

{{> footer-standard }}