{{> header-standard }}
<style type="text/css">
    .column {
        /*border: 1px dotted red;*/
    }
</style>
<main class="checkout-page">

    <!--
        Below: 
        ".checkout-page" might be in <main>, or somewhere.
        It's used by flashflex/page-checkout.scss as a selector.
    -->
    <div class="row">
        <div class="address column col-xs-10">
            <div class="checkout-prompt">
                <strong>Checkout | John Smith </strong>
                (Not you? <a>Sign In</a> or <a>Checkout as a Guest</a>)
            </div>
            <span class="step">Step 1</span>
            <div class="row checkout-prompt-box active">
                <div class="column col-xs-6">
                    <h4>
                        Shipping Address
                        <a class="change">Change</a>
                    </h4>
                    {{> typography-address-text }}
                </div>
                <div class="column has-left-border is-extra-padded col-xs-8">
                    <h4>Billing Address</h4>
                    {{> typography-billing-address-v1 }}
                </div>
            </div>

            <div class="checkout-prompt-box">
                <span class="step">Step 2</span>
                <h4>Payment Method</h4>
            </div>

            <div class="checkout-prompt-box">
                <span class="step">Step 3</span>
                <h4>Review Items and Shipping</h4>
            </div>

        </div>
        <div class="summary column has-left-border is-padded col-xs-4">
            <div class="checkout-prompt">
                <strong>Order Summary</strong>
            </div>
            {{#slice 0 1 dataset}}
                {{> card-checkout }}
            {{/slice}}
            {{#slice 1 2 dataset}}
                {{> card-checkout }}
            {{/slice}}
        </div>
    </div>

</main>
{{> footer-standard }}