{{> header-standard }}
<main>
	<form>


<h1>Contact Us</h1>

<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input class="input" type="name" placeholder="Name" value="">
    </div>
</div>

<div class="field">
    <label class="label">Subject <span>Optional</span></label>
    <div class="control">
        <input class="input" type="subject" placeholder="Subject" value="">
    </div>
</div>

<div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
        <input class="input" type="email" placeholder="Email input" value="">
        <span class="icon is-small is-left">
            <i class="at at-email"></i>
        </span>
    </div>
</div>

<div class="field">
    <label class="label">Message</label>
    <div class="control has-icons-left">
    	<textarea class="textarea" placeholder=""></textarea>
    </div>
</div>



	</form>
</main>
{{> footer-standard }}