<!-- Add This div page classes on <body> tag -->
<div class="page">
{{> header-logged-in }}

<div id="wrapper">
    
    {{> sidebar-standard }}

    <div id="content">

        <div class="page-title">
            <h1>Hearts <small class="has-icon"><i class="at at-heart-o"></i></small></h1>
        </div><!-- .page-title -->

        <p>You haven't added hearts to any pieces.</p>

        <p class="fw-m">Click the <i class="at at-heart-o"></i> beside a piece to save it and make it easier to review, share, or purchase later.</p>

        <button class="button is-black btn-l mt15">Discover More Art</button>

    </div><!-- #content -->

</div><!-- #wrapper -->

{{> footer-standard }}
</div><!-- .page -->
