<div class="page page-help">
{{> header-logged-in }}

<div id="wrapper">

    <div id="content">

        <!-- visible on mobile -->
        <div class="page-title">
            <h2 class="has-border">Marketplace Support</h2>

            <div class="with-page-title">
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Search Support">
                    <span class="icon is-small is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

        <!-- visible on desktop-up -->
        <div class="seach-container">
            <p>Marketplace Support</p>
            <input class="input-search" type="text" name="search" placeholder="Search questions, key words, or topics">
        </div>

        <h3 documentation>With 2 Column</h3>
        <div class="help-container">

            <div class="block-help">
                <h4 class="has-border has-link">FAQs <a href="faq.html">See More</a></h4>

                <dl class="at accordion">
                    <dt>How does Marketplace work?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How do I register?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How do I create my profile?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How can I save art I like?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>
                </dl>
            </div><!-- .block-help -->

            <div class="block-help">
                <h4 class="has-border has-link">For Collectors <a href="#">See More</a></h4>

                <dl class="at accordion ">
                    <dt>How can I easily find art I like?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How do I know my payments are secure?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How does shipping work?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>Can I message artists?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>
                </dl>
            </div><!-- .block-help -->

        </div><!-- .help-container -->


        <!-- Use extra class .sb for 3 column, it's for better alignment, look scss for more info -->
        <h3 documentation>With 3 Column <small>(add class .sb on help-container for 3 column)</h3>
        <div class="help-container sb">

            <div class="block-help">
                <h4 class="has-border has-link">FAQs <a href="faq.html">See More</a></h4>

                <dl class="at accordion">
                    <dt>How does Marketplace work?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How do I register?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How do I create my profile?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How can I save art I like?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>
                </dl>
            </div><!-- .block-help -->

            <div class="block-help">
                <h4 class="has-border has-link">For Collectors <a href="#">See More</a></h4>

                <dl class="at accordion ">
                    <dt>How can I easily find art I like?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How do I know my payments are secure?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How does shipping work?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>Can I message artists?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>
                </dl>
            </div><!-- .block-help -->

            <div class="block-help">
                <h4 class="has-border has-link">For Artists <a href="#">See More</a></h4>

                <dl class="at accordion">
                    <dt>How can I become an Marketplace artist?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>How do I post my artwork on the site?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>What do I do whan a piece is purchased?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>

                    <dt>Can I also show my work in other places?<i class="at at-arrows-plus"></i></dt>
                    <dd>
                        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                        {{> info-helpful }}
                    </dd>
                </dl>
            </div><!-- .block-help -->

        </div><!-- .help-container -->

        {{> still-need-help }}

    </div><!-- #content -->

</div><!-- #wrapper -->

{{> footer-standard }}
</div><!-- .page-.page-help -->
