<h1>ArtTap Design Elements</h1>
<p>
	<a href="https://projects.invisionapp.com/d/main#/projects" target="_blank">InVisionApp Prototypes with responsive layouts</a>
	<a href="https://github.com/wflaschka/at-ui-ux2/tree/flashflex" target="_blank">ArtTap design element github repository</a>
</p>

<h3>Elements and pages</h3>
<ul>
    <li><a href="public-page-sample.html"><em>Sample public page</em> -- multiple components</a></li>
    <li>
    	<strong>Cards</strong>
    	<ul>
			<li>
				<a href="card-square-row.html"><em>Row</em> of Square Cards</a>
				<a href="components/cards/card-square.html">Square Card <em>Single</em> (related artwork, square picture)</a>
			</li>
			<li>
				<a href="card-unlabeled-row.html"><em>Row</em> of Unlabeled Cards</a>
				<a href="components/cards/card-unlabeled.html">Unlabeled Card <em>Single</em> (ArtistPage-Artwork top row)</a>
			</li>
			<li>
				<a href="card-edit-row.html"><em>Row</em> of Editable Cards</a>
				<a href="components/cards/card-edit.html">Editable Card <em>Single</em> (ArtistAccount-Artwork see more)</a>
				<a href="components/cards/card-edit-empty.html">Editable Card <em>EMPTY</em></a>

			</li>
			<li>
				<a href="card-masonry-row-javascript.html"><em>COLLECTION</em> of Masonry Cards [Javascript]</a> 
				<a href="components/cards/card-masonry.html">Masonry Card <em>Single</em> (ArtistPage-Artwork after artist name)</a>
			</li>
			<li>
				<a href="card-artist-row.html"><em>Row</em> of Artist Cards</a>
				<a href="components/cards/card-artist.html">Artist Card <em>Single</em> (ArtistPage-Artwork "Related Artists" row)</a>
				<ul>
					<li todo>Make avatars show up again</li>
					<li todo>Avatar size (see below)</li>
					<li todo>Padding around content interior so it doesn't go right to border</li>
				</ul>
			</li>
			<li todo>
				When cards overflow a row, fade on the right side
			</li>
		</ul>
	</li>
	<li>
		<a href="modals.html">Modals</a>
		<ul>
			<li><a href="components/modals/modal-basic.html">Basic modal</a></li>
		</ul>
	</li>
	<li>
		<strong>Details</strong>
		<ul>
			<li>
				<a href="hearts.html"><em>Multiple</em> hearts</a>
				<a href="components/details/heart.html"><em>Single</em> Heart</a>
			</li>
			<li>
				<a href="components/details/tag.html">Tag</a>
			</li>
		</ul>
	</li>
	<li>
		<strong>Typography</strong>
		<ul>
			<li>
				<a href="components/typography/typography-statistics.html">Typography statistics</a>
			</li>
			<li>
				<a href="components/typography/typography-form.html">Forms</a>
				<ul>
					<li>
						<a href="form-contact.html">Contact Form (ContactUs)</a>
					</li>
					<li>
						<a href="form-checkout-billing.html">Checkout Billing Form</a>
					</li>
					<li>
						<a href="components/typography/typography-select2.html">Selects/dropdown (with Select2 javascript)</a>
					</li>
				</ul>
			</li>
			<li todo>
				Automatic header rules in modals
			</li>
		</ul>
	</li>
    <li>
    	<strong>Detail items</strong>
    	<ul>
			<li>
				<a href="components/details/avatar.html"><em>Single</em> Avatar (round profile graphic)</a>
				<a href="avatar-bunch.html"><strong>Bunch</strong> of Avatars</a>
				<ul>
					<li todo>Fix errors after adding <tt>box-sizing: border-box;</tt> to <tt>styles/setup.scss</tt></li>
					<li todo>Conform avatar size</li>
					<li todo>Better centering CSS in card</li>
				</ul>
			</li>
    	</ul>
    </li>
</ul>
