<h1>ArtTap Design Elements</h1>
<p>
    <a href="https://projects.invisionapp.com/d/main#/projects" target="_blank">InVisionApp Prototypes with responsive layouts</a>
    <a href="https://github.com/wflaschka/at-ui-ux2" target="_blank">ArtTap design element github repository</a>
</p>

<h3>Elements and pages</h3>
<ul>
    <li>
        <strong>Test of Modal <span class="new">Temporary</span></strong>
        <ul>
            <li>
                <a href="modal-product-wf.html">modal-product-wf</a>
            </li>
            <li>
                Made with newish components:
                <ul>
                    <li><a href="components/details/follow-artist-toggle.html">Toggle followers with class</a></li>
                    <!-- <li><a href="components/details/add-to-cart-button.html">add-to-cart-button</a></li> -->
                    <li><a href="components/details/add-to-collection.html">add-to-collection block</a></li>
                    <li><a href="components/details/icon-info.html">icon-info</a></li>
                    <li><a href="components/details/square-heart-button-toggle.html">square-heart-button</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <strong>Pages</strong>
        <ul>
            <li><a href="footer.html">Footer</a> <span class="new">Updated - Full Responsive</span></li>
            <!-- <li><a href="public-page-sample.html"><em>Sample public page</em> -- test of multiple components</a></li> -->
            <li><a href="form-checkout-billing.html"><em>Checkout/Billing Form Page</em> -- test of multiple components</a></li>
            <li><a href="logged-in-header.html"><em>Header Logged In</em> Cart with Item</a> <span class="new">Updated</span></li>
            <li><a href="register.html"><em>Register / Login / Reset Password</em> Empty Cart - Header No Dropshadow</a> <span class="new">Updated - Full Responsive</span></li>
            <li><a href="landing.html"><em>Landing</em> -- Slick Slider</a></li>
            <li><a href="product.html"><em>Product</em> (Inprog)</a></li>
            <li><a href="apply-as-an-artist.html"><em>Apply as an Artist</em></a> <span class="new">Updated - Full Responsive</span></li>
            <li><a href="faq.html"><em>FAQs</em> Sidebar and Single Accordion</a></li>
            <li><a href="all-support.html"><em>All Support</em> Multi Accordion</a></li>
            <li><a href="artist-inbox.html"><em>Artist</em> Inbox</a></li>
            <li><a href="artist-inbox-message.html"><em>Artist</em> Inbox Message / Reply</a></li>
            <li><a href="artist-public-profile.html"><em>artist</em> Public Profile</a></li>
            <li><a href="404.html"><em>404</em> Error Page</a></li>
        </ul>
    </li>
    <li>
        <strong>Cards</strong>
        <ul>
            <li>
                <a href="card-square-slider.html"><em>Slider</em> of Square Cards</a>
                <a href="card-square-row.html"><em>Row</em> of Square Cards</a>
                <a href="components/cards/card-square.html">Square Card <em>Single</em> (related artwork, square picture)</a>
                (With fade demo)
            </li>
            <li>
                <a href="components/cards/card-checkout.html">Art card for checkout/billing <em>Single</em> (Cart-Full)</a>
            </li>
            <li>
                <a href="card-unlabeled-row.html"><em>Row</em> of Unlabeled Cards</a>
                <a href="components/cards/card-unlabeled.html">Unlabeled Card <em>Single</em> (ArtistPage-Artwork top row)</a>
            </li>
            <li>
                <a href="card-edit-row.html"><em>Row</em> of Editable Cards</a>
                <a href="components/cards/card-edit.html">Editable Card <em>Single</em> (ArtistAccount-Artwork see more)</a>
                <a href="components/cards/card-edit-empty.html">Editable Card <em>EMPTY</em></a>

            </li>
            <li>
                <a href="card-masonry-row-javascript.html"><em>COLLECTION</em> of Masonry Cards [Javascript]</a> 
                <a href="components/cards/card-masonry.html">Masonry Card <em>Single</em> (ArtistPage-Artwork after artist name)</a>
            </li>
            <li>
                <a href="card-artist-row.html"><em>Row</em> of Artist Cards</a>
                <a href="components/cards/card-artist.html">Artist Card <em>Single</em> (ArtistPage-Artwork "Related Artists" row)</a>
            </li>
        </ul>
    </li>
    <li>
        <strong>Modals</strong>
        <ul>
            <li><a href="modals.html">Modal <em>Showcase</em></a></li>
            <li><a href="components/modals/modal-signout.html">Signout</a></li>
            <li><a href="modal-product.html">Product</a></li>
            <li><a href="modal-add-a-show.html"><em>Add a Show</em> -- Artist Show Add Upcoming Promotion</a></li>
            <li>
                <a href="components/modals/modal-basic.html">Basic modal</a>
                <!-- <ul>
                    <li todo>Automatic header rules in modals per design...</li>
                </ul> -->
            </li>
            <li><a href="components/modals/modal-newsletter.html">News Letter</a></li>
        </ul>
    </li>
    <li>
        <strong>Large Elements</strong>
        <ul>
            <li><a href="cropper.html">Cropper - <em>Image Editor when Upload Image</em></a> <span class="new">New - Full Responsive</span></li>
            <li><a>Sliders/carousels from design</a></li>
            <li><a>Slide-in panels</a></li>
            <li><a href="search-form-ui.html">Search Form UI <em>Landing page</em></a></li>
            <li><a href="components/details/artist-inbox.html">Artist inbox</a></li>
            <li><a href="components/details/artist-inbox-message.html">Artist inbox message / reply</a></li>
        </ul>
    </li>
    <li>
        <strong>Typography</strong>
        <ul>
            <li><a href="arttap-icons.html"><em>ArtTap Icons</em></a> <span class="new">New</span></li>
            <li><a href="components/typography/typography-statistics.html">Typography statistics</a></li>
            <li><a href="components/typography/typography-dashboard-stats.html">Dashboard Stats</a></li>
            <li>
                <a href="components/typography/see-more-fade-info.html">See More with fade info</a>
                <a href="components/typography/see-more.html">See More <em>Single</em></a>
            </li>
            <li><a href="components/typography/order.html">Order</a></li>
            <li><a href="../assets/fonts/arttap/icons-reference.html">Icons</a></li>
            <li><a>Inches and fractions of an inch (3 2/5")</a></li>
            <li>
                <a href="components/typography/typography-form.html">Forms</a>
                <ul>
                    <li>
                        <a href="components/typography/typography-art-search.html">Artwork search form <em>Filters</em></a>
                    </li>
                    <li>
                        <a href="form-contact.html">Contact Form (ContactUs)</a>
                    </li>
                    <li>
                        <a href="form-checkout-billing.html">Checkout Billing Form</a>
                    </li>
                    <li>
                        <a href="components/typography/typography-select2.html">Selects/dropdown (with Select2 javascript)</a>
                    </li>
                    <li><a href="components/typography/typography-form.html">Fancy checkboxes and radios</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <strong>Detail elements</strong>
        <ul>
            <li><a href="components/details/flash-messages.html">Flash Messages</a> <span class="new">New</span></li>
            <li><a href="components/details/cross-image-text.html">Cross Image Text</a> <span class="new">New</span></li>
            <li>
                <a href="components/details/heart.html"><em>Single</em> Heart</a>
                <a href="hearts.html"><em>Multiple</em> hearts</a>
            </li>
            <li>
                <a href="components/details/tag.html">Tag</a>
            </li>
            <li>
                <a href="components/details/avatar.html"><em>Single</em> Avatar (round profile graphic)</a>
                <a href="avatar-bunch.html"><strong>Bunch</strong> of Avatars</a>
            </li>
            <li>
                <a href="buttons.html">Buttons (inprog)</a>
                <ul>
                    <li><a href="components/details/square-heart-button-toggle.html">Square heart button</a> <span class="new">New</span></li>
                </ul>
            </li>
            <li><a href="components/details/accordion.html">Accordion</a></li>
            <li><a href="components/details/tooltip.html">Tooltip</a></li>
            <li><a href="components/details/curated-collections.html">Curated Collections</a></li>
            <li><a href="components/details/follows.html">Follows</a></li>
            <li><a href="components/details/progress.html">Progress - <em>Progress Bar</em></a></li>
            <li><a href="components/details/user-header.html">User Header - <em>Artist / Collector</em></a></li>
            <li><a href="components/details/tabs.html">Tabs</a></li>
            <li><a href="components/details/dropdown.html">Dropdown</a></li>
        </ul>
    </li>
    <li>
        <strong>Chips</strong>
        <ul>
            <li><a href="components/details/follow-artist-toggle.html">Toggle followers with class</a> <span class="new">New</span></li>
        </ul>
    </li>

<!-- 
            <li><a>Chips</a></li>
            <li><a>Separators</a></li>
            <li><a>Image dropzone</a></li>
            <li><a>Tooltips</a></li>
            <li><a>User <i>Chip</i> -- avatar and name</a></li>
    <li>
        <strong>More TBD</strong>
    </li>
 -->
</ul>
