<p><a href="#basic" rel="modal:open">Product Modal</a></p>

<div id="basic" style="display:none;">
	<a href="#" rel="modal:close" class="close-modal"><i class="at at-arrows-remove"></i></a>

    <div class="product-container">
        <div class="product-image">
            <div class="product-slider">
                <div><img class="responsive" src="../../assets/images/artwork/art-1.jpg"></div>
                <div><img class="responsive" src="../../assets/images/artwork/art-2.jpg"></div>
                <div><img class="responsive" src="../../assets/images/artwork/art-3.jpg"></div>
                <div><img class="responsive" src="../../assets/images/artwork/art-4.jpg"></div>
                <div><img class="responsive" src="../../assets/images/artwork/art-5.jpg"></div>
                <div><img class="responsive" src="../../assets/images/artwork/art-6.jpg"></div>
            </div>
        </div>

        <div class="product-detail">

            <h4>Alex Kwok</h4>
            {{> follow-artist-toggle-single}}

            <div class="description">
                <div class="title">Tesselation_02, 2013</div>
                <div class="series">Tesselations Series</div>
                <div class="type">Giclee Photograph</div>
                <div class="sizes">9 <small>9/16</small> × 12 <small>1/2</small> in (24.3 × 31.8 cm)</div>
                <div class="edition">Limited Edition of 25</div>
            </div>

            <div class="gallery-price">
                <div class="discounted">$2,300.00 <small>USD</small></div>
                <div class="regular">Reg. Gallery Price <s>$3,067.00</s> USD 
                    {{> icon-info }}
                </div>
            </div>

            <div class="edition-number">
                <div class="prompt">
                    <div class="edition-text">Select Edition Number</div>
                    <div class="edition-remain">Only 4 left!</div>
                </div>

                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth select2-wrapper">
                            <select class="select2">
                                <option value="">1 / 25</option>
                                <option value="AL">2 / 25</option>
                                <option value="AK">3 / 25</option>
                                <option value="AZ">4 / 25</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div><!-- .edition-number -->

            {{> add-to-cart-button }}

            {{> add-to-collection }}

            <div class="saved-collection">50 Saved to Collection  | <i class="fa fa-heart-o"></i> 60</div>

            <div class="sep small"></div>

            <dl class="at accordion">
                <dt>About?<i class="at at-arrows-plus"></i></dt>
                <dd>
                    <p>This painting is made to question a fast-paced lifestyle. Dogs racing around a track are employed to represent a critique of the human act concerning daily life at work. Run The Circle...</p>
                </dd>

                <dt>Shipping and Delivery<i class="at at-arrows-plus"></i></dt>
                <dd>
                    <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
                </dd>
            </dl>
        </div><!-- .product-detail -->
    </div><!-- .product-container -->

</div><!-- modal -->

<script type="text/javascript">
    defer(function () {
    	$.modal.defaults = {
    		closeExisting : true,      // Close existing modals. Set this to false if you need to stack multiple modal instances.
    		escapeClose   : true,      // Allows the user to close the modal by pressing `ESC`
    		clickClose    : true,      // Allows the user to close the modal by clicking the overlay
    		closeText     : '',        // Text content for the close <a> tag.
    		closeClass    : '',        // Add additional class(es) to the close <a> tag.
    		showClose     : true,      // Shows a (X) icon/link in the top-right corner
    		modalClass    : "modal large",   // CSS class added to the element being displayed in the modal.
    		blockerClass  : "blocker", // CSS class added to the overlay (blocker).
    		spinnerHtml   : null,      // HTML appended to the default spinner during AJAX requests.
    		showSpinner   : true,      // Enable/disable the default spinner during AJAX requests.
    		fadeDuration  : 250,       // Number of milliseconds the fade transition takes (null means no transition)
    		fadeDelay     : 0.8        // Point during the overlay's fade-in that the modal begins to fade in (.5 = 50%, 1.5 = 150%, etc.)
    	};

        $("#basic").show().modal({
            escapeClose: false,
            clickClose: false,
            showClose: false
        });
        
        $('#basic').on($.modal.OPEN, function(event, modal) {
            $('.product-slider').slick({
                dots: true,
                arrows: false,
                adaptiveHeight: true
            });
        });


    });
</script>
