<div class="">

    <p>
        Click here to open <a href="#basic" class="launch-modal" rel="modal:open">Product Modal</a>
    </p>

    <div id="basic" class="product-wf" style="display:none;">
        <a href="#" rel="modal:close" class="close-modal">
            <i class="at at-arrows-remove"></i>
        </a>

        <div class="row">

            <div class="image column col-xs">
            <!-- <div class="col-lg-10 col-sm-8 col-xs-12"> -->
                <!-- <div class="row center-sm"> -->
                    <!-- <div class="col-lg-8 col-sm-8 col-xs-12"> -->
                        <!-- <div class="box"> -->
                            <img class="responsive" src="../../assets/images/artwork/art-1.jpg">
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
            </div>

            <div class="detail column col-xs">
            <!-- <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12"> -->
                <!-- <div class="box"> -->

                    <div class="product-detail">

                        <!-- <div class="artist-name">Alex Kwok</div> -->
                        <h2>Alex Kwok</h2>
                        {{> follow-artist-toggle-single}}

                        <div class="description">
                            <div class="title">Tesselation_02, 2013</div>
                            <div class="series">Tesselations Series</div>
                            <div class="type">Giclee Photograph</div>
                            <div class="sizes">9 <small>9/16</small> × 12 <small>1/2</small> in (24.3 × 31.8 cm)</div>
                            <div class="edition">Limited Edition of 25</div>
                        </div>

                        <div class="gallery-price">
                            <div class="discounted">$2,300.00 <small>USD</small></div>
                            <div class="regular">Reg. Gallery Price <s>$3,067.00</s> USD 
                                {{> icon-info }}
                            </div>
                        </div>

                        <div class="edition-number">
                            <!-- <div class="row mb10"> -->
                            <div class="prompt">
                                <!-- <div class="col-xs-9"> -->
                                    <div class="edition-number-text">Select Edition Number</div>
                                <!-- </div> -->
                                <!-- <div class="col-xs-5 text-right"> -->
                                    <div class="edition-number-remain">Only 4 left!</div>
                                <!-- </div> -->
                            </div>

                            <div class="field">
                                <div class="control">
                                    <div class="select is-fullwidth select2-wrapper">
                                        <select class="select2">
                                            <option value="">1 / 25</option>
                                            <option value="AL">2 / 25</option>
                                            <option value="AK">3 / 25</option>
                                            <option value="AZ">4 / 25</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{> add-to-cart-button }}

                        {{> add-to-collection }}

                        <div class="saved-collection">50 Saved to Collection  | heart 60</div>

                        <a href="#" class="link-full-details">See Full Details</a>

                    </div><!-- .product-detail -->

                <!-- </div> -->
            <!-- </div> -->
            </div>
        </div><!-- .row -->

    </div><!-- modal -->
</div>


<script type="text/javascript">
    defer(function () {

        $(".launch-modal").show().modal({
            escapeClose: false,
            clickClose: false,
            showClose: false
        });

        $('.launch-modal').click(function(event) {
            $(this).modal();
            return false;
        });

        $('#basic').on($.modal.OPEN, function(event, modal) {
            $('select.select2').select2();
        });

});
</script>



