<p>
    <a href="#basic" rel="modal:open">Add a Show</a>
</p>

<div id="basic" style="display:none;">
    <a href="#" rel="modal:close" class="close-modal">
        <i class="at at-arrows-remove"></i>
    </a>


<div class="add-a-show">

<div class="modal-title">Add a Show</div>

<div class="field has-space">
    <div class="control">
        <label class="radio">
            <input type="radio" id="show_past" name="show" data-show="past" data-hide="upcoming">
            <span></span>
            Past Show
        </label>
        <label class="radio">
            <input type="radio" id="show_upcoming" name="show" data-show="upcoming" data-hide="past" checked="checked">
            <span></span>
            Upcoming Show
        </label>
    </div>
</div>


<div class="add-a-show-past">

    <h4>Details</h4>
    <div class="row has-space-small">
        <div class="col-xs-14 col-md-7">
            <div class="row">
                <div class="col-xs-14 col-md-9 col-lg-10">
                    <div class="field">
                        <label class="label">Type of Show</label>
                        <div class="control">
                            <div class="select select2-wrapper is-fullwidth">
                                <select class="select2">
                                    <option>Group Exhibition</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sep-xs"></div>
                <div class="col-xs-14 col-md-5 col-lg-4">
                    <div class="field">
                        <label class="label">Year of Show</label>
                        <div class="control">
                            <div class="select select2-wrapper is-fullwidth">
                                <select class="select2">
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                    <option value="1958">1958</option>
                                    <option value="1957">1957</option>
                                    <option value="1956">1956</option>
                                    <option value="1955">1955</option>
                                    <option value="1954">1954</option>
                                    <option value="1953">1953</option>
                                    <option value="1952">1952</option>
                                    <option value="1951">1951</option>
                                    <option value="1950">1950</option>
                                    <option value="1949">1949</option>
                                    <option value="1948">1948</option>
                                    <option value="1947">1947</option>
                                    <option value="1946">1946</option>
                                    <option value="1945">1945</option>
                                    <option value="1944">1944</option>
                                    <option value="1943">1943</option>
                                    <option value="1942">1942</option>
                                    <option value="1941">1941</option>
                                    <option value="1940">1940</option>
                                    <option value="1939">1939</option>
                                    <option value="1938">1938</option>
                                    <option value="1937">1937</option>
                                    <option value="1936">1936</option>
                                    <option value="1935">1935</option>
                                    <option value="1934">1934</option>
                                    <option value="1933">1933</option>
                                    <option value="1932">1932</option>
                                    <option value="1931">1931</option>
                                    <option value="1930">1930</option>
                                    <option value="1929">1929</option>
                                    <option value="1928">1928</option>
                                    <option value="1927">1927</option>
                                    <option value="1926">1926</option>
                                    <option value="1925">1925</option>
                                    <option value="1924">1924</option>
                                    <option value="1923">1923</option>
                                    <option value="1922">1922</option>
                                    <option value="1921">1921</option>
                                    <option value="1920">1920</option>
                                    <option value="1919">1919</option>
                                    <option value="1918">1918</option>
                                    <option value="1917">1917</option>
                                    <option value="1916">1916</option>
                                    <option value="1915">1915</option>
                                    <option value="1914">1914</option>
                                    <option value="1913">1913</option>
                                    <option value="1912">1912</option>
                                    <option value="1911">1911</option>
                                    <option value="1910">1910</option>
                                    <option value="1909">1909</option>
                                    <option value="1908">1908</option>
                                    <option value="1907">1907</option>
                                    <option value="1906">1906</option>
                                    <option value="1905">1905</option>
                                    <option value="1904">1904</option>
                                    <option value="1903">1903</option>
                                    <option value="1902">1902</option>
                                    <option value="1901">1901</option>
                                    <option value="1900">1900</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-14 col-md-7">
            <div class="field">
                <label class="label">Name of Show</label>
                <div class="control">
                    <input class="input" type="lname" placeholder="" value="">
                </div>
            </div>
        </div>
        <div class="col-xs-14 col-md-7">
            <div class="field">
                <label class="label">Name of Venue</label>
                <div class="control">
                    <input class="input" type="lname" placeholder="" value="">
                </div>
            </div>
        </div>
    </div>

    <h4>Location</h4>
    <div class="row has-space-small">
        <div class="col-xs-14 col-md-5">
            <div class="field">
                <label class="label">Country</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>United States</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
        <div class="sep-xs"></div>
        <div class="col-xs-14 col-md-5">
            <div class="field">
                <label class="label">State/Province</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>New York</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
        <div class="sep-xs"></div>
        <div class="col-xs-14 col-md-4">
            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>New York</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
    </div><!-- .row -->

    <div class="row center-xs has-space-small">
        <div class="col-xs-14 col-md-5">
            <button class="button is-black is-fullwidth">Save</button>
        </div>
    </div>
</div><!-- .add-a-show-past -->




<div class="add-a-show-upcoming">

    <h4>Time</h4>
    <p>Starts on Sun, January 1, 2017 at 1:00 PM.</p>
    <div class="row has-space-small">
        <div class="col-xs-7 col-md-3">
            <div class="field">
                <label class="label">Month</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
        <div class="col-xs-7 col-md-3">
            <div class="field">
                <label class="label">Day</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->

        <div class="sep-xs"></div>

        <div class="col-xs-7 col-md-3">
            <div class="field">
                <label class="label">Year</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                            <option value="1969">1969</option>
                            <option value="1968">1968</option>
                            <option value="1967">1967</option>
                            <option value="1966">1966</option>
                            <option value="1965">1965</option>
                            <option value="1964">1964</option>
                            <option value="1963">1963</option>
                            <option value="1962">1962</option>
                            <option value="1961">1961</option>
                            <option value="1960">1960</option>
                            <option value="1959">1959</option>
                            <option value="1958">1958</option>
                            <option value="1957">1957</option>
                            <option value="1956">1956</option>
                            <option value="1955">1955</option>
                            <option value="1954">1954</option>
                            <option value="1953">1953</option>
                            <option value="1952">1952</option>
                            <option value="1951">1951</option>
                            <option value="1950">1950</option>
                            <option value="1949">1949</option>
                            <option value="1948">1948</option>
                            <option value="1947">1947</option>
                            <option value="1946">1946</option>
                            <option value="1945">1945</option>
                            <option value="1944">1944</option>
                            <option value="1943">1943</option>
                            <option value="1942">1942</option>
                            <option value="1941">1941</option>
                            <option value="1940">1940</option>
                            <option value="1939">1939</option>
                            <option value="1938">1938</option>
                            <option value="1937">1937</option>
                            <option value="1936">1936</option>
                            <option value="1935">1935</option>
                            <option value="1934">1934</option>
                            <option value="1933">1933</option>
                            <option value="1932">1932</option>
                            <option value="1931">1931</option>
                            <option value="1930">1930</option>
                            <option value="1929">1929</option>
                            <option value="1928">1928</option>
                            <option value="1927">1927</option>
                            <option value="1926">1926</option>
                            <option value="1925">1925</option>
                            <option value="1924">1924</option>
                            <option value="1923">1923</option>
                            <option value="1922">1922</option>
                            <option value="1921">1921</option>
                            <option value="1920">1920</option>
                            <option value="1919">1919</option>
                            <option value="1918">1918</option>
                            <option value="1917">1917</option>
                            <option value="1916">1916</option>
                            <option value="1915">1915</option>
                            <option value="1914">1914</option>
                            <option value="1913">1913</option>
                            <option value="1912">1912</option>
                            <option value="1911">1911</option>
                            <option value="1910">1910</option>
                            <option value="1909">1909</option>
                            <option value="1908">1908</option>
                            <option value="1907">1907</option>
                            <option value="1906">1906</option>
                            <option value="1905">1905</option>
                            <option value="1904">1904</option>
                            <option value="1903">1903</option>
                            <option value="1902">1902</option>
                            <option value="1901">1901</option>
                            <option value="1900">1900</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
        <div class="col-xs-7 col-md-3">
            <div class="field">
                <label class="label">Time</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>01:00 PM</option>
                            <option>02:00 PM</option>
                            <option>03:00 PM</option>
                            <option>04:00 PM</option>
                            <option>05:00 PM</option>
                            <option>06:00 PM</option>
                            <option>07:00 PM</option>
                            <option>08:00 PM</option>
                            <option>09:00 PM</option>
                            <option>10:00 PM</option>
                            <option>11:00 PM</option>
                            <option>12:00 PM</option>
                            <option>01:00 AM</option>
                            <option>02:00 AM</option>
                            <option>03:00 AM</option>
                            <option>04:00 AM</option>
                            <option>05:00 AM</option>
                            <option>06:00 AM</option>
                            <option>07:00 AM</option>
                            <option>08:00 AM</option>
                            <option>09:00 AM</option>
                            <option>10:00 AM</option>
                            <option>11:00 AM</option>
                            <option>12:00 AM</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
    </div><!-- row -->
    <hr>
    <p>Ends on Mon, January 2, 2017 at 1:00 PM.</p>
    <div class="row">
        <div class="col-xs-7 col-md-3">
            <div class="field">
                <label class="label">Month</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
        <div class="col-xs-7 col-md-3">
            <div class="field">
                <label class="label">Day</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>1</option>
                            <option selected>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
        
        <div class="sep-xs"></div>

        <div class="col-xs-7 col-md-3">
            <div class="field">
                <label class="label">Year</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                            <option value="1969">1969</option>
                            <option value="1968">1968</option>
                            <option value="1967">1967</option>
                            <option value="1966">1966</option>
                            <option value="1965">1965</option>
                            <option value="1964">1964</option>
                            <option value="1963">1963</option>
                            <option value="1962">1962</option>
                            <option value="1961">1961</option>
                            <option value="1960">1960</option>
                            <option value="1959">1959</option>
                            <option value="1958">1958</option>
                            <option value="1957">1957</option>
                            <option value="1956">1956</option>
                            <option value="1955">1955</option>
                            <option value="1954">1954</option>
                            <option value="1953">1953</option>
                            <option value="1952">1952</option>
                            <option value="1951">1951</option>
                            <option value="1950">1950</option>
                            <option value="1949">1949</option>
                            <option value="1948">1948</option>
                            <option value="1947">1947</option>
                            <option value="1946">1946</option>
                            <option value="1945">1945</option>
                            <option value="1944">1944</option>
                            <option value="1943">1943</option>
                            <option value="1942">1942</option>
                            <option value="1941">1941</option>
                            <option value="1940">1940</option>
                            <option value="1939">1939</option>
                            <option value="1938">1938</option>
                            <option value="1937">1937</option>
                            <option value="1936">1936</option>
                            <option value="1935">1935</option>
                            <option value="1934">1934</option>
                            <option value="1933">1933</option>
                            <option value="1932">1932</option>
                            <option value="1931">1931</option>
                            <option value="1930">1930</option>
                            <option value="1929">1929</option>
                            <option value="1928">1928</option>
                            <option value="1927">1927</option>
                            <option value="1926">1926</option>
                            <option value="1925">1925</option>
                            <option value="1924">1924</option>
                            <option value="1923">1923</option>
                            <option value="1922">1922</option>
                            <option value="1921">1921</option>
                            <option value="1920">1920</option>
                            <option value="1919">1919</option>
                            <option value="1918">1918</option>
                            <option value="1917">1917</option>
                            <option value="1916">1916</option>
                            <option value="1915">1915</option>
                            <option value="1914">1914</option>
                            <option value="1913">1913</option>
                            <option value="1912">1912</option>
                            <option value="1911">1911</option>
                            <option value="1910">1910</option>
                            <option value="1909">1909</option>
                            <option value="1908">1908</option>
                            <option value="1907">1907</option>
                            <option value="1906">1906</option>
                            <option value="1905">1905</option>
                            <option value="1904">1904</option>
                            <option value="1903">1903</option>
                            <option value="1902">1902</option>
                            <option value="1901">1901</option>
                            <option value="1900">1900</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
        <div class="col-xs-7 col-md-3">
            <div class="field">
                <label class="label">Time</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>01:00 PM</option>
                            <option>02:00 PM</option>
                            <option>03:00 PM</option>
                            <option>04:00 PM</option>
                            <option>05:00 PM</option>
                            <option>06:00 PM</option>
                            <option>07:00 PM</option>
                            <option>08:00 PM</option>
                            <option>09:00 PM</option>
                            <option>10:00 PM</option>
                            <option>11:00 PM</option>
                            <option>12:00 PM</option>
                            <option>01:00 AM</option>
                            <option>02:00 AM</option>
                            <option>03:00 AM</option>
                            <option>04:00 AM</option>
                            <option>05:00 AM</option>
                            <option>06:00 AM</option>
                            <option>07:00 AM</option>
                            <option>08:00 AM</option>
                            <option>09:00 AM</option>
                            <option>10:00 AM</option>
                            <option>11:00 AM</option>
                            <option>12:00 AM</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
    </div><!-- row -->


    <h4>Details</h4>
    <div class="row has-space-small">
        <div class="col-xs-14 col-md-7">
            <div class="row">
                <div class="col-xs-14 col-md-9 col-lg-10">
                    <div class="field">
                        <label class="label">Type of Show</label>
                        <div class="control">
                            <div class="select select2-wrapper is-fullwidth">
                                <select class="select2">
                                    <option>Group Exhibition</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sep-xs"></div>
                <div class="col-xs-14 col-md-5 col-lg-4">
                    <div class="field">
                        <label class="label">Year of Show</label>
                        <div class="control">
                            <div class="select select2-wrapper is-fullwidth">
                                <select class="select2">
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                    <option value="1958">1958</option>
                                    <option value="1957">1957</option>
                                    <option value="1956">1956</option>
                                    <option value="1955">1955</option>
                                    <option value="1954">1954</option>
                                    <option value="1953">1953</option>
                                    <option value="1952">1952</option>
                                    <option value="1951">1951</option>
                                    <option value="1950">1950</option>
                                    <option value="1949">1949</option>
                                    <option value="1948">1948</option>
                                    <option value="1947">1947</option>
                                    <option value="1946">1946</option>
                                    <option value="1945">1945</option>
                                    <option value="1944">1944</option>
                                    <option value="1943">1943</option>
                                    <option value="1942">1942</option>
                                    <option value="1941">1941</option>
                                    <option value="1940">1940</option>
                                    <option value="1939">1939</option>
                                    <option value="1938">1938</option>
                                    <option value="1937">1937</option>
                                    <option value="1936">1936</option>
                                    <option value="1935">1935</option>
                                    <option value="1934">1934</option>
                                    <option value="1933">1933</option>
                                    <option value="1932">1932</option>
                                    <option value="1931">1931</option>
                                    <option value="1930">1930</option>
                                    <option value="1929">1929</option>
                                    <option value="1928">1928</option>
                                    <option value="1927">1927</option>
                                    <option value="1926">1926</option>
                                    <option value="1925">1925</option>
                                    <option value="1924">1924</option>
                                    <option value="1923">1923</option>
                                    <option value="1922">1922</option>
                                    <option value="1921">1921</option>
                                    <option value="1920">1920</option>
                                    <option value="1919">1919</option>
                                    <option value="1918">1918</option>
                                    <option value="1917">1917</option>
                                    <option value="1916">1916</option>
                                    <option value="1915">1915</option>
                                    <option value="1914">1914</option>
                                    <option value="1913">1913</option>
                                    <option value="1912">1912</option>
                                    <option value="1911">1911</option>
                                    <option value="1910">1910</option>
                                    <option value="1909">1909</option>
                                    <option value="1908">1908</option>
                                    <option value="1907">1907</option>
                                    <option value="1906">1906</option>
                                    <option value="1905">1905</option>
                                    <option value="1904">1904</option>
                                    <option value="1903">1903</option>
                                    <option value="1902">1902</option>
                                    <option value="1901">1901</option>
                                    <option value="1900">1900</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-14 col-md-7">
            <div class="field">
                <label class="label">Name of Show</label>
                <div class="control">
                    <input class="input" type="lname" placeholder="" value="">
                </div>
            </div>
        </div>
        <div class="col-xs-14 col-md-7">
            <div class="field">
                <label class="label">Name of Venue</label>
                <div class="control">
                    <input class="input" type="lname" placeholder="" value="">
                </div>
            </div>
        </div>
    </div>

    <h4>Location</h4>
    <div class="row has-space-small">
        <div class="col-xs-14 col-md-5">
            <div class="field">
                <label class="label">Country</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>United States</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
        <div class="sep-xs"></div>
        <div class="col-xs-14 col-md-5">
            <div class="field">
                <label class="label">State/Province</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>New York</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
        <div class="sep-xs"></div>
        <div class="col-xs-14 col-md-4">
            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <div class="select select2-wrapper is-fullwidth">
                        <select class="select2">
                            <option>New York</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .col -->
    </div><!-- .row -->

    <div class="field">
        <div class="control">
            <label class="checkbox" for="input-3">
                <input type="checkbox" id="input-3" name="input-3">
                <span></span>
                I'd like Art Tap to promote this show for free.
            </label>
        </div>
    </div>

    <div class="row center-xs has-space-small">
        <div class="col-xs-14 col-md-5">
            <button class="button is-black is-fullwidth">Save</button>
        </div>
    </div>


    <h4>Promotion Details</h4>
    <p class="color-gray"><small>Add some promotional photos for the show.</small></p>

    <div class="row has-space-small">
        <div class="col-flex">
            <div class="card edit empty">
                <div class="image">
                    <input type="file" class="input-image" id="" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                    <i class="fa fa-4x fa-arrow-up"></i>
                    Add a Photo
                </div>
                <div class="content">
                    <div class="tool">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-close fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="tool">
                        <i class="fa fa-crop fa-lg"></i>
                    </div>
                    <div class="tool">
                        <i class="fa fa-trash fa-lg"></i>
                    </div>
                </div>
            </div><!-- .card -->
            <div class="card edit empty">
                <div class="image"></div>
                <div class="content">
                    <div class="tool">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-close fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="tool">
                        <i class="fa fa-crop fa-lg"></i>
                    </div>
                    <div class="tool">
                        <i class="fa fa-trash fa-lg"></i>
                    </div>
                </div>
            </div><!-- .card -->
            <div class="card edit empty">
                <div class="image"></div>
                <div class="content">
                    <div class="tool">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-close fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="tool">
                        <i class="fa fa-crop fa-lg"></i>
                    </div>
                    <div class="tool">
                        <i class="fa fa-trash fa-lg"></i>
                    </div>
                </div>
            </div><!-- .card -->
            <div class="card edit empty">
                <div class="image"></div>
                <div class="content">
                    <div class="tool">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-close fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="tool">
                        <i class="fa fa-crop fa-lg"></i>
                    </div>
                    <div class="tool">
                        <i class="fa fa-trash fa-lg"></i>
                    </div>
                </div>
            </div><!-- .card -->
        </div>
    </div><!-- .row -->

    <div class="row has-space-small">
        <div class="col-xs-14 col-sm-7 col-md-6">
            <div class="field">
                <label class="label">Address <i><small class="color-gray fw-normal">(optional)</small></i></label>
                <div class="control">
                    <input class="input" type="lname" placeholder="" value="">
                </div>
            </div>
        </div><!-- .col -->
        <div class="col-xs-14 col-sm-7 col-md-6">
            <div class="field">
                <label class="label">Apt / Suite <i><small class="color-gray fw-normal">(optional)</small></i></label>
                <div class="control">
                    <input class="input" type="lname" placeholder="" value="">
                </div>
            </div>
        </div><!-- .col -->
    </div><!-- .row -->

    <div class="row has-space-small">
        <div class="col-xs-14 col-md-12">
            <div class="field">
                <label class="label">Artwork Description <span class="text-fade text-s fs-n">Characters: <span class="ql-char-count">0</span>/<span class="ql-char-max">10</span></span></label>
                <div class="artwork-description-editor at-ql-editor" data-ql-char-max="2000">
                    <p><br></p>
                </div>
            </div>
        </div><!-- .col -->
    </div><!-- .row -->

    <div class="row has-space-small">
        <div class="col-xs-14 col-md-12">
            <div class="field">
                <label class="label">Event Website <i><small class="color-gray fw-normal">(optional)</small></i></label>
                <div class="control">
                    <input class="input" type="lname" placeholder="" value="">
                </div>
            </div>
        </div><!-- .col -->
    </div><!-- .row -->

    <div class="text-center">
        <button class="button is-black btn-xl">Save</button>
    </div>
    
</div><!-- .add-a-show-upcoming -->

</div><!-- .add-a-show -->

</div><!-- .modal -->


<script type="text/javascript">
    defer(function () {

        $.modal.defaults = {
            closeExisting : true,      // Close existing modals. Set this to false if you need to stack multiple modal instances.
            escapeClose   : true,      // Allows the user to close the modal by pressing `ESC`
            clickClose    : true,      // Allows the user to close the modal by clicking the overlay
            closeText     : '',        // Text content for the close <a> tag.
            closeClass    : '',        // Add additional class(es) to the close <a> tag.
            showClose     : true,      // Shows a (X) icon/link in the top-right corner
            modalClass    : "modal is-smal",   // CSS class added to the element being displayed in the modal.
            blockerClass  : "blocker", // CSS class added to the overlay (blocker).
            spinnerHtml   : null,      // HTML appended to the default spinner during AJAX requests.
            showSpinner   : true,      // Enable/disable the default spinner during AJAX requests.
            fadeDuration  : 250,       // Number of milliseconds the fade transition takes (null means no transition)
            fadeDelay     : 0.8        // Point during the overlay's fade-in that the modal begins to fade in (.5 = 50%, 1.5 = 150%, etc.)
        };
        
        $('#basic').modal();


        $('#basic').on($.modal.OPEN, function(event, modal) {
            $('select.select2').select2();
            $('.add-a-show-past').hide();
        });

        // 
        // After modal closed
        // Destroy select element
        // Show all tabs - to avoid Select element not having full width if any tab is hide which had Select element.
        // Uncheck show past
        // 
        $('#basic').on($.modal.AFTER_CLOSE, function(event, modal) {
            $('select.select2').select2('destroy');
            $('.add-a-show-past, .add-a-show-upcoming').show();
            $('#show_past').prop('checked', false)
            $('#show_upcoming').prop('checked', true)
        });

        $("input[name$='show']").click(function() {
            var divShow = $(this).attr( 'data-show' );
            var divHide = $(this).attr( 'data-hide' );
            $('.add-a-show-' + divHide).hide();
            $('.add-a-show-' + divShow).show();
        });

    });
</script>