{{> header-logged-in }}
<main>

<p>
	<a href="#basic" rel="modal:open">Product Modal</a>
</p>

<div id="basic" style="display:none;">
	<a href="#" rel="modal:close" class="close-modal">
		<i class="fa fa-close"></i>
	</a>

<div class="row">
    
  <div class="col-lg-10 col-sm-8 col-xs-12">
    <div class="row center-sm">
      <div class="col-lg-8 col-sm-8 col-xs-12">
        <div class="box">
            <img class="responsive" src="../../assets/images/artwork/art-1.jpg">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12">
    <div class="box">

        <div class="product-detail">

            <div class="artist-name">Alex Kwok</div>

            <div class="follow-wrap">
                <span class="follow-artist"><a href="#" class="link-primary"><i class="fa fa-plus-circle"></i> Follow Artist</a></span>
                <span class="followers">60 Followers</span>
            </div>


            <div class="descrption">
                <div class="descrption-date">Tesselation_02, 2013</div>
                <div class="descrption-type">Giclee Photograph</div>
                <div class="descrption-sizes">9 <small>9/16</small> × 12 <small>1/2</small> in (24.3 × 31.8 cm)</div>
                <div class="descrption-edition-number">Limited Edition of 25</div>
            </div>

            <div class="gallery-price">
                <div class="gallery-price-discounted">$2,300.00 <small>USD</small></div>
                <div class="gallery-price-regular">Reg. Gallery Price <s>$3,067.00</s> USD <i class="fa fa-question-circle gallery-info"></i></div>
            </div>

            <div class="edition-number">
                <div class="row mb10">
                    <div class="col-xs-9">
                        <span class="edition-number-text">Select Edition Number</span>
                    </div>
                    <div class="col-xs-5 text-right">
                        <span class="edition-number-remain">Only 4 left!</span>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth select2-wrapper">
                            <select>
                                <option value="">1 / 25</option>
                                <option value="AL">2 / 25</option>
                                <option value="AK">3 / 25</option>
                                <option value="AZ">4 / 25</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-to-cart">
                <button class="button is-fullwidth is-black">Add to Cart</button>
            </div>

            <div class="add-to-collection">

                <button class="button is-gray is-outlined">Add to Collection</button>
                <button class="button is-gray is-outlined"><i class="fa fa-heart"></i></button>
                <div class="saved-collection">50 Saved to Collection  | heart 60</div>

                <div class="create">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="name" placeholder="Name of Collection" value="">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="radio mr30">
                                <input type="radio" name="question">
                                <span></span>
                                Public
                            </label>
                            <label class="radio">
                                <input type="radio" name="question">
                                <span></span>
                                Private
                            </label>
                        </div>
                    </div>
                    <button class="button is-fullwidth is-black">Create Collection</button>
                </div>
            </div><!-- .add-to-collection -->

            <a href="#" class="link-primary mt20 ib">See Full Details</a>

        </div><!-- .product-detail -->

    </div>
  </div>
</div><!-- .row -->

</div><!-- modal -->



<script type="text/javascript">
	$.modal.defaults = {
		closeExisting : true,      // Close existing modals. Set this to false if you need to stack multiple modal instances.
		escapeClose   : true,      // Allows the user to close the modal by pressing `ESC`
		clickClose    : true,      // Allows the user to close the modal by clicking the overlay
		closeText     : '',        // Text content for the close <a> tag.
		closeClass    : '',        // Add additional class(es) to the close <a> tag.
		showClose     : true,      // Shows a (X) icon/link in the top-right corner
		modalClass    : "modal",   // CSS class added to the element being displayed in the modal.
		blockerClass  : "blocker", // CSS class added to the overlay (blocker).
		spinnerHtml   : null,      // HTML appended to the default spinner during AJAX requests.
		showSpinner   : true,      // Enable/disable the default spinner during AJAX requests.
		fadeDuration  : 250,       // Number of milliseconds the fade transition takes (null means no transition)
		fadeDelay     : 0.8        // Point during the overlay's fade-in that the modal begins to fade in (.5 = 50%, 1.5 = 150%, etc.)
	};
</script>


</main>
{{> footer-standard }}