<!-- Add This div page classes on <body> tag -->
<div class="page">
{{> header-logged-in }}

<div id="wrapper">
    
    {{> sidebar-artist }}

    <div id="content">

        <div class="page-title">
            <h2 class="has-border">Order</h2>

            <div class="with-page-title">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select>
                            <option>Select dropdown</option>
                            <option>With options</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><!-- .page-title -->

        {{> order }}

        {{> order-detail }}

        {{> order-cancel }}

        {{> order-detail }}

    </div><!-- #content -->

</div><!-- #wrapper -->

{{> footer-standard }}
</div><!-- .page -->