<!-- Add This div page classes on <body> tag -->
<div class="page compact">
{{> header-logged-in }}

<div id="wrapper">
    
    {{> sidebar-faq }}

    <div id="content">

        <div class="page-title">
            <h2 class="has-border">Page Compact</h2>
        </div><!-- .page-title -->

        <p>Smaller font size and more spacing around, used for pages listed below:</p>

        <ul>
            <li>Terms of Use</li>
            <li>Privacy Policy</li>
            <li>Copyright Info</li>
            <li>Partnerships</li>
        </ul>

    </div><!-- #content -->

</div><!-- #wrapper -->

{{> footer-standard }}
</div><!-- .page.compact.page-partnerships -->
