<!-- Add This div page classes on <body> tag -->
<div class="page compact page-partnerships">
{{> header-logged-in }}

<div id="wrapper">
    
    {{> sidebar-faq }}

    <div id="content">

        <div class="page-title">
            <h2 class="has-border">Partnerships</h2>
        </div><!-- .page-title -->

        <p>Art Tap has been granted two consecutive Parsons Entrepreneurial Lab (Elab) fellowships. We work closely with Parsons faculty and mentors to foster the growth of our platform and our art-loving community. If you are interested in being a sponsor at an Art Tap event, partnering with us to promote 
a cause, or collaborating on an exciting project, we’d love to hear from you.</p>
        <p>We are open to partnerships with:</p>


        <ul>
            <li>Art fairs and shows</li>
            <li>Galleries</li>
            <li>Art schools and ateliers</li>
            <li>Local and national arts organizations</li>
            <li>Museums</li>
            <li>Art magazines, blogs, and content providers</li>
            <li>Art supply stores</li>
            <li>Interior designers, decorators, and other trade professionals</li>
            <li>Charities promoting visual art or preserving artistic heritage</li>
            <li>Financial institutions</li>
        </ul>

        <p><b>Contact</b> <br> Can't find what you’re looking for? Message us at <a href="#">info@arttapx.com</a> and we'll be happy to help.</p>

    </div><!-- #content -->

</div><!-- #wrapper -->

{{> footer-standard }}
</div><!-- .page.compact.page-partnerships -->
