<!-- Page classes added on div for demo purpose, Developer add this classes on body tag -->
<div class="page-register page">
{{> header-no-shadow }}

	<div class="flex">
		<div class="image"></div>

		<div class="detail">
			<div class="flex">
				<form class="section is-register" style="display: non;">
					<h4>Register</h4>
					<p>Discover curated art for less. Buy pieces directly from professional artists.</p>
					<div class="sep"></div>

					<div class="field-wrapper">
						<div class="field">
							<label class="label">Name</label>
							<div class="control">
								<input class="input" type="name" placeholder="" value="">
							</div>
						</div>
						<div class="field">
							<label class="label">Email</label>
							<div class="control">
								<input class="input" type="name" placeholder="" value="">
							</div>
						</div>
						<div class="field">
							<label class="label">Password</label>
							<div class="control">
								<input class="input" type="name" placeholder="" value="">
							</div>
						</div>
					</div><!-- .field-wrapper -->

					<!-- .page-change is used for demo purpose, show / hide form, developer may use his best to control form request -->
					<a class="button is-fullwidth page-change" data-page="is-registered">Register</a>
					<div class="sep-text"><span>or</span></div>
					<a class="button is-facebook is-fullwidth">Sign Up with Facebook</a>
					<a class="button is-linkedin is-fullwidth">Sign Up with LinkedIn</a>
					<p class="text-center">Already have an account? <a class="page-change" data-page="is-sign-in" href="#">Sign In</a></p>
				</form><!-- .is-register -->


				<form class="section is-registered" style="display: none;">
					<h4>Register</h4>
					<p>Discover curated art for less. Buy pieces directly from professional artists.</p>
					<div class="sep"></div>

					<div class="field-wrapper">
						<div class="text-center">
							<i class="fa fa-check success-check"></i>
							<p>Success! Check your mailbox.</p>
						</div>
					</div><!-- .field-wrapper -->

					<a class="button is-black is-fullwidth" href="index.html">Discover Art</a>
				</form><!-- .is-registered -->


				<form class="section is-sign-in" style="display: none;">
					<h4>Sign In</h4>
					<p>Discover curated art for less. Buy pieces directly from professional artists.</p>
					<div class="sep"></div>

					<div class="field-wrapper">
						<div class="field">
							<label class="label">Email</label>
							<div class="control">
								<input class="input" type="name" placeholder="" value="">
							</div>
						</div>
						<div class="field">
							<label class="label">Password <a class="pull-right page-change" data-page="is-reset-password" href="#">Forgot your password?</a></label>
							<div class="control">
								<input class="input" type="name" placeholder="" value="">
							</div>
						</div>
					</div><!-- .field-wrapper -->

					<a class="button is-black is-fullwidth" href="index.html">Sign In</a>
					<p class="text-center">Don't have an account? <a class="page-change" data-page="is-register" href="#">Register</a></p>
				</form><!-- .is-sign-in -->


				<form class="section is-reset-password" style="display: none;">
					<h4>Reset Password</h4>
					<p>Please enter your email address.</p>
					<div class="sep"></div>

					<div class="field-wrapper">
						<div class="field">
							<label class="label">Email</label>
							<div class="control">
								<input class="input" type="name" placeholder="" value="">
							</div>
						</div>
					</div><!-- .field-wrapper -->

					<a class="button is-fullwidth page-change" data-page="is-reset-password-sent">Reset</a>
					<p class="text-center">Don't have an account? <a class="page-change" data-page="is-register" href="#">Register</a></p>
				</form><!-- .is-reset-password -->

				<form class="section is-reset-password-sent" style="display: none;">
					<h4>Thank You!</h4>
					<p>We've sent you an email with a link to reset your password.</p>
					<div class="sep"></div>
					<a class="button is-black is-fullwidth" href="index.html">Discover Art</a>
				</form><!-- .is-reset-password-sent -->

				<div class="terms-privacy"><a class="link-black" href="#">Terms of Use</a> and <a class="link-black" href="#">Privacy Policy</a></div>
			</div>
		</div><!-- .detail -->
	</div>

</div><!-- .page-register -->

<script>

defer(function() {
	$('.page-change').on( "click", function(e) {
		var page = ".section." + $(this).attr('data-page');
		console.log(page);

		$('.section').hide();
		$(page).show();
	})
});

</script>
