<!-- Add This div page classes on <body> tag -->
<div class="page">
{{> header-logged-in }}

<div id="wrapper">
    
    {{> sidebar-artist }}

    <div id="content">

        <div class="page-title">
            <h1>Shipping</h1>
        </div><!-- .page-title -->

        <p class="fw-m">You haven't yet added any shipping addresses for sending or receiving artwork.</p>

        <button class="button is-black btn-l mt15">Add a Shipping Address</button>


    </div><!-- #content -->

</div><!-- #wrapper -->

{{> footer-standard }}
</div><!-- .page -->
