<div id="add_a_piece" style="display:none;">
	<a href="#" rel="modal:close" class="close-modal link-black"><i class="at at-arrows-remove"></i></a>

	<div class="modal-title">Add a Piece</div>

	<h4>Add a Photo</h4>
	<p class="text-s text-fade">Add at least one photo. Use up to four photos to show different angles and details. (Minimum photo resolution is 300px on shortest side. Maximum resolution is 2500px on longest side.)</p>

    <div class="image-upload-dropzone mb30">
		<div class="flex">
			{{#single}}
				{{> card-edit }}
			{{/single}}
			<div class="card edit empty">
				<div class="image">
					<input type="file" class="input-image" id="" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
					<i class="at-attach-work at at-arrows-up-l"></i>
				</div>
				<div class="content">
					<div class="tool">
						<i class="at at-add"></i>
					</div>
					<div class="tool">
						<i class="at at-crop"></i>
					</div>
					<div class="tool">
						<i class="at at-delete"></i>
					</div>
				</div>
			</div>
            <div class="upload-prompt card edit empty hide-for-phone-only">
                <div class="image">
                </div>
                <div class="content">
                    <div class="tool">
                        <i class="at at-add"></i>
                    </div>
                    <div class="tool">
                        <i class="at at-crop"></i>
                    </div>
                    <div class="tool">
                        <i class="at at-delete"></i>
                    </div>
                </div>
            </div>
            <div class="upload-prompt card edit empty hide-for-phone-only">
                <div class="image">
                </div>
                <div class="content">
                    <div class="tool">
                        <i class="at at-add"></i>
                    </div>
                    <div class="tool">
                        <i class="at at-crop"></i>
                    </div>
                    <div class="tool">
                        <i class="at at-delete"></i>
                    </div>
                </div>
            </div>
		</div>
    </div>


</div>


<script type="text/javascript">


$("#add_a_piece").modal({
	modalClass: "is-medium"
});


$('#add_a_piece').modal();


// Cropper Modal Actions
$('.btn-reset').on('click', function(){
 	$('#image').cropper('reset');
})

$('.btn-cancel').on('click', function(){
	$.modal.close();
	$('#image').cropper('reset');
})

$('.btn-done').on('click', function(){
	$.modal.close();
	// $('#image').cropper('save');
})

</script>
