<footer class="at footer">

    <div class="footer-top">
        <div class="subscribe">
            <h5>Become an Art Connoisseur</h5>
            <p class="hide-on-sm-ls-up">Subscribe to our newsletter and get alerts about new pieces, art news, events and more.</p>
            <p class="hide-on-sm-ls-down">Subscribe for insider info on new art, news, events and more.</p>
            <div class="field-wrap">
                <input type="text" class="input" name="subscribe" placeholder="Email">
                <button class="button is-black">Subscribe Now</button>
            </div>
        </div><!-- .subscribe -->

        <div class="footer-links">
            <ul class="links">
                <li class="title">Quick Links</li>
                <li><a href="/">Home</a></li>
                <li><a href="my-account.html">My Account</a></li>
                <li><a href="search-art.html">Search Art</a></li>
            </ul>
            <ul class="links">
                <li class="title">Information</li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="partnerships.html">Partnerships</a></li>
                <li><a href="apply-as-an-artist.html">Apply as an Artist</a></li>
            </ul>
            <ul class="links">
                <li class="title">Support</li>
                <li><a href="all-support.html">All Support</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
            <ul class="links legal-links">
                <li class="title">Legal</li>
                <li><a href="terms-of-use.html">Terms of Use</a></li>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                <li><a href="copyright.html">Copyright</a></li>
            </ul>
        </div><!-- .footer-links -->
    </div><!-- .footer-top -->

    <div class="footer-bottom">
        <div class="copyright-links">
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Copyright</a>
        </div>

        <div class="social-links">
            <a href="#"><i class="at at-facebook"></i></a>
            <a href="#"><i class="at at-twitter"></i></a>
            <a href="#"><i class="at at-pinterest"></i></a>
            <a href="#"><i class="at at-instagram"></i></a>
            <a href="#"><i class="at at-linkedin"></i></a>
        </div>

        <div class="copyright-text">
            &copy; 2019 Marketplace Exchange
        </div>
    </div><!-- .footer-bottom -->

</footer><!-- .at.footer -->