<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<footer>
    <div class="container-fluid">

        <div class="row row-primary">
            <div class="col-xs-14 col-sm-2">
                <ul class="links">
                    <li class="heading">Quick Links</li>
                    <li><a href="/" class="link-black">Home</a></li>
                    <li><a href="my-account.html">My Account</a></li>
                    <li><a href="search-art.html">Search Art</a></li>
                </ul>
            </div>
            <div class="col-xs-14 col-sm-2">
                <ul class="links">
                    <li class="heading">Information</li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="partnerships.html">Partnerships</a></li>
                    <li><a href="apply-as-an-artist.html">Apply as an Artist</a></li>
                </ul>
            </div>
            <div class="col-xs-14 col-sm-2">
                <ul class="links">
                    <li class="heading">Support</li>
                    <li><a href="all-support.html">All Support</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-xs-14 col-sm-offset-1 col-sm-7">
                <div class="subscribe">
                    <h5>Become an Art Connoisseur</h5>
                    <div class="desc">Subscribe for inside info on new art, news, events and more.</div>
                    <div class="row">
                        <div class="col-xs-9 pr0">
                            <input type="text" class="input" name="subscribe" placeholder="Email">
                        </div>
                        <div class="col-xs-5 pl0">
                            <button class="button is-fullwidth">Subscribe Now</button>
                        </div>
                    </div>
                </div><!-- .subscribe -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-14 col-sm-4 copyright-links">
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Copyright</a>
            </div>
            <div class="col-xs-14 col-sm-6 social-links">
                <a href="#"><i class="at at-facebook"></i></a>
                <a href="#"><i class="at at-twitter"></i></a>
                <a href="#"><i class="at at-pinterest"></i></a>
                <a href="#"><i class="at at-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-xs-14 col-sm-4 copyright-text">
                &copy; 2017 Art Tap Exchange, Ltd.
            </div>
        </div>

    </div><!-- .container-fluid -->
</footer>
