<div class="card status">
	<div class="image" style="background-image: url('{{image}}');">
		<img src="{{image}}">
	</div>
	<div class="content text-s text-fade">
		<div class="heart">
			<!-- <span class="heart-number">{{ hearts }}</span> -->
			<i class="icon at at-heart"></i>
		</div>
		<div class="artist fw-m">
			{{artist}}
		</div>
		<div class="title">
			{{title}}
		</div>
		<div class="price">
			{{price}}
			<span class="currency"><s>{{price}}</s></span>
		</div>
		<div class="status-posted">Posted</div>
	</div>
</div>

<div class="card status">
	<div class="image" style="background-image: url('{{image}}');">
		<img src="{{image}}">
	</div>
	<div class="content text-s text-fade">
		<div class="heart">
			<!-- <span class="heart-number">{{ hearts }}</span> -->
			<i class="icon at at-heart"></i>
		</div>
		<div class="artist fw-m">
			{{artist}}
		</div>
		<div class="title">
			{{title}}
		</div>
		<div class="price">
			{{price}}
			<span class="currency"><s>{{price}}</s></span>
		</div>
		<div class="status-sold">Sold</div>
	</div>
</div>

<div class="card status">
	<div class="image" style="background-image: url('{{image}}');">
		<img src="{{image}}">
	</div>
	<div class="content text-s text-fade">
		<div class="heart">
			<!-- <span class="heart-number">{{ hearts }}</span> -->
			<i class="icon at at-heart"></i>
		</div>
		<div class="artist fw-m">
			{{artist}}
		</div>
		<div class="title">
			{{title}}
		</div>
		<div class="price">
			{{price}}
			<span class="currency"><s>{{price}}</s></span>
		</div>
		<div class="status-not-visible">Not Visible</div>
	</div>
</div>
