<div class="card order">
    <div class="left">
        <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
            <img src="/assets/images/artwork/art-1.jpg">
        </div>
        <div class="content">
            <div class="artist">
                Camille Oudinot
            </div>
            <div class="title">
                Fading Faces
            </div>
            <div class="quantity">
                Quantity 1
            </div>
            <div class="edition">
                Edition #12 of 25
            </div>
            <div class="order">
                Order Completed
            </div>
        </div>
    </div>
    <div class="right">
        <i class="at at-2x at-arrows-remove"></i>
        <div class="price">
            $785.00
        </div>
    </div>
</div>
