<div class="card checkout">
    <div class="left">
        <div class="image" style="background-image: url('{{image}}');">
            <img src="{{image}}">
        </div>
        <div class="content">
            <div class="artist">
                {{artist}}
            </div>
            <div class="title">
                {{title}}
            </div>
        </div>
    </div>
    <div class="right">
        <i class="at at-2x at-arrows-remove"></i>
        <div class="price">
            {{price}}
        </div>
    </div>
</div>
