////////////////////////////////////////////////////////////////////
// FOOTER

.at.footer {
	font-size: 0.8125rem;
	background-color: #F7F7F7;
	// to link sidebar with footer, removed margin top.
	// margin-top: p(50);
	padding: 2.1875rem p(20);

	a {
		font-weight: $weight-normal;
		@extend .link-black;
	}

	.footer-top {
		border-bottom: $border-width solid $border-color;
		padding-bottom: 0;
		margin-bottom: p(20);

		.subscribe {
			margin-bottom: p(30);

			h5 {
				margin: 0;
			}
			p {
				margin: 0 0 p(10);
			}

			.field-wrap {

				.input {
					margin-bottom: p(10);
				}

				.button {
					font-size: p(15) !important;
					width: 100%;
				}
			}
		}

		.footer-links {
			display: flex;
			flex-wrap: wrap;

			.links {
				margin: p(5) 0 0;
				padding: 0 0 p(20);
				list-style: none;
				flex: 1 1 50%;

				li {
					margin-bottom: p(4);

					&.title {
						font-weight: $weight-bold;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}// .footer-top


	.footer-bottom {

		.copyright-links {
			display: none;

			a:not(:first-child) {
				margin-left: 2.5rem;
			}
		}

		.social-links {
			font-size: p(20);
			text-align: center;
			border-bottom: 1px solid $border-color;
			padding-bottom: p(10);
			margin-bottom: p(30);

			a:not(:first-child) {
				margin-left: p(49);
			}
		}

		.copyright-text {
			text-align: center;
		}
	}// .footer-bottom


	@include for-tablet-portrait-up {
		padding: p(30);

		.footer-top {
			display: flex;

			.subscribe {
				order: 2;
				flex: 1 1 50%;
				margin-bottom: 0;

				.field-wrap {
					display: flex;

					.input {
						flex: 1 1 60%;
					}

					.button {
						flex: 1 1 40%;
					}
				}
			}

			.footer-links {
				order: 1;
				flex: 1 1 50%;

				.links {
					flex: 1 1 auto;
				}

				.legal-links {
					display: none;
				}
			}
		}// .footer-top

		.footer-bottom {
			display: flex;
			// align-items: center;
			justify-content: space-between;

			.social-links {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
				transform: translateY(p(4)); // middle align social links to text.
			}

			.copyright-links {
				display: block;
			}
		}
	}

	@include for-tablet-landscape-up {
	}

	@include for-desktop-up {
	}

}