/**
 * HEADER
 */

.header-banner {
	text-align: center;
	position: relative;
	background-color: #f7f7f7;
    z-index: z('site-header') + 1; 

	.banner-text {
		display: inline-block;
		padding: 6px 0;
		@include for-phone-only {
			width: 180px;
			padding: 5px 0;
			font-size: 13px;
		}
	}

	.close {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: p(20);
		.at {
			font-size: 13px;
		}
	}
}

.header {
    width: 100%;
    background-color: white;
    border-top: 3px solid rgb(223, 158, 38);
    position: relative;
    z-index: z('site-header'); 

    @include box_shadow(2);

    &.no-shadow { box-shadow: none; }

    a {
        font-weight: normal;
        color: color(text);
        text-decoration: none;
    }

    // Hamburger icon
    .icon-hamburger {
        @extend .fa;
        &.active {
            @include at;
            @extend .at-arrows-remove;
        }
        @extend .fa-bars;
    }

    .row {
        .column {
            padding: 0;
            height: $page-element-header-height;

            @include for-tablet-portrait-down {
                height: $page-element-header-mobile-height;
            }

            &.logo {
                padding: 0.4rem 0 0.2rem 0;
                margin: 0;

                img {
                    margin: 0 auto;
                    max-height: 1.875rem;
                }
            }
        }
    }

    // Recent & Popular Searches
	.navbar-links {
		font-size: .8rem;

		li {
			margin-bottom: 1.125rem;
			a {
				@extend .link-gray;
			}
		}
	}
}

.navigation-dropdown {
	z-index: z('site-header-dropdown') !important; 
	background-color: white;
	text-align: left;

	&.main-menu {
		left: 0;
	}

	&.cart {
		left: auto;
		right: 0;
		padding: p(10) p(40);
		@include for-phone-only {
			width: 100%;
			padding-left: p(20);
			padding-right: p(20);
		}

		.cart-links {
			margin-top: p(40);
			display: flex;
			justify-content: space-between;
			ul {
				padding-right: p(30);
				flex: 1 1 100%;
			}
		}

		.success-check {
			padding: .7625rem; //resize check size inside navbar cart
		}

		.card {
			width: auto;
		}

		.subtotal {
			display: flex;
			justify-content: space-between;
			margin: p(10) 0;
		}

	}


	// Positioning: menu height + top border width
	transform: translateY(15px);
	// top: $page-element-header-height + -17;
	@include for-tablet-portrait-down {
		// top: $page-element-header-mobile-height;
		top: 34px;
	}

	@include for-phone-only {
		width: 80vw;
	}
	@include for-tablet-portrait {
		width: 50vw;
	}
	@include for-tablet-landscape {
		width: 40vw;
	}
	@include for-desktop {
		width: 25vw;
	}
	@include for-big-desktop {
		width: 15vw;
	}

	padding-top: 1rem;
	padding-bottom: 1rem;

	// Registration dropdown
	&.register {
		left: auto;
		right: 0;
		padding: p(10) p(40) p(40) p(40);

		@include for-phone-only {
			width: 100vw;
		}
		@include for-tablet-portrait {
			width: 70vw;
		}
		@include for-tablet-landscape {
			width: 45vw;
		}
		@include for-desktop {
			width: 40vw;
		}
		@include for-big-desktop {
			width: 25vw;
		}
	}


	// Shadows
	@include box_shadow_topless(2);


	ul.menu {
		list-style: none;
		padding: 0;
		color: gray;
		font-size: 1rem;

		li {
			flex: 0 1 auto;
			margin: 0;
			padding: 0;
			position: relative;
			transition: all linear 1s;

			// Appearance
			padding: 1rem 3rem;
			&.active {
				color: black;
			}

			// Disclosure triangle
			.icon-disclosure {
				float: right;
				position: relative;
				top: p(7);
				@include at;
				@extend .at-arrows-down;
			}
			&.active .icon-disclosure {
				@include at;
				@extend .at-arrows-up;
			}

			// Disclosure subnavigation lists
			ul {
				display: none;
				padding: 1rem 0 0 0;
				list-style: none;

				li {
					font-size: 0.9rem;
					// margin: 0;
					padding-left: 2rem;
					// text-indent: 0;
				}
			}
			&.active ul {
				display: flex;
				flex-direction: column;
			}


			&.is-admin {
				border: 1px solid color(gray);
				background-color: color(white-dark);
			}

		}
	}

	.count {
		display: inline-block;
	    color: color(white);
	    background-color: color(primary);
	    height: 22px;
	    font-size: .8rem;
	    position: absolute;
	    width: 22px;
	    transform: translate(-150%, 16%);
	    text-align: center;
	    border-radius: 50%;
	}

}

@mixin search-input {
    color: #333;
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;

    font-family: $font-family-header;
    font-size: 1.875rem;
    line-height: 2rem;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.875rem 0.8125rem 0;
    margin-bottom: 2.625rem;
    border-bottom: 1px solid #979797;
    &:focus { outline: none; }
}

.search {
	text-align: left;
	// z-index: 1500;
	z-index: z('site-header-dropdown'); 
	left: 0px;
	transform: translateY(16px);
	// top: $page-element-header-height + 2;
	@include for-tablet-portrait-down {
		// top: $page-element-header-mobile-height + 2;
		// box-shadow: none;
		transform: translateY(11px);
	}
	width: 100%;
	overflow: hidden;
	background: #fff;
	transition: height linear .3s;
	@include box_shadow(2);

	.search-form {
		width: 75%;
		max-width: 900px;
		margin: 0 auto;
		padding: 5.5rem 0 0;
		transform: translateY(-2rem);
		transition: all linear .3s;
		@include for-phone-only {
			width: 100%;
			padding-left: p(20);
			padding-right: p(20);
		}
	}

	.search-input-wrap {
		position: relative;
		.at {
			color: #333;
			position: absolute;
			cursor: pointer;
			top: 0px;
			right: 0px;
			font-size: 1.3rem;
			display: none;
			&:hover {
				color: color(primary);
			}
		}
	}

	.search-input {
		@include search-input;
	}

} //.search


