/**
 * HEADER
 */
	
$header-shadow: 0 2px 10px 0 rgba(0,0,0,0.24);
$dropdown-shadow: 0 -5px 0px 0 rgba(255,255,255, 1), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
$dropdown-top-pos: 22px;
$dropdown-top-pos-mobile: 11px;


// transparent bg which overlaps all page except header as shown in prototype
.header-dropdown-bg {
	display: none;
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(234,234,234,0.8);
    z-index: z('site-header') - 1;
}


#header {
    position: relative;
    z-index: z('site-header');
}

.header-banner {
	display: none;
	text-align: center;
	position: relative;
	background-color: #f7f7f7;
    z-index: z('site-header') + 1;
    min-height: 40px;

	.banner-text {
		display: inline-block;
		padding: 6px 0;
		font-size: 13px;
		letter-spacing: 0.3px;
		@include for-phone-only {
			width: 180px;
			padding: 5px 0;
		}
	}

	.close {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: p(20);
		.at {
			font-size: 13px;
		}
	}
}

.header {
	height: 77px;
    width: 100%;
    background-color: white;
    border-top: 3px solid rgb(223, 158, 38);
    position: relative;
    z-index: z('site-header');

    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: $header-shadow;
    // @include box_shadow(2);


    &.impersonated {
        animation: impersonationPulse 1.5s infinite;
    }

    &.no-shadow { box-shadow: none; }

    .hamburger {
    	margin-right: 46px;
    }

    .search-wrapper {
    	margin-right: 81px;
    	.fa-search,
    	.at-arrows-remove {
    		margin-right: 12px;
    	}
    }

    .logo {
        img {
            margin: 9px auto 0;
            max-height: 27px;
            position: relative;
            top: 2px;
        }
    }

    .cart-wrapper {
    	margin: 0 30px 0 80px;
    }

    a {
        font-weight: normal;
        color: color(text);
        text-decoration: none;
    }

    // Hamburger icon
    .icon-hamburger {
    	@include at;
        &.active {
            @include at;
            @extend .at-arrows-remove;
        }
        @extend .at-bars;
    }

    .row {
        .column {
            padding: 0;
            height: $page-element-header-height;

            @include for-tablet-portrait-down {
                height: $page-element-header-mobile-height;
            }

            &.logo {
                padding: 0.4rem 0 0.2rem 0;
                margin: 0;

                img {
                    margin: 0 auto;
                    max-height: 1.875rem;
                }
            }
        }
    }

    // Recent & Popular Searches
	.navbar-links {
		font-size: p(13);
		line-height: p(18);
		min-width: p(140);
		margin-right: p(33);

		&:last-child {
			margin-right: 0px;
		}

		li {
			margin-bottom: p(22);
			a {
				@extend .link-gray;
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}


	// icons
	.at-bars {
		font-size: 22px;
		position: relative;
		top: 6px;
		left: -1px;
	}

	.at-bars-close {
	    line-height: 10px;
	    position: relative;
	    margin-top: 10px;
	    top: 4px;
	    left: 11px;
	    margin-right: 10px;
	}

	.at-search {
		font-size: 19px;
		position: relative;
		top: 5px;
		margin-right: 7px;
	}

	.at-account {
		font-size: 20px;
		position: relative;
		top: 3px;
		right: 3px;
	}
	
	.at-cart {
		font-size: 20px;
		position: relative;
		top: 4px;
		margin-right: 6px;
	}

	.at-arrows-up,
	.at-arrows-down {
    	font-size: 10px;
    	margin-left: 6px;
	}


	@include for-tablet-portrait-down {

		height: 72px;

	    .cart-wrapper {
	    	margin-right: 0px;
	    }
	}

	@include for-phone-only {
		
		height: 56px;
		padding: 0 19px;

	    .hamburger {
	    	margin-right: 13px;
	    }

	    .search-wrapper {
	    	margin-right: 1px;

	    	.fa-search,
	    	.at-arrows-remove {
	    		margin-right: 12px;
	    	}
	    }

	    .logo {
	        img {
	            max-height: 23px;
	            top: 0px;
	        }
	    }

	    .cart-wrapper {
	    	margin: 0 0px 0 10px;
	    }

		// icons
		.at-bars {
			font-size: 22px;
			position: relative;
			top: 6px;
			left: -1px;
		}

		.at-bars-close {
		    top: -1px;
		    left: 3px;
		}

		.at-search {
			font-size: 16px;
			top: 1px;
		}

		.at-account {
			font-size: 20px;
			position: relative;
			top: 3px;
			right: 3px;
		}
		
		.at-cart {
			font-size: 18px;
			top: 6px;
			margin-right: 0px;
		}

		.at-arrows-up,
		.at-arrows-down {
	    	font-size: 10px;
	    	margin-left: 6px;
		}

	}

}


.navigation-dropdown {
	z-index: z('site-header-dropdown') !important;
	background-color: white;
	text-align: left;
	padding: p(27) p(40);
	// padding: p(27) p(40) p(40);

	// Shadows
	// box-shadow: $dropdown-shadow;
	// @include box_shadow_topless(2);
	
	// Positioning: menu height + top border width
	transform: translateY($dropdown-top-pos);


	&.main-menu {
		left: 0;
		width: 305px;
		// height: calc(100vh - 56px);
		padding: 0px;
		
		ul.menu {
			overflow: auto;
			height: calc(100vh - 77px);
			// Ref for spaceing https://projects.invisionapp.com/d/main#/console/11941484/251762893/preview
			padding: 64px 30px 40px 95px;
		}
	}

	&.register {
		right: 0;
		width: 400px;
		@include for-phone-only {
			width: 100%;
		}
	}

	&.cart {
		width: 380px;
		// width: 400px;
		left: auto;
		right: 0;
		// padding: 1rem 2.5rem 2.5rem;
		@include for-phone-only {
			width: 100%;
		}

		.cart-success-text {
			display: flex;
			align-items: center;

			.success-check {
				margin-right: 1rem;
			}
		}

		.cart-links {
			margin-top: p(33);
			display: flex;
			// justify-content: space-between;
			ul {
				// padding-right: p(30);
				// flex: 1 1 100%;
			}
		}

		.card {
			width: auto;
		}

		.subtotal {
			display: flex;
			justify-content: space-between;
			margin: p(10) 0;
		}

	}

	&.logged-in {
		box-shadow: $dropdown-shadow;
		left: auto;
		right: 0;
		width: 305px;

		ul {
			padding: 0 0 0 p(54);

			li {
				margin: 0 0 p(26);

				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}


	.menu {
		list-style: none;
		margin: 0;
		color: gray;

		li {
			flex: 0 1 auto;
			margin: 0 0 p(32);
			padding: 0;
			position: relative;
			// transition: all linear 1s;

			// Appearance
			a {
				display: block;
				@extend %link-gray;
			}
			
			&.active {
				> a {
					color: $color-db !important;
					font-weight: $weight-semibold;
				}
			}

			// Disclosure triangle
			.icon-disclosure {
				position: absolute;
				top: p(4);
				
				// right: p(20);

				// Using position left because when overflow shows scroll bar the right position get moved to left a bit.
				// So positioning from left works fine in this situation.
				left: p(144);

				margin-left: 1rem;
				@include at;
				@extend .at-arrows-down;
			}
			&.active .icon-disclosure {
				@include at;
				@extend .at-arrows-up;
			}

			// Disclosure subnavigation lists
			ul {
				display: none;
				padding: 0;
				margin: p(16) 0 0;
				list-style: none;
				font-size: p(13);
				line-height: p(18);

				li {
					padding-left: p(35);
					margin-bottom: p(28);
					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
			&.active ul {
				display: flex;
				flex-direction: column;
			}

			&.is-admin {
				border: $border-width solid color(gray);
				background-color: color(white-dark);
			}

		}
	}


	// top: $page-element-header-height + -17;
	@include for-tablet-portrait-down {
		// top: $page-element-header-mobile-height;
		// top: 34px;
	}

	@include for-phone-only {
		// width: 100vw;
		// width: 80vw;
		transform: translateY($dropdown-top-pos-mobile);
		padding-left: p(20);
		padding-right: p(20);

		&.main-menu {
			ul.menu {
				height: calc(100vh - 56px);
			}
		}
	}

	@include for-tablet-portrait {
		// width: 50vw;
	}
	@include for-tablet-landscape {
		// width: 35vw;
	}
	@include for-desktop {
		// width: 25vw;
	}
	@include for-big-desktop {
		// width: 15vw;
	}

	@include for-desktop-up {
		&.logged-in {
			right: auto;
			transform: translate(-67px, $dropdown-top-pos);
		}
	}

}// .navigation-dropdown


@mixin search-input {
    color: #333;
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;

    font-family: $font-family-header;
    font-size: p(35);
    line-height: 2rem;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.875rem 0.8125rem 0;
    margin-bottom: 2.625rem;
    border-bottom: $border-width solid #979797;
    &:focus { outline: none; }
}

.search {
	text-align: left;
	// z-index: 1500;
	z-index: z('site-header-dropdown'); 
	left: 0px;
	transform: translateY($dropdown-top-pos);
	// top: $page-element-header-height + 2;
	@include for-tablet-portrait-down {
		// top: $page-element-header-mobile-height + 2;
		// box-shadow: none;
		transform: translateY(11px);
	}
	width: 100%;
	overflow: hidden;
	background: #fff;
	box-shadow: $dropdown-shadow;
	// @include box_shadow(2);

	.search-form {
		width: 75%;
		max-width: 900px;
		margin: 0 auto;
		padding: 5.5rem 0 0;
		transform: translateY(-2rem);
		// transition: all linear .3s;
		@include for-phone-only {
			width: 100%;
			padding: p(70) p(20) 0 p(20);
		}
	}

	.search-input-wrap {
		position: relative;
		.at {
			color: #333;
			position: absolute;
			cursor: pointer;
			top: 0px;
			right: 0px;
			font-size: 1.3rem;
			display: none;
			&:hover {
				color: color(primary);
			}
		}
	}

	.search-input {
		@include search-input;
	}

	.search-result {
		.search-container {
			position: relative;
			margin: 3px 0.5rem;
		}
		// For cards displayed in this search result add margin bottom
		// so Artist cards don't collide with Artwork cards.
		& .card {
			margin-bottom: 0.5rem;
		}
	}

	@include for-phone-only {
		transform: translateY($dropdown-top-pos-mobile);
	}

} //.search



////////////////////////////////////////////////////////////////////
// Special pulses for users "impersonated" by admins
@keyframes impersonationPulse {
  0% {
    -moz-box-shadow: inset 0 0 5px 0 rgba(red(color(red)), green(color(red)), blue(color(red)), 1);
    box-shadow: inset 0 0 5px 0 rgba(red(color(red)), green(color(red)), blue(color(red)), 1);
  }
  // 50% {
  //     -moz-box-shadow: inset 0 0 5px 10px rgba(red(color(red)), green(color(red)), blue(color(red)), 0.5);
  //     box-shadow: inset 0 0 5px 10px rgba(red(color(red)), green(color(red)), blue(color(red)), 0.5);
  // }
  75% {
      -moz-box-shadow: inset 0 0 3px 20px rgba(red(color(red)), green(color(red)), blue(color(red)), 0.0);
      box-shadow: inset 0 0 3px 20px rgba(red(color(red)), green(color(red)), blue(color(red)), 0.0);
  }
  100% {
      -moz-box-shadow: inset 0 0 5px 0 rgba(red(color(red)), green(color(red)), blue(color(red)), 0);
      box-shadow: inset 0 0 5px 0 rgba(red(color(red)), green(color(red)), blue(color(red)), 0);
  }
}
