/**
 * HEADER
 */

.header-banner {
	text-align: center;
	position: relative;
	background-color: #f7f7f7;
    z-index: z('site-header') + 1; 

	.banner-text {
		display: inline-block;
		padding: 6px 0;
		@include for-phone-only {
			width: 180px;
			padding: 5px 0;
			font-size: 13px;
		}
	}

	.close {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: p(20);
		.at {
			font-size: 13px;
		}
	}
}

.header {
	height: 77px;
    width: 100%;
    background-color: white;
    border-top: 3px solid rgb(223, 158, 38);
    position: relative;
    z-index: z('site-header'); 

    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include box_shadow(2);


    &.impersonated {
        animation: impersonationPulse 1.5s infinite;
    }

    &.no-shadow { box-shadow: none; }

    .hamburger {
    	margin-right: 46px;
    }

    .search-wrapper {
    	margin-right: 81px;
    	.fa-search,
    	.at-arrows-remove {
    		margin-right: 12px;
    	}
    }

    .logo {
        img {
            margin: 9px auto 0;
            max-height: 27px;
            position: relative;
            top: 2px;
        }
    }

    .cart-wrapper {
    	margin: 0 30px 0 80px;
    }

    a {
        font-weight: normal;
        color: color(text);
        text-decoration: none;
    }

    // Hamburger icon
    .icon-hamburger {
    	@include at;
        &.active {
            @include at;
            @extend .at-arrows-remove;
        }
        @extend .at-bars;
    }

    .row {
        .column {
            padding: 0;
            height: $page-element-header-height;

            @include for-tablet-portrait-down {
                height: $page-element-header-mobile-height;
            }

            &.logo {
                padding: 0.4rem 0 0.2rem 0;
                margin: 0;

                img {
                    margin: 0 auto;
                    max-height: 1.875rem;
                }
            }
        }
    }

    // Recent & Popular Searches
	.navbar-links {
		font-size: p(13);
		line-height: p(18);
		min-width: p(140);
		margin-right: p(33);

		&:last-child {
			margin-right: 0px;
		}

		li {
			margin-bottom: p(22);
			a {
				@extend .link-gray;
			}
		}
	}


	// icons
	.at-bars {
		font-size: 20px;
		position: relative;
		top: 5px;
	}

	.at-bars-close {
		font-size: 18px !important;
		line-height: 10px;
		position: relative;
		top: 5px;
		margin-right: 2px;
	}

	.at-search {
		font-size: 19px;
		position: relative;
		top: 5px;
		margin-right: 7px;
	}

	.at-account {
		font-size: 20px;
		position: relative;
		top: 3px;
		right: 3px;
	}
	
	.at-cart {
		font-size: 20px;
		position: relative;
		top: 4px;
		margin-right: 6px;
	}

	.at-arrows-up,
	.at-arrows-down {
    	font-size: 10px;
    	margin-left: 6px;
	}


	@include for-tablet-portrait-down {
	    .cart-wrapper {
	    	margin-right: 0px;
	    }
	}

	@include for-phone-only {
	    .hamburger {
	    	margin-right: 16px;
	    }

	    .search-wrapper {
	    	margin-right: 0px;
	    	.fa-search,
	    	.at-arrows-remove {
	    		margin-right: 12px;
	    	}
	    }

	    .cart-wrapper {
	    	margin: 0 0px 0 10px;
	    }
	}

}


.navigation-dropdown {
	z-index: z('site-header-dropdown') !important; 
	background-color: white;
	text-align: left;
	padding: p(27) 2.5rem p(15);
	// padding: 1rem 4.5rem 2.5rem;

	// Shadows
	@include box_shadow_topless(2);
	
	// Positioning: menu height + top border width
	transform: translateY(22px);


	&.main-menu {
		left: 0;
		min-width: 304px;
	}

	&.register {
		right: 0;
		width: 400px;
		@include for-phone-only {
			width: 100%;
		}
	}

	&.cart {
		width: 400px;
		left: auto;
		right: 0;
		// padding: 1rem 2.5rem 2.5rem;
		@include for-phone-only {
			width: 100%;
		}

		.cart-success-text {
			display: flex;
			align-items: center;

			.success-check {
				margin-right: 1rem;
			}
		}

		.cart-links {
			margin-top: p(33);
			display: flex;
			// justify-content: space-between;
			ul {
				// padding-right: p(30);
				// flex: 1 1 100%;
			}
		}

		.card {
			width: auto;
		}

		.subtotal {
			display: flex;
			justify-content: space-between;
			margin: p(10) 0;
		}

	}

	&.logged-in {
		left: auto;
		right: 0;
		min-width: 304px;
	}


	ul.menu {
		list-style: none;
		padding: 0 0 0 54px;
		margin: 0;
		color: gray;

		li {
			flex: 0 1 auto;
			margin: 0 0 26px;
			padding: 0;
			position: relative;
			transition: all linear 1s;

			// Appearance
			a {
				display: block;
				@extend %link-gray;
			}
			
			&.active {
				a {
					color: #111;
				}
			}

			// Disclosure triangle
			.icon-disclosure {
				position: absolute;
				top: p(2);
				right: p(20);
				margin-left: 1rem;
				@include at;
				@extend .at-arrows-down;
			}
			&.active .icon-disclosure {
				@include at;
				@extend .at-arrows-up;
			}

			// Disclosure subnavigation lists
			ul {
				display: none;
				padding: 0;
				margin: p(16) 0 0;
				list-style: none;
				font-size: p(13);
				line-height: p(18);

				li {
					padding-left: p(25);
					margin-bottom: p(22);
				}
			}
			&.active ul {
				display: flex;
				flex-direction: column;
			}


			&.is-admin {
				border: $border-width solid color(gray);
				background-color: color(white-dark);
			}

		}
	}

	.count {
		display: inline-block;
	    color: color(white);
	    background-color: color(primary);
	    height: p(20);
	    width: p(20);
	    font-size: p(13);
	    line-height: p(21);
	    position: absolute;
		left: -32px;
		top: 3px;
	    text-align: center;
	    border-radius: 50%;
	}


	// top: $page-element-header-height + -17;
	@include for-tablet-portrait-down {
		// top: $page-element-header-mobile-height;
		// top: 34px;
	}

	@include for-phone-only {
		width: 100vw;
		// width: 80vw;
	}
	@include for-tablet-portrait {
		width: 50vw;
	}
	@include for-tablet-landscape {
		width: 35vw;
	}
	@include for-desktop {
		width: 25vw;
	}
	@include for-big-desktop {
		width: 15vw;
	}

	@include for-desktop-up {
		&.logged-in {
			right: auto;
			transform: translate(-67px, 21px);
		}
	}

}// .navigation-dropdown


@mixin search-input {
    color: #333;
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;

    font-family: $font-family-header;
    font-size: p(35);
    line-height: 2rem;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.875rem 0.8125rem 0;
    margin-bottom: 2.625rem;
    border-bottom: $border-width solid #979797;
    &:focus { outline: none; }
}

.search {
	text-align: left;
	// z-index: 1500;
	z-index: z('site-header-dropdown'); 
	left: 0px;
	transform: translateY(16px);
	// top: $page-element-header-height + 2;
	@include for-tablet-portrait-down {
		// top: $page-element-header-mobile-height + 2;
		// box-shadow: none;
		transform: translateY(11px);
	}
	width: 100%;
	overflow: hidden;
	background: #fff;
	transition: height linear .3s;
	@include box_shadow(2);

	.search-form {
		width: 75%;
		max-width: 900px;
		margin: 0 auto;
		padding: 5.5rem 0 0;
		transform: translateY(-2rem);
		transition: all linear .3s;
		@include for-phone-only {
			width: 100%;
			padding-left: p(20);
			padding-right: p(20);
		}
	}

	.search-input-wrap {
		position: relative;
		.at {
			color: #333;
			position: absolute;
			cursor: pointer;
			top: 0px;
			right: 0px;
			font-size: 1.3rem;
			display: none;
			&:hover {
				color: color(primary);
			}
		}
	}

	.search-input {
		@include search-input;
	}

} //.search



////////////////////////////////////////////////////////////////////
// Special pulses for users "impersonated" by admins
@keyframes impersonationPulse {
  0% {
    -moz-box-shadow: inset 0 0 5px 0 rgba(red(color(red)), green(color(red)), blue(color(red)), 1);
    box-shadow: inset 0 0 5px 0 rgba(red(color(red)), green(color(red)), blue(color(red)), 1);
  }
  // 50% {
  //     -moz-box-shadow: inset 0 0 5px 10px rgba(red(color(red)), green(color(red)), blue(color(red)), 0.5);
  //     box-shadow: inset 0 0 5px 10px rgba(red(color(red)), green(color(red)), blue(color(red)), 0.5);
  // }
  75% {
      -moz-box-shadow: inset 0 0 3px 20px rgba(red(color(red)), green(color(red)), blue(color(red)), 0.0);
      box-shadow: inset 0 0 3px 20px rgba(red(color(red)), green(color(red)), blue(color(red)), 0.0);
  }
  100% {
      -moz-box-shadow: inset 0 0 5px 0 rgba(red(color(red)), green(color(red)), blue(color(red)), 0);
      box-shadow: inset 0 0 5px 0 rgba(red(color(red)), green(color(red)), blue(color(red)), 0);
  }
}
