////////////////////////////////////////////////////////////////////
// SIDEBAR

#sidebar {
	// Hide sidebar for lower than 1280 size to proper show pages
	// Showing sidebar on desktop and up size
	display: none;
	background-color: #F7F7F7;
	// font-size: p(13);
	// min-width: 14%;
	width: 23%;
	max-width: 300px;

	ul {
		padding: 0;
		// margin: 4rem 0 0 1.5rem;
		margin: 4rem 0 0 30%;
		list-style: none;
		li {
			// margin-bottom: 1rem;
			margin-bottom: 2rem;
			a {
				font-weight: $weight-normal;
				@extend .link-gray;
			}
		&.active {
			a {
				@extend .link-black;
				font-weight: $weight-semibold;
			}
		}
		}
	}

@include for-tablet-landscape-up {
	// display: flex;
}

@include for-desktop-up {
	display: flex;
	// font-size: inherit;
	// min-width: 23%;
	
	// ul {
	// 	margin-left: 4rem;
	// 	li {
	// 		margin-bottom: 2rem;
	// 	}
	// }
}

}