/**
 * Top panel MoTD
 */


@keyframes slide-up-dismiss {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-3rem);
	}
}




.message {
	&.is-motd {
		background-color: $black;
		border-radius: 0px;

		.message-header {
			border-radius: 0px;
		}

		// background-color: $red;
		&.dismissable-close {
			animation: slide-up-dismiss .2s ease 1;
			display: none;
		}
	}
}
