////////////////////////////////////////////////////////////////////
// Links
////////////////////////////////////////////////////////////////////

a {
  &:link,
  &:visited {
    color: color(primary);
    text-decoration: none;
  }
  &:active,
  &:hover {
    color: lighten(color(primary), 4%);
  }
}

// Usage
// .link-black;
@each $linkColor in black, gray {
  %link-#{$linkColor} {
    color: color(#{$linkColor});
    &:link,
    &:visited {
      color: color(#{$linkColor});
    }
    &:active,
    &:hover {
      color: color(primary);
    }
  }
  .link-#{$linkColor} {
    @extend %link-#{$linkColor};
  }
}
