// Margin and Padding

.pt0 { padding-top: 0px !important; }
.pr0 { padding-right: 0px !important; }
.pb0 { padding-bottom: 0px !important; }
.pl0 { padding-left: 0px !important; }
.mt0 { margin-top: 0px !important; }
.mr0 { margin-right: 0px !important; }
.mb0 { margin-bottom: 0px !important; }
.ml0 { margin-left: 0px !important; }
.pad0 { padding: 0px !important; }
.mar0 { margin: 0px !important; }

@for $i from 1 through 5 {
  .mt#{$i}0 { margin-top: ($i * 10) / 16 + rem !important; }
  .mr#{$i}0 { margin-right: ($i * 10) / 16 + rem !important; }
  .mb#{$i}0 { margin-bottom: ($i * 10) / 16 + rem !important; }
  .ml#{$i}0 { margin-left: ($i * 10) / 16 + rem !important; }
  .mar#{$i}0 { margin: ($i * 10) / 16 + rem !important; }
  .pt#{$i}0 { padding-top: ($i * 10) / 16 + rem !important; }
  .pr#{$i}0 { padding-right: ($i * 10) / 16 + rem !important; }
  .pb#{$i}0 { padding-bottom: ($i * 10) / 16 + rem !important; }
  .pl#{$i}0 { padding-left: ($i * 10) / 16 + rem !important; }
  .pad#{$i}0 { padding: ($i * 10) / 16 + rem !important; }
}
