// Chips
$height: 2.4rem;

.chip {

	align-items: center;
	border-radius: $radius-small;

	display: inline-flex;
	height: $height;
	margin: 0 .1rem .1rem 0;
	max-width: 100%;
	padding: .1rem .6rem;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;

	// Color variations
	@each $name, $pair in $colors {
		$color: nth($pair, 1);
		$color-invert: nth($pair, 2);

		&.is-#{$name} {
			background: $color;
			color: $color-invert;
		}
	}

	.avatar {
		margin-left: -.4rem;
		margin-right: .4rem;
	}

	.is-double {
		// flex-basis: column;
		line-height: 1em;
		// The small text
		span {
			display: block;
			font-size: small;
			line-height: 0.8;
			font-weight: lighter;
		}
	}
}
