// WAS from spectre-menu/bulma-dropdown-menu.less

// @import '../spectre-variables.less';
// @import 'bulma-dropdowns.less';
// @import 'bulma-animations.less';

// Z-index
$zindex-0: 1;
$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;


@keyframes slide-down-menu {
	0% {
		opacity: 0;
		transform: translateY(-3rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.dropdown {
	display: inline-block;
	position: relative;

	.menu {

		// TODO: Fix this so it inherits from SCSS version
		box-shadow: 4px 4px 10px #dedede;

		animation: slide-down-menu .2s ease 1;
		display: none;
		position: absolute;
//		left: 0;
//		top: 100%;

		background: white;
		border: 1px solid #dedede;
		border-radius: 2px;
//		min-width: 150%;
		min-width: 100%;
		z-index: $zindex-1;

		// Shift menu down
		// transform: translateY(.5rem);

		.menu-label {
			padding: 0.5em 0.75em 0em 0.75em;
			margin-bottom: 0.2em;
		}
	}

	&.dropdown-right {
		.menu {
			left: auto;
			right: 0;
		}
	}

	&.active .menu,
	.dropdown-toggle:focus + .menu,
	.menu:hover {
		display: block;
	}

}


