/**
* FORM markup
* Based on BULMA with special extras
*/

$input: $grey-darker;

.has-zooming-labels {
	.control {
		position:relative;

		label.label {
			color: $input;
			display: block;
			font-size: $size-normal;
			font-weight: normal;
			margin: 0px;

			position:absolute;
			left: .6rem;
			top: .4rem;

			cursor:text;

			opacity: 0.8;
			transition:all .2s;
		}

		input.input {
			padding-top: 1.4em;
			padding-bottom: 1em;

			&:focus,
			&:active {
				outline: none;
			}
		}
		textarea.textarea {
			padding-top: 2rem;
			padding-bottom: 1em;

			&:focus,
			&:active {
				outline: none;
			}
		}

		input.input,
		textarea.textarea {
		    // https://css-tricks.com/almanac/selectors/p/placeholder-shown/
		    &:focus + label,
		    &.has-value + label,
		    &:not(:placeholder-shown) + label
		    {
				font-weight: normal; 
		    	font-size: 65%;
		    	transform: translateY(-20%);
		    }
			&::placeholder {
				opacity:0;
				transition:all .2s;
			}
			&:placeholder-shown:not(:focus)::placeholder {
				opacity:0;
			}
			&:placeholder-shown:focus::placeholder {
				opacity:1;
			}
		}
	}
}
