// https://www.w3schools.com/cssref/css3_pr_border-image.asp

img.is-framed {
    border: 10px solid transparent;
    border-image: url(../images/image-frames/2.png);
    border-image-slice: 28 25 28 25;
    padding: 10px;
    border-image-slice: 30;
    border-image-repeat: stretch;
    border-image-width: 25px 25px;

	width: 50%;
	height: auto;
	margin: 0 auto;

	&.is-frame-1 { border-image: url("../images/image-frames/1.png"); }
	&.is-frame-2 { 
		border-image: url("../images/image-frames/2.png"); 
		padding: 13px 11px;
		border-image-slice: 28 25 28 25;
		border-image-repeat: stretch;
		border-image-width: 25px 25px;
	}
	&.is-frame-3 { 
		border: 100px solid transparent;
		border-image: url("../images/image-frames/3.png"); 
		padding: 0px;
		border-image-slice: 153;
		border-image-repeat: stretch;
		border-image-width: 153px;
		border-image-outset: 1; // multiples of border-width
	}
	&.is-frame-4 { border-image: url("../images/image-frames/4.png"); }
	&.is-frame-5 { border-image: url("../images/image-frames/5.png"); }
	&.is-frame-6 { border-image: url("../images/image-frames/6.png"); }
	&.is-frame-7 { 
		border: 15px solid transparent;
		border-image: url("../images/image-frames/7.png"); 
		padding: 0px;
		border-image-slice: 15;
		border-image-repeat: stretch;
		border-image-width: 15px;
		border-image-outset: 0; // multiples of border-width
	}
	&.is-frame-8 { border-image: url("../images/image-frames/8.png"); }
	&.is-frame-9 { 
		border: 30px solid transparent;
		padding: 0px;
		border-image: url("../images/image-frames/9.png"); 
		border-image-slice: 30;
		border-image-repeat: stretch;
		border-image-width: 35px;
		border-image-outset: 0; // multiples of border-width
	}
	&.is-frame-10 { border-image: url("../images/image-frames/10.png"); }

	&.is-matte-padded {
		padding: 25px;
	}
	&.is-small {
		width: 25%;
	}
}
