<header>
    <div class="header container-fluid">
        <div class="row middle-xs">
            <div class="col-xs">
                <div class="row begin-xs middle-xs">
                    <div class="centered middle aligned column col-xs-4 col-sm-2 col-md-3">
                        <div class="at dropdown mr50">
                            <i class="fa fa-bars opener hide-on-open"></i>
                            <i class="at at-arrows-remove opener show-on-open"></i>
                            <div class="content navigation-dropdown main-menu">
                                <ul>
                                    <li>Home</li>
                                    <li>Newest Work</li>
                                    <li>
                                        Popular Searches
                                        <i class="icon-disclosure"></i>
                                        <ul>
                                            <li>Paintings</li>
                                            <li>Photographs</li>
                                            <li>Prints &amp; Multiples</li>
                                            <li>Under $500</li>
                                            <li>Under $1000</li>
                                            <li>Under $2500</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Featured Artists
                                        <i class="icon-disclosure"></i>
                                        <ul>
                                            <li>Alex Kwok</li>
                                            <li>Camille Oudinot</li>
                                            <li>Eloise Dumas</li>
                                            <li>Lorraine Simms</li>
                                            <li>Shelley Reeves</li>
                                        </ul>
                                    </li>
                                    <li>About Art Tap</li>
                                    <li>
                                        Support
                                        <i class="icon-disclosure"></i>
                                        <ul>
                                            <li>Support</li>
                                            <li>FAQs</li>
                                            <li>Partnerships</li>
                                            <li>Contact Us</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .at.at.dropdown -->
                    </div>
                    <div class="search-wrap center middle aligned column col-xs-4">
                        <div class="at dropdown">
                            <span class="opener hide-on-open">
                                <i class="fa fa-search"></i>
                                <span class="hide-on-sm-down">Search</span>
                            </span>
                            <span class="opener show-on-open">
                                <i class="at-arrows-remove"></i>
                                <span class="hide-on-sm-down">Close</span>
                            </span>
                            <div class="content search">
                                <form class="search-form" action="">
                                    <div class="search-input-wrap">
                                        <input class="search-input" name="search" type="search" placeholder="Search ArtTap.com" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                                        <span class="at at-arrows-right search-submit"></span>
                                    </div>


                                    <div class="row">
                                        <div class="col-xs-6 col-sm-4 col-md-3 col-xl-4">
                                            <ul class="search-links">
                                                <li>Recent Searches</li>
                                                <li><a href="#">Painting</a></li>
                                                <li><a href="#">Photography</a></li>
                                                <li><a href="#">Prints &amp; Multiples </a></li>
                                                <li><a href="#">Art Under $500</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-3 col-xl-4">
                                            <ul class="search-links">
                                                <li>Recent Searches</li>
                                                <li><a href="#">Painting</a></li>
                                                <li><a href="#">Photography</a></li>
                                                <li><a href="#">Prints &amp; Multiples </a></li>
                                                <li><a href="#">Art Under $500</a></li>
                                                <li><a href="#">Art Under $1000</a></li>
                                                <li><a href="#">Art Under $2500</a></li>
                                                <li><a href="#">Art Under $5000</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- .search -->
                        </div><!-- .at.at.dropdown -->
                    </div>
                </div>
            </div>
            <a href="/" class="logo center middle aligned column col-xs center-xs middle-xs">
                <img class="responsive height" src="/assets/images/graphics/Logo/ArtTap_Logo-Yellow.svg">
            </a>
            <div class="col-xs">
                <div class="row end-xs middle-xs">
                    <div class="center middle aligned column col-xs-4 col-sm-8 col-md-8">
                        <div class="box">
                            <div class="at dropdown mr50">
                                <div class="opener">
                                    <div class="avatar avatar-sm">
                                        <img src="/assets/images/profiles/person-3.jpg">
                                        <div class="avatar-presence online"></div>
                                    </div>
                                    <span class="hide-on-sm-down">My Account</span>
                                    <i class="at at-arrows-down opener hide-on-open hide-on-sm-down"></i>
                                    <i class="at at-arrows-up opener show-on-open hide-on-sm-down"></i>
                                </div>
                                <div class="content navigation-dropdown">
                                    <ul>
                                        <li>Dashboard</li>
                                        <li>Artist Profile</li>
                                        <li><span class="count count-primary">3</span></badge>Messages</li>
                                        <li><span class="count count-primary">2</span>Orders</li>
                                        <li>Payment Options</li>
                                        <li>Shipping</li>
                                        <li>Collections</li>
                                        <li>Hearts</li>
                                        <li>Art Match</li>
                                        <li>Follows</li>
                                        <li>Support</li>
                                        <li>Sign Out</li>
                                    </ul>
                                </div>
                            </div><!-- .at.at.dropdown -->
                        </div>
                    </div>
                    <div class="center middle aligned column col-xs-4 col-md-4">
                        <div class="box">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="hide-on-sm-down">Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

    <script type="text/javascript">
        defer(function () {

            function searchInputChecker(){
                // When typing in text fields check if value is valid or not
                // $( '.search--input' ).blur( function() { checkSearchInputValue(); });
                $( '.search-input' ).keyup( function() { checkSearchInputValue(); });
            }
            function checkSearchInputValue(){
                // If search input has value, show arrow else hide
                if ( ( !$( '.search-input').val() == '') ) {
                    $('.search-submit').show();
                } else {
                    $('.search-submit').hide();
                }
            }
            searchInputChecker();

            // submit search form on click right arrow
            $('.search-submit').on( "click", function(e) {
                $(this).closest('form').submit();
                e.preventDefault();
            });

            $('.navigation-dropdown li').has('ul').click(function(){
                submenu = $(this).find('ul');
                if (submenu.is(':hidden')) {
                    submenu.slideDown('slow');
                    $(this).addClass('active');
                } else {
                    submenu.slideUp('slow');
                    $(this).removeClass('active');
                }
            });

        });
    </script>
