<header>
    <div class="header-banner">
        <!-- On using class `text` it gets conflict with globally defined class text, so using banner-text -->
        <div class="banner-text">Art for good. Art Tap donates 1% of profits to art charities.</div>
        <a class="close link-black" href="#"><i class="at at-arrows-remove"></i></a>
    </div>
    <div class="header container-fluid">
        <div class="row middle-xs">
            <div class="col-xs">
                <div class="row begin-xs middle-xs">
                    <div class="centered middle aligned column col-xs-4 col-sm-2 col-md-3">
                        <div class="at dropdown">
                            <i class="fa fa-bars opener hide-on-open"></i>
                            <i class="at at-arrows-remove opener show-on-open"></i>
                            <div class="dropdown-content navigation-dropdown main-menu">
                                <ul class="menu">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Newest Work</a></li>
                                    <li>
                                        <a>Popular Searches <i class="icon-disclosure"></i></a>
                                        <ul>
                                            <li><a href="#">Paintings</a></li>
                                            <li><a href="#">Photographs</a></li>
                                            <li><a href="#">Prints &amp; Multiples</a></li>
                                            <li><a href="#">Under $500</a></li>
                                            <li><a href="#">Under $1000</a></li>
                                            <li><a href="#">Under $2500</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Featured Artists <i class="icon-disclosure"></i></a>
                                        <ul>
                                            <li><a href="#">Alex Kwok</a></li>
                                            <li><a href="#">Camille Oudinot</a></li>
                                            <li><a href="#">Eloise Dumas</a></li>
                                            <li><a href="#">Lorraine Simms</a></li>
                                            <li><a href="#">Shelley Reeves</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">About Art Tap</a></li>
                                    <li>
                                        <a>Support <i class="icon-disclosure"></i></a>
                                        <ul>
                                            <li><a href="#">Support</a></li>
                                            <li><a href="#">FAQs</a></li>
                                            <li><a href="#">Partnerships</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .at.at.dropdown -->
                    </div>

                    <div class="search-wrap center middle aligned column col-xs-4">
                        <div class="at dropdown">
                            <span class="opener hide-on-open">
                                <i class="fa fa-search"></i>
                                <span class="hide-on-sm-down">Search</span>
                            </span>
                            <span class="opener show-on-open">
                                <i class="at at-arrows-remove"></i>
                                <span class="hide-on-sm-down">Close</span>
                            </span>
                            <div class="dropdown-content search">
                                <form class="search-form" action="">
                                    <div class="search-input-wrap">
                                        <input class="search-input" name="search" type="search" placeholder="Search ArtTap.com" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                                        <span class="at at-arrows-right search-submit"></span>
                                    </div>


                                    <div class="row">
                                        <div class="col-xs-7 col-sm-4 col-md-3 col-xl-4">
                                            <ul class="list-unstyled navbar-links">
                                                <li>Recent Searches</li>
                                                <li><a href="#">Painting</a></li>
                                                <li><a href="#">Photography</a></li>
                                                <li><a href="#">Prints &amp; Multiples </a></li>
                                                <li><a href="#">Art Under $500</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-7 col-sm-4 col-md-3 col-xl-4">
                                            <ul class="list-unstyled navbar-links">
                                                <li>Popular Searches</li>
                                                <li><a href="#">Painting</a></li>
                                                <li><a href="#">Photography</a></li>
                                                <li><a href="#">Prints &amp; Multiples </a></li>
                                                <li><a href="#">Art Under $500</a></li>
                                                <li><a href="#">Art Under $1000</a></li>
                                                <li><a href="#">Art Under $2500</a></li>
                                                <li><a href="#">Art Under $5000</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- .search -->
                        </div><!-- .at.at.dropdown -->
                    </div>
                    <div class="hide-on-md-down center middle aligned column col-md-5">
                        <div class="box">
                            <a class="link-black" href="apply-as-an-artist.html">Apply as an Artist</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/" class="logo center middle aligned column col-xs center-xs middle-xs">
                <img class="responsive height" src="assets/images/graphics/Logo/ArtTap_Logo-Yellow.svg">
            </a>
            <div class="col-xs">
                <div class="row end-xs middle-xs">
                    <div class="center middle aligned column col-xs-4 col-sm-8 col-md-8">
                        <div class="box">
                            <a class="link-black" href="register.html"><i class="fa fa-user"></i> <span class="hide-on-sm-down">Sign in | Register</span></a>
                        </div>
                    </div>
                    <div class="center middle aligned column col-xs-4 col-md-4">
                        <div class="box">
                            <div class="at dropdown">
                                <span class="opener hide-on-open">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="hide-on-sm-down">Cart</span>
                                </span>
                                <span class="opener show-on-open">
                                    <i class="at at-arrows-remove"></i>
                                    <span class="hide-on-sm-down">Close</span>
                                </span>
                                <div class="dropdown-content navigation-dropdown cart">
                                    <p>Your Cart is Empty</p>
                                    <div class="sep small"></div>
                                    <p><a  href="register.html">Sign In</a> to see items you may have added previously.</p>
                                    <a class="button is-black is-fullwidth" href="#">Continue Shopping</a>

                                    <div class="cart-links">
                                        <ul class="list-unstyled navbar-links">
                                            <li>Recent Searches</li>
                                            <li><a href="#">Painting</a></li>
                                            <li><a href="#">Photography</a></li>
                                            <li><a href="#">Prints &amp; Multiples </a></li>
                                            <li><a href="#">Art Under $500</a></li>
                                        </ul>
                                        <ul class="list-unstyled navbar-links">
                                            <li>Popular Searches</li>
                                            <li><a href="#">Painting</a></li>
                                            <li><a href="#">Photography</a></li>
                                            <li><a href="#">Prints &amp; Multiples </a></li>
                                            <li><a href="#">Art Under $500</a></li>
                                            <li><a href="#">Art Under $1000</a></li>
                                            <li><a href="#">Art Under $2500</a></li>
                                            <li><a href="#">Art Under $5000</a></li>
                                        </ul>
                                    </div>
                                </div><!-- .cart -->
                            </div><!-- .at.at.dropdown -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    defer(function () {

        function searchInputChecker(){
            // When typing in text fields check if value is valid or not
            // $( '.search--input' ).blur( function() { checkSearchInputValue(); });
            $( '.search-input' ).keyup( function() { checkSearchInputValue(); });
        }
        function checkSearchInputValue(){
            // If search input has value, show arrow else hide
            if ( ( !$( '.search-input').val() == '') ) {
                $('.search-submit').show();
            } else {
                $('.search-submit').hide();
            }
        }
        searchInputChecker();

        // submit search form on click right arrow
        $('.search-submit').on( "click", function(e) {
            $(this).closest('form').submit();
            e.preventDefault();
        });

        $('.navigation-dropdown li').has('ul').click(function(){
            submenu = $(this).find('ul');
            if (submenu.is(':hidden')) {
                submenu.slideDown('slow');
                $(this).addClass('active');
            } else {
                submenu.slideUp('slow');
                $(this).removeClass('active');
            }
        });

    });
</script>
</header>
