<div class="header-dropdown-bg"></div>

<header id="header">
    <div class="header-banner">
        <!-- On using class `text` it gets conflict with globally defined class text, so using banner-text -->
        <div class="banner-text">Art for good. Art Tap donates 1% of profits to art charities.</div>
        <a class="close link-black" href="#"><i class="at at-arrows-remove"></i></a>
    </div>
    <div class="header">
        <div>
            <div class="at dropdown hamburger">
                <i class="at at-bars opener hide-on-open"></i>
                <i class="at at-arrows-remove at-bars-close opener show-on-open"></i>
                <div class="dropdown-content navigation-dropdown main-menu">
                    <ul class="menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Newest Work</a></li>
                        <li>
                            <a>Popular Searches <i class="icon-disclosure"></i></a>
                            <ul>
                                <li><a href="#">Paintings</a></li>
                                <li><a href="#">Photographs</a></li>
                                <li><a href="#">Prints &amp; Multiples</a></li>
                                <li><a href="#">Under $500</a></li>
                                <li><a href="#">Under $1000</a></li>
                                <li><a href="#">Under $2500</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Featured Artists <i class="icon-disclosure"></i></a>
                            <ul>
                                <li><a href="#">Alex Kwok</a></li>
                                <li><a href="#">Camille Oudinot</a></li>
                                <li><a href="#">Eloise Dumas</a></li>
                                <li><a href="#">Lorraine Simms</a></li>
                                <li><a href="#">Shelley Reeves</a></li>
                            </ul>
                        </li>
                        <li><a href="#">About Art Tap</a></li>
                        <li>
                            <a>Support <i class="icon-disclosure"></i></a>
                            <ul>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Partnerships</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!-- .at.at.dropdown -->

            <div class="at dropdown search-wrapper">
                <span class="opener hide-on-open">
                    <i class="at at-search"></i>
                    <span class="hide-on-xs">Search</span>
                </span>
                <span class="opener show-on-open">
                    <i class="at at-search"></i>
                    <span class="hide-on-xs fw-500">Search</span>
                </span>
                <div class="dropdown-content search">
                    <form class="search-form" action="">
                        <div class="search-input-wrap">
                            <input class="search-input" name="search" type="search" placeholder="Search ArtTap.com" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                            <span class="at at-arrows-right search-submit"></span>
                        </div>


                        <div class="d-flex">
                            <ul class="list-unstyled navbar-links">
                                <li class="fw-m">Recent Searches</li>
                                <li><a href="#">Painting</a></li>
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Prints &amp; Multiples </a></li>
                                <li><a href="#">Art Under $500</a></li>
                            </ul>
                            <ul class="list-unstyled navbar-links">
                                <li class="fw-m">Popular Searches</li>
                                <li><a href="#">Painting</a></li>
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Prints &amp; Multiples </a></li>
                                <li><a href="#">Art Under $500</a></li>
                                <li><a href="#">Art Under $1000</a></li>
                                <li><a href="#">Art Under $2500</a></li>
                                <li><a href="#">Art Under $5000</a></li>
                            </ul>
                        </div>
                    </form>
                </div><!-- .search -->
            </div><!-- .at.at.dropdown -->

            <a class="link-black hide-on-sm-down" href="apply-as-an-artist.html">Apply as an Artist</a>
        </div>

        <a href="/" class="logo"><img class="" src="assets/images/graphics/Logo/ArtTap_Logo-Yellow.svg"></a>

        <div class="d-flex">
            <div>
                <div class="at dropdown">
                    <div class="opener">
                        <div class="avatar avatar-sm">
                            <img src="/assets/images/profiles/person-3.jpg">
                            <div class="avatar-presence online"></div>
                        </div>
                        <span class="hide-on-xs">My Account</span>
                        <i class="at at-arrows-down opener hide-on-open hide-on-xs"></i>
                        <i class="at at-arrows-up opener show-on-open hide-on-xs"></i>
                    </div>
                    <div class="dropdown-content navigation-dropdown logged-in">
                        <ul class="menu">
                            <li><a href="dashboard.html">Dashboard</a></li>
                            <li><a href="#">Artist Profile</a></li>
                            <li><a href="#" class="badge" data-badge="44">Messages</a></li>
                            <li><a href="#" class="badge" data-badge="99">Orders</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Collections</a></li>
                            <li><a href="#">Hearts</a></li>
                            <li><a href="#">Art Match</a></li>
                            <li><a href="#">Follows</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </div>
                </div><!-- .at.at.dropdown -->
            </div>

            <div class="at dropdown cart-wrapper">
                <span class="shopping-cart-open opener hide-on-open">
                    <i class="at at-cart badge is-primary-badge" data-badge="44"></i>
                    <span class="hide-on-xs">Cart</span>
                </span>
                <span class="shopping-cart-close opener show-on-open">
                    <i class="at at-cart"></i>
                    <span class="hide-on-xs">Cart</span>
                </span>

                <div class="dropdown-content navigation-dropdown cart">
                    <div class="cart-success-text">
                        <div>
                            <i class="icon-circle at at-check success-check"></i>
                        </div>
                        <div>
                            Success! This piece has been added to your cart.
                        </div>
                    </div>
                    <div class="sep m10"></div>
                    <div class="card checkout">
                        <div class="left">
                            <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                                <img src="/assets/images/artwork/art-1.jpg">
                            </div>
                            <div class="content">
                                <div class="artist">
                                    Camille Oudinot
                                </div>
                                <div class="title">
                                    Fading Faces
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <i class="at at-2x at-arrows-remove"></i>
                            <div class="price">
                                $930
                            </div>
                        </div>
                    </div>
                    <div class="subtotal">
                        <div>Subtotal</div>
                        <div>$1352.00</div>
                    </div>
                    <a class="button is-black is-fullwidth" href="#">Checkout</a>
                    <a class="button is-gray is-outlined is-fullwidth" href="#">Continue Shopping</a>
                </div><!-- .cart -->
            </div><!-- .at.at.dropdown -->

        </div><!-- .d-flex -->

    </div><!-- .header -->
</header>

<script type="text/javascript">
    defer(function () {

        function searchInputChecker(){
            // When typing in text fields check if value is valid or not
            // $( '.search--input' ).blur( function() { checkSearchInputValue(); });
            $( '.search-input' ).keyup( function() { checkSearchInputValue(); });
        }
        function checkSearchInputValue(){
            // If search input has value, show arrow else hide
            if ( ( !$( '.search-input').val() == '') ) {
                $('.search-submit').show();
            } else {
                $('.search-submit').hide();
            }
        }
        searchInputChecker();

        // submit search form on click right arrow
        $('.search-submit').on( "click", function(e) {
            $(this).closest('form').submit();
            e.preventDefault();
        });

    });
</script>
