<dl class="at accordion">
    <dt>How do I post my artwork on the site?<i class="at at-arrows-plus"></i></dt>
    <dd>
        <p>My artwork takes the form of tangible representation no paper in questioning the wrole of the photographic image in the contemporary art world. Through exte...</p>
    </dd>

    <dt>What do I do when a piece is purchased?<i class="at at-arrows-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
    </dd>
    
    <dt>How do I package a piece?<i class="at at-arrows-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
    </dd>
</dl>