<h2>Without Info</h2>
<dl class="at accordion">
    <dt>How does Art Tap work?<i class="at at-arrows-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
    </dd>

    <dt>How do I register?<i class="at at-arrows-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
    </dd>
</dl>

<h2>With Info buttons</h2>
<dl class="at accordion has-info">
    <dt>How does Art Tap work?<i class="at at-arrows-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
        {{> info-helpful }}
    </dd>

    <dt>How do I register?<i class="at at-arrows-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
        {{> info-helpful }}
    </dd>

    <dt>How do I create my profile?<i class="at at-arrows-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
        {{> info-helpful }}
    </dd>
</dl>