<dl class="accordion">
    <dt>How does Art Tap work?<i class="icon fa fa-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
        <div class="info-helpful">
            <div class="info">Was this information helpful?</div>
            <button class="button is-gray is-outlined">Yes</button>
            <button class="button is-gray is-outlined">No</button>
        </div>
    </dd>

    <dt>How do I register?<i class="icon fa fa-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
        <div class="info-helpful">
            <div class="info">Was this information helpful?</div>
            <button class="button is-gray is-outlined">Yes</button>
            <button class="button is-gray is-outlined">No</button>
        </div>
    </dd>

    <dt>How do I create my profile?<i class="icon fa fa-plus"></i></dt>
    <dd>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</p>
        <div class="info-helpful">
            <div class="info">Was this information helpful?</div>
            <button class="button is-gray is-outlined">Yes</button>
            <button class="button is-gray is-outlined">No</button>
        </div>
    </dd>
</dl>