<div class="add-to-collection">
    <div class="at dropdown no-bg">

        <button class="btn-add-collection button is-gray is-outlined is-fullwidth opener"><i class="at at-arrows-down"></i> Add to Collection</button>
        <div class="dropdown-content">
            <div class="field">
                <div class="control">
                    <input class="input" type="name" placeholder="Name of Collection" value="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio mr30">
                        <input type="radio" name="question">
                        <span></span>
                        Public
                    </label>
                    <label class="radio">
                        <input type="radio" name="question">
                        <span></span>
                        Private
                    </label>
                </div>
            </div>
            <button class="btn-create-collection button is-black is-fullwidth">Create Collection</button>
        </div>

    </div><!-- .at.at.dropdown -->
    {{> square-heart-button }}
    {{> square-upload-button }}

</div>
