<div class="add-to-collection">
    <div class="at dropdown">

        <button class="button is-gray is-outlined opener">Add to Collection</button>
        <div class="dropdown-content">
            <div class="create">
                <div class="field">
                    <div class="control">
                        <input class="input" type="name" placeholder="Name of Collection" value="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="radio mr30">
                            <input type="radio" name="question">
                            <span></span>
                            Public
                        </label>
                        <label class="radio">
                            <input type="radio" name="question">
                            <span></span>
                            Private
                        </label>
                    </div>
                </div>
                <button class="button is-fullwidth is-black">Create Collection</button>
            </div>
        </div>
    </div><!-- .at.at.dropdown -->
    {{> square-heart-button }}

</div>
