<h3 documentation>Inbox has 2 modifer classes: <small><mark>.hide-action</mark></small> and <small><mark>.hide-checkbox</mark></small> see example below</h3>

<h3>Simple Inbox with Action control and checkbox with messages</h3>
<div class="inbox">

    {{> inbox }}

</div><!-- .inbox -->



<h3 documentation>It has <small><mark>.hide-action</mark></small> - Hide control Action</h3>
<div class="inbox hide-action">

    {{> inbox }}

</div><!-- .inbox -->

<h3 documentation>It has <small><mark>.hide-checkbox</mark></small> - Hide control Action</h3>
<div class="inbox hide-checkbox">

    {{> inbox }}

</div><!-- .inbox -->