<!--
	file:///Users/flash/Dropbox/Websites/Reference/spectre.css/spectre/components.html#avatars
-->

<div class="avatar avatar-xs"><img src="{{selfie}}"></div>
<div class="avatar avatar-sm"><img src="{{selfie}}"></div>
<div class="avatar"><img src="{{selfie}}"></div>
<div class="avatar avatar-lg"><img src="{{selfie}}"></div>
<div class="avatar avatar-xl"><img src="{{selfie}}"></div>
<div class="avatar avatar-xl" data-initial="SR"></div>

<div class="avatar avatar-xl">
	<img src="{{selfie}}">
	<img src="/assets/images/profiles/person-2.jpg" class="avatar-icon">
</div>

<div class="avatar avatar-xl">
	<img src="{{selfie}}">
	<div class="avatar-status follow fa fa-plus"></div>
</div>

<div class="avatar avatar-xl">
	<img src="{{selfie}}">
	<div class="avatar-presence online"></div>
</div>


