<div class="cross-image-text">
    <div class="group">
        <div class="image">
            <img src="/assets/images/page/apply-artist/quality.jpg">
        </div>
        <div class="group-text">
            <h4>Quality</h4>
            <p>Our dedicated team of curators carfully select emerging and prominent artists to exhibit on Marketplace, always ensuring your work is placed amongst other professional works.</p>
        </div>
    </div>

    <div class="group">
        <div class="image">
            <img src="/assets/images/page/apply-artist/flexibility.jpg">
        </div>
        <div class="group-text">
            <h4>Flexibility</h4>
            <p>We offer artists the flexibility to price, sell, and ship artworks on their terms. Artists do not need to sign an exclusivity contract to sell through Marketplace. </p>
        </div>
    </div>

    <div class="group">
        <div class="image">
            <img src="/assets/images/page/apply-artist/more-profit.jpg">
        </div>
        <div class="group-text">
            <h4>More Profit</h4>
            <p>Traditional galleries receive over 50% commission on the sale of each piece. Alternatively, Marketplace receieves less than 30% commission while fulfilling gallery responsibilities at no added cost.</p>
        </div>
    </div>

    <div class="group">
        <div class="image">
            <img src="/assets/images/page/apply-artist/promotion.jpg">
        </div>
        <div class="group-text">
            <h4>Promotion</h4>
            <p>Our team will promote your upcoming events and feature you and your work for free through our various marketing channels.</p>
        </div>
    </div>

    <div class="group">
        <div class="image">
            <img src="/assets/images/page/apply-artist/community.jpg">
        </div>
        <div class="group-text">
            <h4>Community</h4>
            <p>By registering, artists join a supportive worldwide community. There are always opportunities to meet prospective buyers and learn from other artists and art enthusiasts.</p>
        </div>
    </div>

    <div class="group">
        <div class="image">
            <img src="/assets/images/page/apply-artist/trust.jpg">
        </div>
        <div class="group-text">
            <h4>Trust</h4>
            <p>All transactions and payment information is 100% secure.</p>
        </div>
    </div>
</div><!-- .cross-image-text -->