<div class="at curated-collections">

    <div class="block-curated">
        <div class="user">
            <div class="avatar avatar-xl">
                <img src="/assets/images/profiles/person-3.jpg">
                <div class="avatar-status follow"></div>
            </div>
            <div class="user-info">
                <div class="name fw-m">Vincene's Favorite Collection </div>
                <div class="by text-s">By Vincene Collura</div>
                <div class="total text-fade text-s">5 Curated Collura</div>
            </div>
        </div>

        <div class="at slider slide2">

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        1
                    </div>
                    <div class="title">
                        1
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        2
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        3
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        4
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        5
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn-collection button is-black is-fullwidth">See Collection</button>
    </div><!-- .block-curated -->

    <div class="sep-curated"></div>

    <div class="block-curated">
        <div class="user">
            <div class="avatar avatar-xl">
                <img src="/assets/images/profiles/person-3.jpg">
                <div class="avatar-status follow"></div>
            </div>
            <div class="user-info">
                <div class="name fw-m">Vincene's Favorite Collection </div>
                <div class="by text-s">By Vincene Collura</div>
                <div class="total text-fade text-s">5 Curated Collura</div>
            </div>
        </div>

        <div class="at slider slide2">

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        1
                    </div>
                    <div class="title">
                        1
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        2
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        3
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        4
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        5
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn-collection button is-black is-fullwidth">See Collection</button>
    </div><!-- .block-curated -->

    <div class="sep-curated"></div>

    <div class="block-curated">
        <div class="user">
            <div class="avatar avatar-xl">
                <img src="/assets/images/profiles/person-3.jpg">
                <div class="avatar-status follow"></div>
            </div>
            <div class="user-info">
                <div class="name fw-m">Vincene's Favorite Collection </div>
                <div class="by text-s">By Vincene Collura</div>
                <div class="total text-fade text-s">5 Curated Collura</div>
            </div>
        </div>

        <div class="at slider slide2">

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        1
                    </div>
                    <div class="title">
                        1
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        2
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        3
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        4
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>

            <div class="card square">
                <div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
                    <img src="/assets/images/artwork/art-1.jpg">
                </div>
                <div class="content text-s text-fade">
                    <div class="heart">
                        <!-- <span class="heart-number">55</span> -->
                        <i class="icon fa fa-heart"></i>
                    </div>
                    <div class="artist">
                        5
                    </div>
                    <div class="title">
                        Fading Faces
                    </div>
                    <div class="price">
                        $930
                        <span class="currency"><s>$930</s></span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn-collection button is-black is-fullwidth">See Collection</button>
    </div><!-- .block-curated -->


</div><!-- .curated-collections -->


    <script type="text/javascript">
        defer (function() {
            $('.heart').click(function(){
                $(this).toggleClass( "is-hearted" );
                $(this).toggleClass( "is-being-clicked" );
                setTimeout(function(){
                    $('.heart').removeClass("is-being-clicked");
                }, 750);

                // Toggle text just for visuals
                if ($(this).hasClass("is-hearted")) {
                    $(this).find('.heart-number').html("63");
                } else {
                    $(this).find('.heart-number').html("62");
                }
            });


            $('.at.slider').on('init', function(event, slick){

                setElementsHeight();
            });
            $('.at.slider.slide2').slick({
                infinite: false,
                slidesToShow: 2,
                slidesToScroll: 2
            });
        });
    </script>