<div class="col-flex">

<div class="at dropdown mr50">
    <span class="opener hide-on-open">Open</span>
    <span class="opener show-on-open">Close</span>
    <div class="content" style="background: rgb(255, 228, 228);"><!-- Inline style is for testing purpoe, Remove when use in project -->
        <ul>
            <li>Home</li>
            <li>Newest Work</li>
            <li>
                Popular Searches
                <i class="icon-disclosure"></i>
                <ul>
                    <li><a href="#">Paintings</a></li>
                    <li>Photographs</li>
                    <li>Prints &amp; Multiples</li>
                    <li>Under $500</li>
                    <li>Under $1000</li>
                    <li>Under $2500</li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- .at.at.dropdown -->


<div class="at dropdown mr50">
    <i class="fa fa-bars opener hide-on-open"></i>
    <i class="at at-arrows-remove opener show-on-open"></i>
    <div class="content" style="background: rgb(242, 246, 189);">
        <ul>
            <li>Home</li>
            <li>Newest Work</li>
            <li>
                Popular Searches
                <i class="icon-disclosure"></i>
                <ul>
                    <li><a href="#">Paintings</a></li>
                    <li>Photographs</li>
                    <li>Prints &amp; Multiples</li>
                    <li>Under $500</li>
                    <li>Under $1000</li>
                    <li>Under $2500</li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- .at.at.dropdown -->


<div class="at dropdown">
    <i class="at at-arrows-down opener hide-on-open"></i>
    <i class="at at-arrows-up opener show-on-open"></i>
    <div class="content" style="background: #eee;">
        <ul>
            <li>Home</li>
            <li>Newest Work</li>
            <li>
                Popular Searches
                <i class="icon-disclosure"></i>
                <ul>
                    <li><a href="#">Paintings</a></li>
                    <li>Photographs</li>
                    <li>Prints &amp; Multiples</li>
                    <li>Under $500</li>
                    <li>Under $1000</li>
                    <li>Under $2500</li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- .at.at.dropdown -->

</div>
