<div class="card follower">
	<div class="avatar avatar-xl">
		<img src="/assets/images/profiles/person-1.jpg">
		<div class="avatar-status follow"></div>
	</div>
	<div class="name">Alexander Kwok</div>
	<div class="type">Purchased Artist <span class="at status-presence is-online"></span></div>
</div>

<div class="card follower">
	<div class="avatar avatar-xl">
		<img src="/assets/images/profiles/person-2.jpg">
		<div class="avatar-status followed"></div>
	</div>
	<div class="name">Cincene Collura</div>
	<div class="type">Collector <span class="at status-presence is-away"></span></div>
</div>

<div class="card follower">
	<div class="avatar avatar-xl">
		<img src="/assets/images/profiles/person-3.jpg">
		<div class="avatar-status follow"></div>
	</div>
	<div class="name">Alexander Kwok</div>
	<div class="type">Artist <span class="at status-presence is-busy"></span></div>
</div>
