<h3 documentation>Not followed yet</h3>
<div class="follow-artist">
    <span class="follow">
        <a href="#">
            <i class="icon"></i> 
            Follow Artist
        </a>
    </span>
    <span class="followers">
        60 Followers
    </span>
</div>

<h3 documentation>Followed <small>(add class <tt>.is-followed</tt>)</small></h3>
<div class="follow-artist is-followed">
    <span class="follow">
        <a href="#">
            <i class="icon"></i> 
            Follow Artist
        </a>
    </span>
    <span class="followers">
        60 Followers
    </span>
</div>
