<div class='row'>
    <div class='column col-xs-7 loader-spinner loader-bg-black' style="height: 400px;">
        <h2>content of container is hidden and spinner + background shows</h2>
    </div>
    <div class='column col-xs-7'>
        <h2>iOS 7 Progress Bar</h2>
		<div class="progress">
			<div class="progress-bar">
				<div class="progress-shadow"></div>
			</div>
		</div>
    </div>
</div>
<div class='row'>
    <div class='column col-xs-7 '>
    	<p>Just add class on div > class="loader-spinner loader-bg-white or loader-bg-black"</p></p>
    </div>
    <div class='column col-xs-7'>
    	<code><pre>&lt;div class="progress"&gt;
	&lt;div class="progress-bar"&gt;
		&lt;div class="progress-shadow"&gt;&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</pre></code>
    </div>
</div>
