<aside id="sidebar">
    <ul>
        <li class="active"><a href="dashboard.html">Dashboard</a></li>
        <li><a href="#">Artist Profile</a></li>
        <li><a href="artist-inbox.html">Messages</a></li>
        <li><a href="order.html">Orders</a></li>
        <li><a href="#">Payment Options</a></li>
        <li><a href="shipping.html">Shipping</a></li>
        <li><a href="collections.html">Collections</a></li>
        <li><a href="heart.html">Hearts</a></li>
        <li><a href="#">Art Match</a></li>
        <li><a href="#">Follows</a></li>
        <li><a href="faq.html">Support</a></li>
        <li><a href="#">Sign Out</a></li>
    </ul>
</aside><!-- #sidebar -->