<aside id="sidebar">
    <ul>
        <li class="active"><a href="dashboard.html">Dashboard</a></li>
        <li><a href="#">Artist Profile</a></li>
        <li><a href="artist-inbox.html">Messages</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Payment Options</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="collections.html">Collections</a></li>
        <li><a href="#">Hearts</a></li>
        <li><a href="#">Art Match</a></li>
        <li><a href="#">Follows</a></li>
        <li><a href="#">Hearts</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Sign Out</a></li>
    </ul>
</aside><!-- #sidebar -->