<aside id="sidebar">
    <ul>
        <li class="active"><a href="faq.html">FAQs</a></li>
        <li><a href="collector-support.html">Collector Support</a></li>
        <li><a href="artist-support.html">Artist Support</a></li>
        <li><a href="terms-of-use.html">Terms of Use</a></li>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
        <li><a href="copyright.html">Copyright Info</a></li>
        <li><a href="partnerships.html">Partnerships</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
    </ul>
</aside><!-- #sidebar -->