<div class="at slider is-responsive">

	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
			<img src="/assets/images/artwork/art-1.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">55</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Camille Oudinot
			</div>
			<div class="title">
				Fading Faces
			</div>
			<div class="price">
				$930
				<span class="currency"><s>$930</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-narrow-1.jpg');">
			<img src="/assets/images/artwork/art-narrow-1.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">23</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Sethlan Semelon
			</div>
			<div class="title">
				Rhapsody in the Beginning of Summer
			</div>
			<div class="price">
				$1930
				<span class="currency"><s>$1930</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-wide-1.jpg');">
			<img src="/assets/images/artwork/art-wide-1.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">11</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Nan Park
			</div>
			<div class="title">
				Uncanny Valley
			</div>
			<div class="price">
				$450
				<span class="currency"><s>$450</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-3.jpg');">
			<img src="/assets/images/artwork/art-3.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">123</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Jane Do
			</div>
			<div class="title">
				Roommate #2
			</div>
			<div class="price">
				$633
				<span class="currency"><s>$633</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-4.jpg');">
			<img src="/assets/images/artwork/art-4.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">61</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Jephesandra Tawarna
			</div>
			<div class="title">
				Getting Coffee / Knife Wound
			</div>
			<div class="price">
				$1024
				<span class="currency"><s>$1024</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-5.jpg');">
			<img src="/assets/images/artwork/art-5.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">31</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Jimothy St. Creus de la Mare
			</div>
			<div class="title">
				Oily Water
			</div>
			<div class="price">
				$1930
				<span class="currency"><s>$1930</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-6.jpg');">
			<img src="/assets/images/artwork/art-6.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">22</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Caulie Dempsei Alexandrian
			</div>
			<div class="title">
				Lurid Overhead Squish
			</div>
			<div class="price">
				$2450
				<span class="currency"><s>$2450</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-2.jpg');">
			<img src="/assets/images/artwork/art-2.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">1</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Amy Yu
			</div>
			<div class="title">
				First Argument
			</div>
			<div class="price">
				$4430
				<span class="currency"><s>$4430</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-5.jpg');">
			<img src="/assets/images/artwork/art-5.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">31</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Jimothy St. Creus de la Mare
			</div>
			<div class="title">
				Oily Water
			</div>
			<div class="price">
				$1930
				<span class="currency"><s>$1930</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-6.jpg');">
			<img src="/assets/images/artwork/art-6.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">22</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Caulie Dempsei Alexandrian
			</div>
			<div class="title">
				Lurid Overhead Squish
			</div>
			<div class="price">
				$2450
				<span class="currency"><s>$2450</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-2.jpg');">
			<img src="/assets/images/artwork/art-2.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">1</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Amy Yu
			</div>
			<div class="title">
				First Argument
			</div>
			<div class="price">
				$4430
				<span class="currency"><s>$4430</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-5.jpg');">
			<img src="/assets/images/artwork/art-5.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">31</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Jimothy St. Creus de la Mare
			</div>
			<div class="title">
				Oily Water
			</div>
			<div class="price">
				$1930
				<span class="currency"><s>$1930</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-6.jpg');">
			<img src="/assets/images/artwork/art-6.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">22</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Caulie Dempsei Alexandrian
			</div>
			<div class="title">
				Lurid Overhead Squish
			</div>
			<div class="price">
				$2450
				<span class="currency"><s>$2450</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-5.jpg');">
			<img src="/assets/images/artwork/art-5.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">31</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Jimothy St. Creus de la Mare
			</div>
			<div class="title">
				Oily Water
			</div>
			<div class="price">
				$1930
				<span class="currency"><s>$1930</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-6.jpg');">
			<img src="/assets/images/artwork/art-6.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">22</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Caulie Dempsei Alexandrian
			</div>
			<div class="title">
				Lurid Overhead Squish
			</div>
			<div class="price">
				$2450
				<span class="currency"><s>$2450</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-2.jpg');">
			<img src="/assets/images/artwork/art-2.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">1</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Amy Yu
			</div>
			<div class="title">
				First Argument
			</div>
			<div class="price">
				$4430
				<span class="currency"><s>$4430</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-5.jpg');">
			<img src="/assets/images/artwork/art-5.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">31</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Jimothy St. Creus de la Mare
			</div>
			<div class="title">
				Oily Water
			</div>
			<div class="price">
				$1930
				<span class="currency"><s>$1930</s></span>
			</div>
		</div>
	</div>
	<div class="card square">
		<div class="image" style="background-image: url('/assets/images/artwork/art-6.jpg');">
			<img src="/assets/images/artwork/art-6.jpg">
		</div>
		<div class="content text-s text-fade">
			<div class="heart">
				<!-- <span class="heart-number">22</span> -->
				<i class="icon fa fa-heart"></i>
			</div>
			<div class="artist">
				Caulie Dempsei Alexandrian
			</div>
			<div class="title">
				Lurid Overhead Squish
			</div>
			<div class="price">
				$2450
				<span class="currency"><s>$2450</s></span>
			</div>
		</div>
	</div>
</div><!-- .at slider -->

<script>
    defer (function() {
    	
        $('.heart').click(function(){
            $(this).toggleClass( "is-hearted" );
            $(this).toggleClass( "is-being-clicked" );
            setTimeout(function(){
                $('.heart').removeClass("is-being-clicked");
            }, 750);

            // Toggle text just for visuals
            if ($(this).hasClass("is-hearted")) {
                $(this).find('.heart-number').html("63");
            } else {
                $(this).find('.heart-number').html("62");
            }
        });

	});
</script>