<div class="at slider is-responsive">



	<div class="card artist">
		<div class="image" style="background-image: url('/assets/images/artwork/art-1.jpg');">
			<img src="/assets/images/artwork/art-1.jpg">
		</div>
		<div class="card-avatar">
			<!--
				file:///Users/flash/Dropbox/Websites/Reference/spectre.css/spectre/components.html#avatars
			-->
			
			<div class="avatar avatar-xl">
				<img src="/assets/images/profiles/person-1.jpg">
				<div class="avatar-status follow"></div>
			</div>
		</div>
		<div class="content">
			<div class="artist fw-m">
				Camille Oudinot
			</div>
			<div class="from text-s">
				New York, NY
			</div>
			<div class="pieces text-s text-fade">
				1 piece
			</div>
		</div>
	</div>
	<div class="card artist">
		<div class="image" style="background-image: url('/assets/images/artwork/art-narrow-1.jpg');">
			<img src="/assets/images/artwork/art-narrow-1.jpg">
		</div>
		<div class="card-avatar">
			<!--
				file:///Users/flash/Dropbox/Websites/Reference/spectre.css/spectre/components.html#avatars
			-->
			
			<div class="avatar avatar-xl">
				<img src="/assets/images/profiles/person-2.jpg">
				<div class="avatar-status follow"></div>
			</div>
		</div>
		<div class="content">
			<div class="artist fw-m">
				Sethlan Semelon
			</div>
			<div class="from text-s">
				St. Louisville de la Mar, North Dakota
			</div>
			<div class="pieces text-s text-fade">
				230 pieces
			</div>
		</div>
	</div>
	<div class="card artist">
		<div class="image" style="background-image: url('/assets/images/artwork/art-wide-1.jpg');">
			<img src="/assets/images/artwork/art-wide-1.jpg">
		</div>
		<div class="card-avatar">
			<!--
				file:///Users/flash/Dropbox/Websites/Reference/spectre.css/spectre/components.html#avatars
			-->
			
			<div class="avatar avatar-xl">
				<img src="/assets/images/profiles/person-3.jpg">
				<div class="avatar-status follow"></div>
			</div>
		</div>
		<div class="content">
			<div class="artist fw-m">
				Nan Park
			</div>
			<div class="from text-s">
				Schenectady, NY
			</div>
			<div class="pieces text-s text-fade">
				15 pieces
			</div>
		</div>
	</div>
	<div class="card artist">
		<div class="image" style="background-image: url('/assets/images/artwork/art-3.jpg');">
			<img src="/assets/images/artwork/art-3.jpg">
		</div>
		<div class="card-avatar">
			<!--
				file:///Users/flash/Dropbox/Websites/Reference/spectre.css/spectre/components.html#avatars
			-->
			
			<div class="avatar avatar-xl">
				<img src="/assets/images/profiles/person-1.jpg">
				<div class="avatar-status follow"></div>
			</div>
		</div>
		<div class="content">
			<div class="artist fw-m">
				Jane Do
			</div>
			<div class="from text-s">
				New York, NY
			</div>
			<div class="pieces text-s text-fade">
				22 pieces
			</div>
		</div>
	</div>
	<div class="card artist">
		<div class="image" style="background-image: url('/assets/images/artwork/art-4.jpg');">
			<img src="/assets/images/artwork/art-4.jpg">
		</div>
		<div class="card-avatar">
			<!--
				file:///Users/flash/Dropbox/Websites/Reference/spectre.css/spectre/components.html#avatars
			-->
			
			<div class="avatar avatar-xl">
				<img src="/assets/images/profiles/person-2.jpg">
				<div class="avatar-status follow"></div>
			</div>
		</div>
		<div class="content">
			<div class="artist fw-m">
				Jephesandra Tawarna
			</div>
			<div class="from text-s">
				New York, NY
			</div>
			<div class="pieces text-s text-fade">
				44 pieces
			</div>
		</div>
	</div>
	<div class="card artist">
		<div class="image" style="background-image: url('/assets/images/artwork/art-5.jpg');">
			<img src="/assets/images/artwork/art-5.jpg">
		</div>
		<div class="card-avatar">
			<!--
				file:///Users/flash/Dropbox/Websites/Reference/spectre.css/spectre/components.html#avatars
			-->
			
			<div class="avatar avatar-xl">
				<img src="/assets/images/profiles/person-3.jpg">
				<div class="avatar-status follow"></div>
			</div>
		</div>
		<div class="content">
			<div class="artist fw-m">
				Jimothy St. Creus de la Mare
			</div>
			<div class="from text-s">
				New York, NY
			</div>
			<div class="pieces text-s text-fade">
				60 pieces
			</div>
		</div>
	</div>
	<div class="card artist">
		<div class="image" style="background-image: url('/assets/images/artwork/art-6.jpg');">
			<img src="/assets/images/artwork/art-6.jpg">
		</div>
		<div class="card-avatar">
			<!--
				file:///Users/flash/Dropbox/Websites/Reference/spectre.css/spectre/components.html#avatars
			-->
			
			<div class="avatar avatar-xl">
				<img src="/assets/images/profiles/person-1.jpg">
				<div class="avatar-status follow"></div>
			</div>
		</div>
		<div class="content">
			<div class="artist fw-m">
				Caulie Dempsei Alexandrian
			</div>
			<div class="from text-s">
				New York, NY
			</div>
			<div class="pieces text-s text-fade">
				20 pieces
			</div>
		</div>
	</div>
	<div class="card artist">
		<div class="image" style="background-image: url('/assets/images/artwork/art-2.jpg');">
			<img src="/assets/images/artwork/art-2.jpg">
		</div>
		<div class="card-avatar">
			<!--
				file:///Users/flash/Dropbox/Websites/Reference/spectre.css/spectre/components.html#avatars
			-->
			
			<div class="avatar avatar-xl">
				<img src="/assets/images/profiles/person-2.jpg">
				<div class="avatar-status follow"></div>
			</div>
		</div>
		<div class="content">
			<div class="artist fw-m">
				Amy Yu
			</div>
			<div class="from text-s">
				New York, NY
			</div>
			<div class="pieces text-s text-fade">
				6 pieces
			</div>
		</div>
	</div>



</div><!-- .at slider -->

<script>
    defer (function() {
    	
        $('.heart').click(function(){
            $(this).toggleClass( "is-hearted" );
            $(this).toggleClass( "is-being-clicked" );
            setTimeout(function(){
                $('.heart').removeClass("is-being-clicked");
            }, 750);

            // Toggle text just for visuals
            if ($(this).hasClass("is-hearted")) {
                $(this).find('.heart-number').html("63");
            } else {
                $(this).find('.heart-number').html("62");
            }
        });

	});
</script>