<div class="tabs is-centered">
	<ul>
		<li data-tab="tab_artwork" class="is-active"><a>Artwork</a></li>
		<li data-tab="tab_biography"><a>Biography</a></li>
		<li data-tab="tab_shows"><a>Shows</a></li>
		<li data-tab="tab_social"><a>Social</a></li>
	</ul>
</div><!-- .tabs -->


<div class="tabs-container"">

    <div id="tab_artwork" class="tab-content is-active" style="max-width: 700px; margin: auto;">
        <p>Artwork</p>
    </div><!-- #tab_artwork -->

    <div id="tab_biography" class="tab-content" style="max-width: 700px; margin: auto;">
        <div class="see-more">
            <div class="fade-info text-left">
                <p>My artwork takes the form of tangible representation on paper in questioning the role of the photographic image in the contemporary art world. Through extensive research and informed instincts, my projects seek to articulate the aesthetic tension created between performative aspect and emotional response through the conscious awareness of the camera. The aesthetics in my artwork seek to enable an initial visual seduction of mechanical perfection and superficial relationships, which establish itself as a façade against the poetics of imperfect beauty and capricious nature of inter-human behaviour.</p>

                <p>My artwork takes the form of tangible representation on paper in questioning the role of the photographic image in the contemporary art world. Through extensive research and informed instincts, my projects seek to articulate the aesthetic tension created between performative aspect and emotional response through the conscious awareness of the camera. The aesthetics in my artwork seek to enable an initial visual seduction of mechanical perfection and superficial relationships, which establish itself as a façade against the poetics of imperfect beauty and capricious nature of inter-human behaviour.</p>

                <p>My artwork takes the form of tangible representation on paper in questioning the role of the photographic image in the contemporary art world. Through extensive research and informed instincts, my projects seek to articulate the aesthetic tension created between performative aspect and emotional response through the conscious awareness of the camera. The aesthetics in my artwork seek to enable an initial visual seduction of mechanical perfection and superficial relationships, which establish itself as a façade against the poetics of imperfect beauty and capricious nature of inter-human behaviour.</p>
            </div>
            <div class="action fade-info-action"><a href="#">See More</a></div>
        </div>
    </div><!-- #tab_biography -->

    <div id="tab_shows" class="tab-content" style="max-width: 700px; margin: auto;">
        <div class="see-more">
            <div class="fade-info text-left">
                <div class="show-container">
                    <div class="item">
                        <div class="title">Solo Shows</div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="show-date">2017</div>
                                <div class="show-detail">Blue.Seventeen, Gallery Name Philipp von Rosen Galerie, New York (Upcoming) <a href="#">See Details</a></div>
                            </li>
                            <li>
                                <div class="show-date">2014</div>
                                <div class="show-detail">Yelena Popova | Drying Time, Paradise  Row, London</div>
                            </li>
                        </ul>
                    </div>

                    <div class="item">
                        <div class="title">Group Shows</div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="show-date">2017</div>
                                <div class="show-detail">Blue.Seventeen, Osnova Gallery, Moscow <a href="#">See Details</a></div>
                            </li>
                        </ul>
                    </div>

                    <div class="item">
                        <div class="title">Fair History</div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="show-date">2017</div>
                                <div class="show-detail">Blue.Seventeen, Gallery Name Philipp von Rosen Galerie, New York (Upcoming)</div>
                            </li>
                            <li>
                                <div class="show-date">2017</div>
                                <div class="show-detail">Philipp von Rosen Galerie at Art Cologne 2017, Köln</div>
                            </li>
                            <li>
                                <div class="show-date">2016</div>
                                <div class="show-detail">Philipp von Rosen Galerie at Art Cologne 2016, Köln</div>
                            </li>
                            <li>
                                <div class="show-date">2014</div>
                                <div class="show-detail">Paradise Row at Art Brussels 2014</div>
                            </li>
                        </ul>
                    </div>
                </div><!-- .show-container -->
            </div>
            <div class="action fade-info-action"><a href="#">See More</a></div>
        </div>
    </div><!-- #tab_shows -->

    <div id="tab_social" class="tab-content" style="max-width: 700px; margin: auto;">
        <div class="social-container">

            <div class="item">
                <img src="/assets/images/profiles/person-2.jpg">
                <i class="at at-facebook"></i>
                <abbr class="time" title="Thursday, November 30, 2017 at 9:20pm">6 mins</abbr>
                <div class="content">The artist who deserves all the love and appreciation</div>
                <a href="#">http://pic.twitter.com/kV6vq43FKYP</a>
            </div>

            <div class="item">
                <img src="/assets/images/profiles/person-2.jpg">
                <i class="at at-twitter"></i>
                <abbr class="time" title="Thursday, November 30, 2017 at 9:20pm">6 mins</abbr>
                <div class="content">The artist who deserves all the love and appreciation</div>
                <a href="#">http://pic.twitter.com/kV6vq43FKYP</a>
            </div>

            <div class="item">
                <img src="/assets/images/profiles/person-2.jpg">
                <i class="at at-instagram"></i>
                <abbr class="time" title="Thursday, November 30, 2017 at 9:20pm">6 mins</abbr>
                <div class="content">The artist who deserves all the love and appreciation</div>
                <a href="#">http://pic.twitter.com/kV6vq43FKYP</a>
            </div>
            
            <div class="item">
                <img src="/assets/images/profiles/person-2.jpg">
                <i class="at at-pinterest"></i>
                <abbr class="time" title="Thursday, November 30, 2017 at 9:20pm">6 mins</abbr>
                <div class="content">The artist who deserves all the love and appreciation</div>
                <a href="#">http://pic.twitter.com/kV6vq43FKYP</a>
            </div>

        </div><!-- .social-container -->
    </div><!-- #tab_social -->

</div><!-- .tabs-container -->
