<div class="tabs is-centered">
	<ul>
		<li data-tab="tab_artwork" class="is-active"><a>Artwork</a></li>
		<li data-tab="tab_biography"><a>Biography</a></li>
		<li data-tab="tab_shows"><a>Shows</a></li>
		<li data-tab="tab_social"><a>Social</a></li>
	</ul>
</div><!-- .tabs -->


<div class="tabs-container"">

    <div id="tab_artwork" class="tab-content is-active" style="max-width: 700px; margin: auto;">
        <p class="mt0">Artwork</p>
    </div><!-- #tab_artwork -->

    <div id="tab_biography" class="tab-content" style="max-width: 700px; margin: auto;">
        <div class="see-more">
            <div class="fade-info text-left">
                <p class="mt0">My artwork takes the form of tangible representation on paper in questioning the role of the photographic image in the contemporary art world. Through extensive research and informed instincts, my projects seek to articulate the aesthetic tension created between performative aspect and emotional response through the conscious awareness of the camera. The aesthetics in my artwork seek to enable an initial visual seduction of mechanical perfection and superficial relationships, which establish itself as a façade against the poetics of imperfect beauty and capricious nature of inter-human behaviour.</p>

                <p>My artwork takes the form of tangible representation on paper in questioning the role of the photographic image in the contemporary art world. Through extensive research and informed instincts, my projects seek to articulate the aesthetic tension created between performative aspect and emotional response through the conscious awareness of the camera. The aesthetics in my artwork seek to enable an initial visual seduction of mechanical perfection and superficial relationships, which establish itself as a façade against the poetics of imperfect beauty and capricious nature of inter-human behaviour.</p>

                <p>My artwork takes the form of tangible representation on paper in questioning the role of the photographic image in the contemporary art world. Through extensive research and informed instincts, my projects seek to articulate the aesthetic tension created between performative aspect and emotional response through the conscious awareness of the camera. The aesthetics in my artwork seek to enable an initial visual seduction of mechanical perfection and superficial relationships, which establish itself as a façade against the poetics of imperfect beauty and capricious nature of inter-human behaviour.</p>
            </div>
            <div class="action fade-info-action"><a href="#">See More</a></div>
        </div>
    </div><!-- #tab_biography -->

    <div id="tab_shows" class="tab-content" style="max-width: 700px; margin: auto;">
        <div class="see-more">
            <div class="fade-info text-left">
                <div class="show">
                    <div class="title">Solo Shows</div>
                    <ul class="list-unstyled">
                        <li>2017 - Blue.Seventeen, Gallery Name Philipp von Rosen Galerie, New York (Upcoming)</li>
                        <li>2014 - Yelena Popova | Drying Time, Paradise  Row, London</li>
                    </ul>
                </div>

                <div class="show">
                    <div class="title">Group Shows</div>
                    <ul class="list-unstyled">
                        <li>2017 - Blue.Seventeen, Osnova Gallery, Moscow</li>
                    </ul>
                </div>

                <div class="show">
                    <div class="title">Fair History</div>
                    <ul class="list-unstyled">
                        <li>2017 - Blue.Seventeen, Gallery Name Philipp von Rosen Galerie, New York (Upcoming)</li>
                        <li>2017 - Philipp von Rosen Galerie at Art Cologne 2017, Köln</li>
                        <li>2016 - Philipp von Rosen Galerie at Art Cologne 2016, Köln</li>
                        <li>2014 - Paradise Row at Art Brussels 2014</li>
                    </ul>
                </div>
            </div>
            <div class="action fade-info-action"><a href="#">See More</a></div>
        </div>
    </div><!-- #tab_shows -->

    <div id="tab_social" class="tab-content" style="max-width: 700px; margin: auto;">
        <p class="mt0">Social</p>
    </div><!-- #tab_social -->

</div><!-- .tabs-container -->
