<!-- Ref:
	Border less Tag: https://projects.invisionapp.com/d/main#/console/11941484/251862010/preview
	Bordered Tag:	 https://projects.invisionapp.com/d/main#/console/11941484/251763703/preview
 -->
<span class="tag search-result">
	Pencil
	<i class="icon delete at at-arrows-remove"></i>
</span>
<span class="tag search-result">
	Watercolor
	<i class="icon delete at at-arrows-remove"></i>
</span>
<span class="tag search-result">
	Collage
	<i class="icon delete at at-arrows-remove"></i>
</span>
<span class="tag search-result">
	Framed
	<i class="icon delete at at-arrows-remove"></i>
</span>
<span class="tag search-result">
	Under $500
	<i class="icon delete at at-arrows-remove"></i>
</span>
<span class="tag search-result">
	<span class="color-ball"><i class=" green"></i></span>
	Green
	<i class="icon delete at at-arrows-remove"></i>
</span>
<span class="tag search-result clear-results text-fade">
	Clear Search
	<i class="icon delete at at-arrows-remove"></i>
</span>

<p>&nbsp;</p>

<span class="tag">
	Less than $1,000 <small>USD</small>
	<i class="icon delete at at-arrows-remove"></i>
</span>
<span class="tag">Pencil <i class="icon delete at at-arrows-remove"></i></span>
<span class="tag">Watercolor <i class="icon delete at at-arrows-remove"></i></span>
<span class="tag">Collage <i class="icon delete at at-arrows-remove"></i></span>
<span class="tag">Oil and Canvas</span>
<span class="tag is-border-green">Photo</span>
<span class="tag is-border-black">Giclée</span>
<span class="tag">Oil and Canvas</span>
<span class="tag">Photo</span>
<span class="tag">NSFW</span>
<span class="tag">NSFL</span>
<span class="tag">Giclée</span>
<span class="tag">Oil and Canvas</span>


<!-- Made Tags one line on mobile - to show demo added enough tags -->
<h2>Tags one line on Mobile</h2>
<div class="tags-container">
	<span class="tag">Giclée <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Oil and Canvas <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Photo <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Oil and Canvas <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Photo <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Giclée</span>
	<span class="tag">Oil and Canvas</span>
	<span class="tag">Photo</span>
	<span class="tag">NSFW</span>
	<span class="tag">NSFL</span>
	<span class="tag">Giclée</span>
	<span class="tag">Oil and Canvas</span>
	<span class="tag">Giclée <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Oil and Canvas <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Photo <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Oil and Canvas <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Photo <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Giclée</span>
	<span class="tag">Oil and Canvas</span>
	<span class="tag">Photo</span>
	<span class="tag">NSFW</span>
	<span class="tag">NSFL</span>
	<span class="tag">Giclée</span>
	<span class="tag">Oil and Canvas</span>
	<span class="tag">Giclée <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Oil and Canvas <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Photo <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Oil and Canvas <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Photo <i class="icon delete at at-arrows-remove"></i></span>
	<span class="tag">Giclée</span>
	<span class="tag">Oil and Canvas</span>
	<span class="tag">Photo</span>
	<span class="tag">NSFW</span>
	<span class="tag">NSFL</span>
	<span class="tag">Giclée</span>
	<span class="tag">Oil and Canvas</span>
</div>
