<div class="at user-header">

    <div class="avatar-container">
        <div class="avatar avatar-xl">
            <img src="/assets/images/profiles/person-3.jpg">
            <div class="avatar-status follow"></div>
        </div>
    </div>

    <div class="user-container">
        <div class="user">
            <a class="link-text name-sig" href="#">
                <h2>Alexa Kang</h2>
                <img src="/assets/images/signatures/alex-kwok.png">
            </a>
            <div class="place">From New York, USA <a  href="#">Message Artist</a></div>
        </div><!-- .user -->
        <div class="stats">
            <div><b>31</b> Total <i class="at at-heart-o"></i></div>
            <div><b>325</b> Following</div>
            <div><b>30</b> Followers</div>
        </div>
    </div>
    
</div><!-- .at.user-header -->
