@charset "UTF-8";

@font-face {
  font-family: "arttap";
  src:url("arttap.eot");
  src:url("arttap.eot?#iefix") format("embedded-opentype"),
    url("arttap.woff") format("woff"),
    url("arttap.ttf") format("truetype"),
    url("arttap.svg#arttap") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "arttap" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="at-"]:before,
[class*=" at-"]:before {
  font-family: "arttap" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.at-4-squares:before {
  content: "\61";
}
.at-account:before {
  content: "\62";
}
.at-arrows-back-l:before {
  content: "\63";
}
.at-arrows-down:before {
  content: "\64";
}
.at-arrows-left:before {
  content: "\65";
}
.at-arrows-minus:before {
  content: "\66";
}
.at-arrows-plus:before {
  content: "\67";
}
.at-arrows-question:before {
  content: "\68";
}
.at-arrows-remove:before {
  content: "\69";
}
.at-arrows-right:before {
  content: "\6a";
}
.at-arrows-up:before {
  content: "\6b";
}
.at-arrows-up-l:before {
  content: "\6c";
}
.at-artwork:before {
  content: "\6d";
}
.at-bars:before {
  content: "\6e";
}
.at-bell:before {
  content: "\6f";
}
.at-card:before {
  content: "\70";
}
.at-cart:before {
  content: "\71";
}
.at-check:before {
  content: "\72";
}
.at-checkbox:before {
  content: "\73";
}
.at-checkbox-on:before {
  content: "\74";
}
.at-copypaste:before {
  content: "\75";
}
.at-delete:before {
  content: "\76";
}
.at-delete-light:before {
  content: "\77";
}
.at-document:before {
  content: "\78";
}
.at-email:before {
  content: "\79";
}
.at-facebook:before {
  content: "\7a";
}
.at-heart:before {
  content: "\41";
}
.at-heart-o:before {
  content: "\42";
}
.at-instagram:before {
  content: "\43";
}
.at-linkedin:before {
  content: "\44";
}
.at-mail:before {
  content: "\45";
}
.at-pinterest:before {
  content: "\46";
}
.at-search:before {
  content: "\47";
}
.at-speech:before {
  content: "\48";
}
.at-tag:before {
  content: "\49";
}
.at-twitter:before {
  content: "\4a";
}
.at-two-arrows:before {
  content: "\4b";
}
.at-upload:before {
  content: "\4c";
}
