/**
 * Artwork Card: .media-card
 */

$media-card-height: 20rem;
$media-card-max-width: 15rem;
$media-card-min-width: 10rem;
$media-card-image-max-height: 15rem;
$media-card-image-max-width: $media-card-max-width;
$shrink-divisor: 1.5;

.media-card,
.artist-card {
	height: $media-card-height;
	min-width: $media-card-min-width;
	max-width: $media-card-max-width;

	margin: 0rem 1rem 0rem 0rem;

	border: none;
	box-shadow: none;

	// Change font color when the card is hovered
	&:hover .card-content {
		.card-info, .heart .heart-number {
		color: $grey-dark;
		}
	}

	.card-content {
		padding: 10px 0px 0px 0px;

		.card-info {
			color: $grey;
			max-width: 85%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			transition: color 0.4s;

			.card-brand {
				font-weight: bold;
			}
			.card-title {
				font-style: italic;
			}
			.card-price {
			}

			.card-advisory {
				visibility: hidden;
			}
		}

	}

	>figure {
		height: $media-card-image-max-height;
		display: flex;
		align-items: center;
		
		img {
			box-shadow: $primary-box-shadow;

			// Most images but not the wide ones
			height: $media-card-image-max-height;
			width: auto;
			margin: 0px auto; //center

			&.is-wide {
				display: inline-block;
				width: $media-card-max-width;
				height: auto;
				margin: none;
			}
		}
	}

	&.is-sold, &.is-not-visible, &.is-rejected {
		.card-advisory {
			visibility: visible;
			color: $danger;
			text-align: right;
		}
	}
	&.is-not-visible {
		>figure {
			img {
				opacity: 0.4;
			}
		}
	}
	&.is-rejected {
		border: 1px solid transparentize($danger, 0.7);
		background-color: transparentize($danger, 0.8);
	}

}

/**
 * Smaller version of artwork card, 
 * e.g. "related artwork" lists
 *
 * TODO: Figure out proper semantic clas tag to use
 */
.is-smaller-artwork .media-card, .media-card.is-smaller,
.is-related-artwork .media-card, .media-card.is-related {
	height: $media-card-height / $shrink-divisor;
	min-width: $media-card-min-width / $shrink-divisor;
	max-width: $media-card-max-width / $shrink-divisor;

	margin: 0rem (1rem / $shrink-divisor) 0rem 0rem;

	.card-content {
		font-size: 70%;
	}

	figure {
		height: $media-card-image-max-height / $shrink-divisor;
		
		img {
			height: $media-card-image-max-height / $shrink-divisor;

			&.is-wide {
				width: $media-card-max-width / $shrink-divisor;
			}
		}
	}	
}