/**
 * Card: media-card
 */

div.media-card {
	height: 20rem;

	border: none;
	box-shadow: none;

	/**
	 * Changes when the card is hovered
	 */
	&:hover .card-info {
		color: $grey-dark;
	}

	.card-info {
		color: $grey-light;
		max-width: 75%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		transition: color 0.4s;

		.card-brand {
			font-weight: bold;
		}
		.card-title {
			font-style: italic;
		}
		.card-price {
			font-family: $family-sans-serif;
		}
	}

	div.card-content {
		padding: 10px 10px 0px 10px;
	}

	div.card-image {
		height: 15rem;
		background-size: contain;
		overflow: hidden;
		background-position: center center;
		background-repeat: no-repeat;
	}
	figure.image {
		display: none;
		transition: opacity 0.4s;

		img {
			transition: opacity 0.4s;
		}
	}

	// Dynamic width version of basic card
	&.is-dynamic-width {
		max-width: 18rem;
		min-width: 12rem;
		margin-right: 2rem;

		div.card-image {
			height: 15rem;
			background-image: none !important;
			// border: 1px solid green;

			figure.image {
				height: inherit;
				width: inherit;
				display: block;

				// border: 1px solid red;

				img {
					margin: 0 auto 0 auto;
					height: inherit;
					width: auto;
				}
			}
		}

		&.is-wider-than-tall {
			div.card-image {
				figure.image {
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						height: auto;
						width: inherit;
					}
				}
			}
		}

	}


	// Cropped version of basic card
	&.is-cropped {

		div.card-image {
			height: 15rem;
			background-size: cover;
			overflow: hidden;
			background-position: center center;
			background-repeat: no-repeat;
		}

		figure.image {
			display: block;
			height: inherit;
			overflow: clip;
			opacity: .7;
			background-image: url("../images/icon-crop.png");
			background-position-x: 95%;
			background-position-y: 95%;
			background-size: 2em;
			background-repeat: no-repeat;

			img.superimposed {
				opacity: 0;
				margin-top: 1em;
				margin-right: 1em;

			    height: auto; 
			    width: auto; 
				max-width:  90%; 
				max-height: 90%;

				float: right;
				box-shadow: -2px -2px 15px white, 2px 2px 15px white,
							2px -2px 15px white, -2px 2px 15px white;
			}
		}

		&:hover figure.image img.superimposed {
			// display: block;
			opacity: 1.0;
		}
		&:hover figure.image {
			opacity: 1.0;
			background-image: none;
		}
	}


}
