// Was /spectre-avatar/bulma-avatars.less

// Z-index
$zindex-0: 1;
$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;

// Avatars
.avatar {
  background: none;

  border-radius: 50%;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  height: 3.2rem;
  line-height: 1;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 3.2rem;

  // Default colors
  background-color: $grey-light;
  color: $white;
  &:hover {
    background-color: darken($grey-light, 10%);
  }


  // Colors
  // e.g. $colors: (white: ($white, $black), black: ($black, $white), light: ($light, $light-invert), dark: ($dark, $dark-invert), primary: ($primary, $primary-invert), info: ($info, $info-invert), danger: ($danger, $danger-invert), success: ($success, $success-invert), warning: ($warning, $warning-invert) ) !default
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    $color-lightning: max(100% - lightness($color) - 2%, 0%);
    $color-luminance: colorLuminance($color);
    $darken-percentage: $color-luminance * 70%;
    $desaturate-percentage: $color-luminance * 30%;

    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;

      &:hover {
        background-color: darken($color, 10%);
      }
    }
  }


  // Avatar sizes
  &.avatar-xs {
    font-size: .8rem;
    height: 1.6rem;
    width: 1.6rem;
  }
  &.avatar-sm {
    font-size: 1rem;
    height: 2.4rem;
    width: 2.4rem;
  }
  &.avatar-lg {
    font-size: 2rem;
    height: 4.8rem;
    width: 4.8rem;
  }
  &.avatar-xl {
    font-size: 2.6rem;
    height: 6.4rem;
    width: 6.4rem;
  }

  img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: $zindex-1;

    max-height: inherit;
  }

  .avatar-icon {
    background: white;
    bottom: 14.64%;
    height: 50%;
    padding: .2rem;
    position: absolute;
    right: 14.64%;
    transform: translate(50%, 50%);
    width: 50%;
  }

  &[data-initial]::before {
    color: currentColor;
    content: attr(data-initial);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $zindex-0;
  }
}
