
////////////////////////////////////////////////
// Shadows
// USEFUL for inset: http://jsfiddle.net/KFrun/171/
$box-shadow: 0px 6px 6px -6px $grey;
$top-shadow: 0px -6px 6px -7px $grey;
$inset-shadow: inset -7px 0px 6px -6px $grey;
$active-shadow: $box-shadow, $inset-shadow;


$debug: false;
$test-border: none;
@if ($debug) {
    $test-border: 1px solid red;
}

nav.leftnav {
    background-color: transparentize($grey-lighter, 0.5);

    // Any width.
    min-width: 100px;
    // width: 340px;

    > ul, > ul ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    > ul li {
        margin: 0;
        background-color: none;

        a {
            box-shadow: $inset-shadow;
            display: flex;
            flex-direction: row;
            padding: 1em 0em 1em 2em;

            span {
                display: flex;
                border: $test-border;
                align-items: center;

                &.icon {
                    flex: 0 0 2em;
                    color: black !important;
                }
                &.prompt {
                    color: $black;
                    font-size: $size-small;
                    flex: 1 1 auto;
                    width: 100%;
                    padding-left: 1em;
                    font-weight: bold;
                }
                &.tag {
                    flex: 0 0 auto;
                    margin-right: 1em;
                }
            }
        }

        ul {
            display: none;
        }
    }

    > ul li.is-active {
        background-color: $white;

        a {
            box-shadow: 
                $top-shadow,
                $box-shadow;
            z-index: 20;
        }

        > ul {
            display: flex;
            padding-left: 2em;
            border: $test-border;
            box-shadow: $active-shadow;
            z-index: -30;

            li {
                a {
                    box-shadow: none;
                }

                &.is-active {
                    box-shadow: $inset-shadow;
                    background-color: none;
                    a .prompt {
                        color: $info;
                    }
                }
            }
        }
    }
}



.is-user-navigation.panel {
    width: 200px !important;

    .panel-heading,
    .panel-tabs,
    .panel-block {
        border-bottom: 1px solid $border;
        border-left: none;
        border-right: none;

        &:first-child {
            border-top: none;
        }
    }

    .panel-block {
        font-size: $size-small;
        font-weight: bold;

        align-items: center;
        color: $text-strong;
        display: flex;
        justify-content: flex-start;
        padding: 1.25em 0.75em;

        a {
            color: $text;
            text-transform: uppercase;

            &:hover {
                color: $link;
            }
        }

        &.is-active {
            color: $link;

            a {
                color: $link;
            }

            .panel-icon {
                color: $link;
            }
        }
    }



}

/*
#DEPRECATED {
    .panel {
    font-size: $size-normal;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    .panel-heading,
    .panel-tabs,
    .panel-block {
    border-bottom: 1px solid $border;
    border-left: 1px solid $border;
    border-right: 1px solid $border;

    &:first-child {
        border-top: 1px solid $border;
    }
    }

    .panel-heading {
    background-color: $background;
    border-radius: $radius $radius 0 0;
    color: $text-strong;
    font-size: 1.25em;
    font-weight: $weight-light;
    line-height: 1.25;
    padding: 0.5em 0.75em;
    }

    .panel-tabs {
    align-items: flex-end;
    display: flex;
    font-size: 0.875em;
    justify-content: center;

    a {
        border-bottom: 1px solid $border;
        margin-bottom: -1px;
        padding: 0.5em;

        // Modifiers
        &.is-active {
        border-bottom-color: $link-active-border;
        color: $link-active;
        }
    }
    }

    .panel-list {
    a {
        color: $text;

        &:hover {
        color: $link;
        }
    }
    }

    .panel-block {
    align-items: center;
    color: $text-strong;
    display: flex;
    justify-content: flex-start;
    padding: 0.5em 0.75em;

    input[type="checkbox"] {
        margin-right: 0.75em;
    }

    & > .control {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
    }

    &.is-wrapped {
        flex-wrap: wrap;
    }

    &.is-active {
        border-left-color: $link;
        color: $link-active;

        .panel-icon {
        color: $link;
        }
    }
    }

    a.panel-block,
    label.panel-block {
    cursor: pointer;

    &:hover {
        background-color: $background;
    }
    }

    .panel-icon {
    // @include fa(14px, 1em);

    color: $text-light;
    margin-right: 0.75em;

    .fa {
        font-size: inherit;
        line-height: inherit;
    }
    }
}
*/