
h1, h2, h3, h4, h5, h6 {
	&.title {
		font-style: normal;
		font-stretch: normal;
		color: $grey-darker;

		&.is-1 {
			font-family: $family-serif-title !important;
			font-weight: 400;
			font-size: $size-1;
			// line-height: $size-1;
			margin-bottom: .3em;
		}
		&.is-2 {
			text-transform: uppercase;
			letter-spacing: 10px;
			font-weight: bold;
			font-size: $size-4;
		}
		&.is-3 {
			font-weight: bold;
			letter-spacing: 5px;
			font-size: $size-4;
		}
		&.is-4 {
			font-style: italic;
			font-size: $size-5;
		}
		&.is-5 {
			font-weight: lighter;
			font-size: $size-5;
		}

	}
	&.subtitle {
		font-family: $family-sans-serif !important;
		color: rgba( $grey-dark, .9 ) !important;
	}

	&.title, &.subtitle {
		// In-line headers like bootstrap http://getbootstrap.com/components/#page-header
		small {
			color: $grey;
			font-size: 60%;
			letter-spacing: -1px;
			text-transform: none;
			font-family: $family-sans-serif;
			// margin-left: 1em;
			font-style: normal;
		}
	}

}

p {
	// font-weight: medium;
}
p.is-2 {
	font-weight: lighter;
}

p.caption {
	font-size: $size-7;
	font-weight: bold;
	color: rgba( $grey-dark, .8 ) !important;
}
