// Dropdown
/* NOT used. Use: spectre-menu/bulma-dropdown-menu.less */

#example {

	.dropdown {
		display: inline-block;
		position: relative;

		.menu {
			// animation: slide-down .2s ease 1;
			animation: slide-down .2s ease 1;
			display: none;
			position: absolute;
			// left: 0;
			// top: 100%;
		}

		&.dropdown-right {
			.menu {
				left: auto;
				right: 0;
			}
		}

		&.active .menu,
		.dropdown-toggle:focus + .menu,
		.menu:hover {
			display: block;
		}

	}

}