/**
 * 
 * Landing Page CSS
 *
 */


header.nav {
	min-height: 6em;
}
header.nav img.logo {
	min-height: 5em;
	width: auto;
}
img.profile-picture {
	min-height: 100%;	
	min-width: 100%;
}

div.profile-item {

}
div.profile-picture {
	border: 1px solid $grey-darker;
	height: 3em;
	width: 3em;
	border-radius: 3em;
	overflow: hidden;
	margin: 0px 0.5em 0px 0px;
}


/**
 * Dropdown menu under profile
 */
 