////////////////////////////////////////////////////////////////////
// FLASHFLEX Base
// Custom framework built from 3rd party libraries and 
// other CSS frameworks.
// 
// "Using the best from the rest"
////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
// DEBUGGING SCSS as you work. Examples:
// @debug "$sm: " $sm;
// @debug "rem-to-px($sm): " rem-to-px($sm);
// @debug "rem-to-px($sm) - 1px: " (rem-to-px($sm) - 1px);
// @warn "We are not working fast enough."

////////////////////////////////////////////////////////////////////
// BASICS
	@import '_normalize';
	@import 'setup.scss';
	@import 'mixins.scss';
	@import 'mixins-bulma.scss';
	// Mixins that mighte be useful are here: mixins-to-evaluate.scss

////////////////////////////////////////////////////////////////////
// VARIABLES AND SETTINGS
	@import 'variables.scss';
	@import 'variables-font-sizes.scss';
	@import "colors.scss";
	@import "fonts.scss";
	@import "font-awesome.scss";
	@import "font-arttap.scss";
	@import "font-arttap-icons-aliases.scss";

////////////////////////////////////////////////////////////////////
// LAYOUT, GRID, and RESPONSIVITY
	// Grid system
	@import "sass-flex-mixin.scss";
	@import "flexboxgrid-sass.scss";
	// Toplevel page elements (might be removed later)
	@import "layout.scss";
	// Responsive library:
	@import "mediaquery-functions.scss";
	@import "mediaquery-sass.scss";
	// ArtTap's mixins for responsivity:
	@import 'responsive.scss'; // mixins for device sizes
	@import "hide.scss";  // Hide elements based on device sizes

////////////////////////////////////////////////////////////////////
// Animations
// GREATLY simplify this when we're done. We don't need all this.
	@import "animatewithsass/animate.scss";

////////////////////////////////////////////////////////////////////
// LAYOUT ELEMENTS
	////////////////////////////////////////////////////////////////////
	// General elements
		@import "media.scss"; // images, etc.
		@import "column.scss";
		@import "row.scss";
		@import "jquery.modal.scss";
		@import "containers-segments.scss";

	////////////////////////////////////////////////////////////////////
	// Typographic
		@import "typography.scss";
		@import "typography-statistics.scss";
		@import "typography-dashboard-stats.scss";
		@import "typography-icons.scss";

	////////////////////////////////////////////////////////////////////
	// ArtTap elements
		@import "header-navbar.scss";
		@import "footer.scss";
		@import "sidebar.scss";
		@import "card.scss";
		@import "accordion.scss";
		@import "order.scss";
		@import "curated-collections.scss";
		// @import "card-row.scss";     // TODO
		@import "form-search/_index.scss";
		@import "status-presence.scss";
		@import "see-more.scss";
		@import "tooltip.scss";
		@import "follows.scss";
		@import "progress.scss";
		@import "user-header.scss";
		@import "newsletter.scss";


	////////////////////////////////////////////////////////////////////
	// Page Specific
		@import "pages/pages.scss";
		@import "pages/checkout.scss";
		@import "pages/apply-artist.scss";
		@import "pages/product.scss";
		@import "pages/faq.scss";
		@import "pages/all-support.scss";
		@import "pages/artist-inbox-message.scss";

		// Temporarily:
		@import "pages/product-wf.scss";

	////////////////////////////////////////////////////////////////////
	// Utilities
		@import "utilities/spacing.scss";
		@import "utilities/links.scss";
		@import "utilities/text.scss";
		@import "utilities/boxes.scss";


////////////////////////////////////////////////////////////
// FORMS -- derived from Bulma 0.5.3
	// Remove this during color / variable consolidation step:
	@import "bulma-0.5.3/color-translate.scss";
	@import "bulma-0.5.3/variables.scss";

	// Settings from Bulma
	@import "bulma-0.5.3/controls.scss";
	@import "bulma-0.5.3/mixins.scss";
	@import "bulma-0.5.3/form.scss";
	@import "level.scss";

	// Bulma 0.5.3 wants these variables
	// This is for 'form-select2.scss':
		$speed: 1s;
		$border: $input-border-color;
		$border-hover: $input-hover-border-color;
	// Used by 'form.scss', consolidate these later in colors/variables files
		$checkbox-offset: -15px;
		$checkbox-width: 15px;
		$checkbox-height: 15px;
		$checkbox-border: 1px;
		$checkbox-inner-padding: 2px;
		$is-large-multiplier: 1.5; 
		$input: $gray-color-dark;
		$transition-duration: .4s;
		$shadow-offset-x: 4px;
		$shadow-offset-y: 4px;
		$shadow-spread: 10px;
		$shadow-color: $gray-color-light;
		$primary-box-shadow: $shadow-offset-x $shadow-offset-y $shadow-spread $shadow-color;

	// Select2 pulldowns and tags
		@import "select2/core.scss";
		@import "form-select2.scss";

	// Our specific form CSS
		@import "form.scss";


	// ////////////////////////////////////////////////////////////////////
	// Detail elements
		@import "hearts.scss";
		@import "tags.scss";
		@import "bulma-0.5.3/button.scss";
		@import "buttons.scss";
		@import "bulma-0.5.3/tabs.scss";
		@import "tabs.scss";
		@import "artist-follow-toggle.scss";
		// @import "floating-badges.scss"; // Might not be needed

		// These are for Spectre avatar include
		$border-width: $unit-o !default;
		$border-width-lg: $unit-h !default;
		@import "avatars.scss";
		@import "dropdown.scss";
		@import "inbox.scss";
		@import "inbox-message.scss";



// ////////////////////////////////////////////////////////////////////
// 3rd Party Libraries
	// Slick Slider
	@import "slick-slider/slick.scss";
	@import "slick-slider/slick-theme.scss";
	// Common slider for ArtTap elements
	@import "slider-at.scss";
	// Customization Slick Slider for landing page
	@import "slider-landing.scss";

	// Quill is a modern rich text editor, convert element into RTF.
	@import "quill.snow";


////////////////////////////////////////////////////////////
// PROTOTYPE settings -- ONLY for the UI/UX website
	@import "prototype-ui-ux-website.scss";
