// Accordion -- via flex

.accordion {
    .accordion-item {
        input {
            &:checked {
                & ~ .accordion-header {
                    .icon {
                        transform: rotate(90deg);

                    }
                }
                & ~ .accordion-body {
                    max-height: 1000px;
                }
            }
        }

        .accordion-header {
            display: block;
            // padding: $unit-1 $unit-2;

            .icon {
                transition: all .2s ease;
            }
        }

        .accordion-body {
            // margin-bottom: $layout-spacing;
            max-height: 0;
            overflow: hidden;
            transition: max-height .2s ease;
        }
    }

    // Navs
    .nav {
        display: flex;
        flex-direction: column;
        list-style: none;
        // margin: $unit-1 0;

        .nav-item {
            a {
                // color: $gray-color-dark;
                // padding: $unit-1 $unit-2;
                text-decoration: none;
                &:focus,
                &:hover {
                    // color: $primary-color;
                }
            }
            &.active {
                & > a {
                    // color: darken($gray-color-dark, 10%);
                    font-weight: bold;
                    &:focus,
                    &:hover {
                        // color: $primary-color;
                    }
                }
            }
        }

        & .nav {
            // margin-bottom: $unit-2;
            // margin-left: $unit-4;
        }
    }

}
