////////////////////////////////////////////////////////////////////
// ARTIST FOLLOW TOGGLE
// The one-liner with "[+] Follow Artist       160 Followers"
////////////////////////////////////////////////////////////////////

.follow-artist {
    font-size: 0.8125rem;
    margin-bottom: 1.25rem;
    a {
        margin-right: 1rem;
        font-weight: bold;

        &.follow {
            .icon {
                @extend .plus;
            }
        }
        &.followed {
            color: color(black);
            .icon {
                @extend .minus;
            }
        }
    }
    .followers {
        color: color(gray);
    }
}
// .follow-artist:not(.is-followed) .icon {
//     @extend .fa-plus-circle;
// }
// .follow-artist.is-followed {
//     a {
//         color: color(black);
//     }
//     .icon {
//         @extend .fa-check-circle;
//     }
// }
