////////////////////////////////////////////////////////////////////
// ARTIST FOLLOW TOGGLE
// The one-liner with "[+] Follow Artist       160 Followers"
////////////////////////////////////////////////////////////////////
.follow-artist {
    font-size: 0.8125rem;
    margin-bottom: 1.25rem;
    span {
        cursor: pointer;
        margin-right: 1rem;
        font-weight: bold;

        &.follow {
            color: color(link);
            .icon {
                @extend .plus;
            }
        }
        &.followed {
            color: color(black);
            .icon {
                @extend .minus;
            }
        }
    }
    .followers {
        color: color(gray);
    }
}
