////////////////////////////////////////////////////
// AVATAR (extended)
// Edit this file to fix avatars
////////////////////////////////////////////////////

.avatar {
    .avatar-status {

        @extend .avatar-presence;

        box-sizing: content-box;

        @extend .fa;
        @extend .fa-plus;

        padding: 0.5em;
        font-size: 0.5em;
        line-height: 0.5rem;
        text-indent: -0.08rem;

        background: $bg-color-light;
        &.follow {
            background: $primary-color;
        }
        &.followed {
            background: blue;
        }
    }
}