// Avatar mixin

.avatar {
    .avatar-status {

        @extend .avatar-presence;
        // height: 0.6em;
        // width: 0.6em;

        padding: 0.3em 0.5em 0.5em 0.3em;
        font-size: 0.5em;

        // icon handling
    // padding: $border-width-lg;
    // padding: 0;
        vertical-align: middle;
        text-align: center;
        // i {
        //     font-size: 0.6em;
        //     margin: 0;
        //     color: rgba(255, 255, 255, 1);
        // }

        // Status colors
        background: $bg-color-light;
        &.follow {
            background: $primary-color;
        }
        &.followed {
            background: blue;
        }

    }
}
