////////////////////////////////////////////////////////////////////
// COLUMN
////////////////////////////////////////////////////////////////////

.column {
    &.aligned {
        &.center {
            text-align: center;
        }
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
        &.middle {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.column.centered {
    @extend .column.aligned.center;
}