////////////////////////////////////////////////////////////////////
// COLUMN
////////////////////////////////////////////////////////////////////

.row {
    &.has-space {
        margin-bottom: 3rem;
    }
    &.has-space-small {
        margin-bottom: 2rem;
    }
    &.has-space-medium {
        margin-bottom: 4rem;
    }
    &.has-space-large {
        margin-bottom: 5rem;
    }
}

.column {
    &.aligned {
        &.center {
            text-align: center;
        }
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
        &.middle {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &.is-padded {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &.is-extra-padded {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    // &.has-left-border {
    //     border-left: 1px solid color(gray-light);
    // }


@include for-tablet-portrait-up {
    &.has-left-pad {
        padding-left: 1.5rem;
    }
    &.has-right-pad {
        padding-right: 1.5rem;
    }
    &.has-left-border {
        padding-left: 1.5rem;
        border-left: 1px solid $color-border;
    }
    &.has-right-border {
        padding-right: 1.5rem;
        border-right: 1px solid $color-border;
    }
}

}

.column.centered {
    @extend .column.aligned.center;
}

.flex {
  @include flexbox();
  @include flex(0, 1, auto);
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

.col-flex {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0.5rem;
  padding-left: 0.5rem; 
}

.flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
