////////////////////////////////////////////////////////////////////
// CONTAINERS and SEGMENTS
// Not used much yet
////////////////////////////////////////////////////////////////////

// Temporary, not really in use:
.segment {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid $gray-color-light;
    display: flex;
    width: 100%;
}