///////////////////////////////////////////////////////////////////
// Curated Collections - Used on Home Page
// Mobile First
///////////////////////////////////////////////////////////////////

.curated-collections {
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	flex-flow: column wrap;

	.block-curated {
		margin-bottom: p(50);
		width: 340px;

		.user {
		    display: flex;
		    align-items: center;
		    margin-bottom: p(20);
		    .avatar {
		    	margin-right: p(20);
		    }
		    .user-info {
		    	.name {
		    		font-weight: $weight-semibold;
		    	}
		    	.by,
		    	.total {
		    		font-size: p(13);
		    	}
		    }
		}

		.at.slider {
			margin-bottom: 1rem;
		}

		.btn-collection {
			width: calc(100% - 1rem);
		}
	}

	.sep-curated {
		display: none;
		width: 1px;
		background-color: $color-border;
	}

	// For Mobile first approach
	// First define layout for mobile view
	// then go larger devices
	@include for-tablet-portrait-up {
		flex-direction: row;
	}

	@include for-desktop-up {
		justify-content: space-between;
		margin-bottom: p(50);

		.block-curated {
			margin-bottom: 0;
		}

		.sep-curated {
			display: initial;
		}
	}

}

