////////////////////////////////////////////////////////////////////
// Dropdown

.at.dropdown {
    // position: relative;
    display: inline-block;

    &.open {

        .show-on-open {
            display: inline-block;
        }

        .hide-on-open {
            display: none;
        }
    }

    .opener {
        cursor: pointer;
        &.at-arrows-remove {
            // resizing arrows remove dude to size issue.
            font-size: p(12);
        }
    }

    .show-on-open {
        display: none;
    }

    .hide-on-open {
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        background-color: white;
        display: none;
    }
}
