////////////////////////////////////////////////////////////////////
// FLOATING BADGES
// From SpectreCSS
// 
// Used in user dropdown and cart...
////////////////////////////////////////////////////////////////////

.badge {
   position:relative;
}

.badge[data-badge]:after {
	border-radius: 50%;
	content: attr(data-badge);
    font-style: normal;
	position: absolute;
	text-align: center;
	white-space: nowrap;

    font-size: p(12);
    line-height: 1.8;
    text-indent: -1px;
    height: p(20);
    width: p(20);
    top: 3px;
    left: -34px;

	background-color: color(primary);
	color: #fff;
}

.at-cart.badge[data-badge]:after {
	left: unset;
	right: -10px;
	top: -15px;
}


// // Color variations
// @each $name, $pair in $colors {
// 	$color: nth($pair, 1);
// 	$color-invert: nth($pair, 2);

// 	.badge[data-badge].is-#{$name}-badge:after {
// 		background-color: $color;
// 		// color: $color-invert;
// 		color: #fff;
// 	}
// }
