.heart {

	.heart-number {
		color: $gray-color;
	}

	&:hover .icon {
		@include pulse(
			$duration: .5s,
			$count: 1,
			$delay: 0s,
			$function: ease, 
			$fill: both
		);
	}

	.icon {
		color: color(gray);
		cursor: pointer;
	}

	&.is-hearted {
		.icon {
			color: color(red);
		}
	}
	&.is-being-clicked {
		.icon {
			@include rubberBand(
				$duration: .5s,
				$count: 1,
				$delay: 0s,
				$function: ease, 
				$fill: both
			);
		}
	}
}
