.heart {

	.heart-number {
		color: $gray-color;
	}

	&:hover .icon {
		@include pulse(
			$duration: .5s,
			$count: 1,
			$delay: 0s,
			$function: ease, 
			$fill: both
		);
	}

	&:not(.is-hearted) {
		.icon-heart,
		.icon {
			@extend .fa;
			@extend .fa-heart-o;
			color: color(gray);
			cursor: pointer;
		}
	}

	&.is-hearted {
		.icon-heart,
		.icon {
			@extend .fa;
			@extend .fa-heart;
			color: color(red) !important;
			cursor: pointer;
		}
	}
	&.is-being-clicked {
		.icon {
			@include rubberBand(
				$duration: .5s,
				$count: 1,
				$delay: 0s,
				$function: ease, 
				$fill: both
			);
		}
	}

	// Square heart buttons
	&.button {
		@extend .is-gray;
		@extend .is-outlined;
		padding-top: 0.5em !important;
	}

}
