///////////////////////////////////////////////////////////////////
// Inbox
// Mobile First
///////////////////////////////////////////////////////////////////

.inbox {

	&.has-checkbox {
		.message {
			.checkbox-container {
				display: initial;
			}
			.message-wrapper {
				max-width: calc(100% - 2.5rem);
			}	
		}

	}

	.inbox-action {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    padding-bottom: p(15);
		border-bottom: 1px solid $color-border;

	    .search-container {
	    	margin-bottom: p(20);

	    	.messages-search {
	    		min-width: p(300);
	    		// max-width: p(390);
	    	}
	    }

	    .action-container {
	    	display: flex;

	    	.control:not(:last-child),
	    	.button:not(:last-child) {
	    		margin-right: p(10);
	    	}

	    	.select-container {
	    		flex: 1 1 100%;
	    		.select,
	    		select {
	    			width: 100%;
	    			min-width: p(210);
	    			// max-width: p(280);
	    		}
	    	}
	    }
	}// .inbox-action

	.message {
		display: flex;
		padding: p(15) 0 p(15) p(15);
		border-bottom: 1px solid $color-border;
		background-color: #f7f7f7;
		&.new { background-color: #fff; }

		.checkbox-container {
			margin-right: p(15);
			transform: translateY(p(10));
			display: none;
		}

		.message-wrapper {
			display: flex;
    		flex-wrap: wrap;
			flex: 1 1 100%;
    		max-width: 100%;
		}

		.online-presence {
			display: inline-flex;
			border-radius: 50%;
			height: .6rem;
			width: .6rem;
			margin-right: p(4);
			margin-top: p(8);

	        &.online {
	            background: #BCCE38;
	        }

	        &.busy {
	            background: #D92F1D;
	        }

	        &.away {
	            background: #F9922C;
	        }
		}

		.user,
		.date {
			flex: 1 1 50%;
			@include truncate(50%);
		}
		.user {
			padding-right: p(15);
		}
		.date {
			text-align: right;
			color: color(gray);
			.icon {
				float: right;
				font-size: 0.6rem;
			}
		}

		.subject-container {
			display: flex;
			flex: 1 1 100%;
			max-width: 100%;
		}
		.subject,
		.message-body {
			@include truncate(50%);
		}
		.subject {
			font-weight: $weight-semibold;
			padding-right: p(15);
			a {
				@extend %link-black;
			}
		}
		.message-body {
			color: color(gray);
			a {
				@extend %link-gray;
			}
		}
	}// .message


@include for-tablet-portrait-up {

	.inbox-action {
	    flex-direction: row;

	    .search-container {
	    	margin-bottom: 0;
	    	order: 2;
	    }

	    .action-container {
	    }
	}// .inbox-action

	.message {

		.checkbox-container {
			transform: translateY(p(-6));
		}

		.user,
		.date {
			flex-basis: 25%;
			max-width: 25%;
		}
		
		.date {
			order: 3;
			padding-left: p(15);
		}

		.subject-container {
		    flex-basis: 50%;
		    max-width: 50%;
			transform: translateY(0);
		}
	}
}// for-tablet-portrait-up


@include for-tablet-landscape-up {
}

@include for-desktop-up {
}

}// .inbox
