////////////////////////////////////////////////////////////////////
// LAYOUT
// This makes sure that footer is always at bottom of page
// by having main content area = 100vh - (header, navbar, footer height)
// This might change for the real ArtTap layouts.
// Useful (for now) for the UI/UX project.
// NOTE: Does not handle presence of "navbar" or responsive changes.
////////////////////////////////////////////////////////////////////

main {
	@extend .wrapper;

	// ?? Somehow makes it a "real" box
	border: 1px solid rgba(0, 0, 0, 0);
	

	height: 100%;
	min-height: calc(
		100vh - 
		$page-element-header-height - 
		$page-element-footer-height);

	margin: 0;
	padding: 0;
}

