////////////////////////////////////////////////////////////////////
// News Letter Popup

.modal.newsletter {
	padding: 0;
	width: 950px;

	h1 {
		padding: 0;
		margin: 0;
		border: 0;
	}

	.col-left {
		width: 50%;
	}

	.col-right {
		width: 50%;
		padding: 0 p(70) p(30);
		display: none;
		flex-direction: column;
		justify-content: space-between;
		&.is-active {
			display: flex;
		}
	}

}