////////////////////////////////////////////////////////////////////
// RESPONSIVE MIXINS
// Usage:
//      .some-element {
//          width: 50vw;
//          @include for-phone-only {
//              width: 80vw;
//          }
//      }
////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
// Placeholders
$for-phone-only            : (max, rem-to-px($fBG_xs));
$for-tablet-portrait       : (inside, rem-to-px($fBG_xs), (rem-to-px($fBG_sm) - 1px));
$for-tablet-portrait-up    : (min, rem-to-px($fBG_sm));
$for-tablet-portrait-down  : (max, rem-to-px($fBG_sm));
$for-tablet-landscape      : (inside, rem-to-px($fBG_sm), (rem-to-px($fBG_lg) - 1px));
$for-tablet-landscape-up   : (min, rem-to-px($fBG_md));
$for-tablet-landscape-down : (max, rem-to-px($fBG_md));
$for-desktop               : (inside, rem-to-px($fBG_lg), (rem-to-px($fBG_xl) - 1px));
$for-desktop-up            : (min, rem-to-px($fBG_lg));
$for-desktop-down          : (max, rem-to-px($fBG_xl));
$for-big-desktop           : (min, rem-to-px($fBG_xl));
$for-big-desktop-up        : (min, rem-to-px($fBG_xl));

////////////////////////////////////////////////////////////////////
// RESPONSIVITY

    ////////////////////////////////////////////////////////////////////
    // TINY screens
    @mixin for-phone-only {
        @include mq($for-phone-only) { @content; }
    }
    @mixin for-tablet-portrait {
        @include mq($for-tablet-portrait) { @content; }
    }
    @mixin for-tablet-portrait-up {
        @include mq($for-tablet-portrait-up) { @content; }
    }
    @mixin for-tablet-portrait-down {
        @include mq($for-tablet-portrait-down) { @content; }
    }

    ////////////////////////////////////////////////////////////////////
    // TABLET screens
    @mixin for-tablet-landscape {
        @include mq($for-tablet-landscape) { @content; }
    }
    @mixin for-tablet-landscape-up {
        @include mq($for-tablet-landscape-up) { @content; }
    }
    @mixin for-tablet-landscape-down {
        @include mq($for-tablet-landscape-down) { @content; }
    }

    ////////////////////////////////////////////////////////////////////
    // DESKTOP screens
    @mixin for-desktop {
        @include mq($for-desktop) { @content; }
    }
    @mixin for-desktop-up {
        @include mq($for-desktop-up) { @content; }
    }
    @mixin for-desktop-down {
        @include mq($for-desktop-down) { @content; }
    }

    ////////////////////////////////////////////////////////////////////
    // BIG DESKTOP screens
    @mixin for-big-desktop {
        @include mq($for-big-desktop) { @content; }
    }
    @mixin for-big-desktop-down {
        @include mq($for-big-desktop-up) { @content; }
    }




/*********************
  Media Query Classes for hide elements
**********************/
// .hide-on-small-only, .hide-on-small-and-down {
//   @media #{$small-and-down} {
//     display: none !important;
//   }
// }
// .hide-on-med-and-down {
//   @media #{$medium-and-down} {
//     display: none !important;
//   }
// }
// .hide-on-med-and-up {
//   @media #{$medium-and-up} {
//     display: none !important;
//   }
// }
// .hide-on-med-only {
//   @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
//     display: none !important;
//   }
// }
// .hide-on-large-only {
//   @media #{$large-and-up} {
//     display: none !important;
//   }
// }
// .show-on-large {
//   @media #{$large-and-up} {
//     display: block !important;
//   }
// }
// .show-on-medium {
//   @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
//     display: block !important;
//   }
// }
// .show-on-small {
//   @media #{$small-and-down} {
//     display: block !important;
//   }
// }
// .show-on-medium-and-up {
//   @media #{$medium-and-up} {
//     display: block !important;
//   }
// }
// .show-on-medium-and-down {
//   @media #{$medium-and-down} {
//     display: block !important;
//   }
// }

