/**
 * VARIABLES
 */

// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
html {
  font-size: 16px; /* Sets up the Base 10 stuff */
}

body {
	margin: 0;
	padding: 0;
}

span {
	// display: inline-block;
}