.at.status-presence {
	display: inline-block;
	border-radius: 50%;
	height: p(10);
	width: p(10);

    &.is-online { background: #bcce38; }
    &.is-busy { background: #d92f1d; }
    &.is-away { background: #f9922c; }
}
