.tabs {

    ul {
        padding: 0;
    }

    a {
        cursor: pointer;
        padding: p(10) p(80);
    }
}

.tabs-container {
    margin: auto;

    .tab-content {
        display: none;
    }

    .tab-content.is-active {
        display: inherit;
    }
}

.show {
    margin-bottom: p(40);
    .title {
        font-weight: $weight-semibold;
    }
    ul {
        li {
            margin-bottom: p(20);
        }
    }
}