////////////////////////////////////////////////////////////////////
// ICONS 
// Unsure how much this is needed. 
// Extended from from Bulma 0.5.3
////////////////////////////////////////////////////////////////////

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;

    .fa {
        font-size: 21px;
    }

    &.tooltip {
        @extend .fa;
        @extend .fa-question-circle;
        color: color(black);
        font-size: 1.25rem;
    }

    // Colors
    @each $name, $pair in $colors {
        $this-color: nth($pair, 1);
        $this-color-invert: nth($pair, 2);

        &.#{$name} {
            color: $this-color;
            background-color: rgba(0,0,0,0) !important;
        }
    }

    // Sizes
    &.is-small {
        height: 1rem;
        width: 1rem;

        .fa {
            font-size: 14px;
        }
    }

    &.is-medium {
        height: 2rem;
        width: 2rem;

        .fa {
            font-size: 28px;
        }
    }

    &.is-large {
        height: 3rem;
        width: 3rem;

        .fa {
            font-size: 42px;
        }
    }
}
