////////////////////////////////////////////////////////////////////
// Dashboard Stats

.at.dashboard-stats {
	width: 300px;
	margin-bottom: 2rem;

	h4 { margin: 0px; }

	.item {
		display: flex;
		align-items: center;
		
		.large {
			font-size: 50px;
			margin-right: p(10);
		}
	}
}
