////////////////////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////////////////////

* {
    font-family: $font-family-body;
    color: color(text);
}

body {
    @include for-phone-only {}
    @include for-tablet-portrait {}
    @include for-tablet-landscape {}
    @include for-desktop {
        font-size: 0.9375rem; // Set font size to 15px to match with design prototype
        line-height: 1.3125rem;
    }
}


////////////////////////////////////////////////////////////////////
// LINK

a {
    font-weight: $weight-semibold;
    color: color(primary);
}

////////////////////////////////////////////////////////////////////
// HEADERS
// <h1>Header</h1><h3 secondary>Subheader</h3>
h1 { 
    font-size: $h1-fontsize; 
    margin-top: ($h1-fontsize / 2); 
    line-height: $h1-fontsize; 
    &[secondary] {
        font-size: $h1-fontsize * 0.5; 
        margin-top: 0;
        line-height: $h1-fontsize * 0.5; 
    }
}
h2 { 
    font-size: $h2-fontsize; 
    margin-top: ($h2-fontsize / 2); 
    line-height: $h2-fontsize; 
    &[secondary] {
        font-size: $h2-fontsize * 0.5; 
        margin-top: 0;
        line-height: $h2-fontsize * 0.5; 
    }
}
h3 { 
    font-size: $h3-fontsize; 
    margin-top: ($h3-fontsize); 
    line-height: $h3-fontsize; 
    &[secondary] {
        font-size: $h3-fontsize * 0.5; 
        margin-top: 0;
        line-height: $h3-fontsize * 0.5; 
    }
}
h4 { 
    font-size: $h4-fontsize; 
    margin-top: ($h4-fontsize); 
    line-height: $h4-fontsize; 
    &[secondary] {
        font-size: $h4-fontsize * 0.5; 
        margin-top: 0;
        line-height: $h4-fontsize * 0.5; 
    }
}
h5 { 
    font-size: $h5-fontsize; 
    margin-top: ($h5-fontsize); 
    line-height: $h5-fontsize; 
    &[secondary] {
        font-size: $h5-fontsize * 0.5; 
        margin-top: 0;
        line-height: $h5-fontsize * 0.5; 
    }
}
h6 { 
    font-size: $h6-fontsize; 
    margin-top: ($h6-fontsize); 
    line-height: $h6-fontsize; 
    &[secondary] {
        font-size: $h6-fontsize * 0.5; 
        margin-top: 0;
        line-height: $h6-fontsize * 0.5; 
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $font-family-header;
    font-weight: normal;

    small {
        font-family: $font-family-header-secondary;
        margin-left: 1em;
        font-size: 60%;
        letter-spacing: -1px;
        text-transform: none;
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: bolder;
        opacity: 0.7;
    }

    &[secondary] {
        color: gray;
        font-family: $font-family-header-secondary;
        small {
            font-family: $font-family-header;
            font-size: 80%;
            text-transform: none;
            font-style: normal;
        }
    }

    &.has-border {
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-border;
    }

    &.has-link {
        position: relative;
        padding-right: 5rem;
        a {
            font-size: 0.8125rem;
            position: absolute;
            right: 0;
            top: 0;
            @extend .link-primary;
        }   
    }

    & + h1[secondary],
    & + h2[secondary],
    & + h3[secondary],
    & + h4[secondary],
    & + h5[secondary],
    & + h6[secondary] {
        margin-top: -3rem;
    }
}

.modal {
    h1, h3 {
        font-size: 1.875rem;
        line-height: 2rem;
    }
    h1 {
        margin: 0 0 1.875rem 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-border;
        &.is-large {
            margin-top: 1.875rem;
            font-size: 2.8125rem;
        }
    }
    h3 {
        margin: 2.5rem 0 1.25rem 0;
        padding-bottom: 0.3125rem;
        border-bottom: 1px solid #333;
    }
}


////////////////////////////////////////////////////////////////////
// ui.arttap.com dev site stylings
// Elements with `documentation` get special styling to distinguish
// from the proper UI/UX of ArtTap. These might be out of date.
[documentation] {
    color: #2196F3 !important;
}
hr[documentation] {
    // https://codepen.io/ibrahimjabbari/pen/ozinB
    height: 30px; 
    border-style: solid; 
    border-color: #2196F3;
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
    &:before { 
        display: block; 
        content: ""; 
        height: 30px; 
        margin-top: -31px; 
        border-style: solid; 
        border-color: #2196F3; 
        border-width: 0 0 1px 0; 
        border-radius: 20px; 
    }
}
