////////////////////////////////////////////////////////////////////
// User Header - Artist / Collector

.at.user-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: p(30);

	.user {
		display: flex;
		align-items: center;

		.info {
			padding: 0 p(20);

			h4 {
				font-size: p(35);
				margin: 0;

				img {
					max-height: p(45);
					margin-left: p(15);
					position: relative;
					top: p(5);
				}
			}

			.place {
				font-size: p(13);
				a {
					margin-left: p(15);
					font-weight: $weight-semibold;
				}
			}
		}// .info
	}// .user

	.stats {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    min-width: p(300);
		font-size: p(13);

		> div {
			padding: 0 p(15);
			line-height: 1.4;

			b {
				display: block;
				font-weight: normal;
				font-size: p(20);
			}

			i {
				margin-left: p(2);
			}
		}
	}// .stats
}// .at.user-header
