////////////////////////////////////////////////////////////////////
// COLOR MENU
////////////////////////////////////////////////////////////////////

&.active .menu.is-color-menu,
.dropdown-toggle:focus + .menu.is-color-menu,
.menu.is-color-menu:hover {
    display: flex;
}

aside.menu.is-color-menu {
    width: 14rem;

    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    label {
        margin: 1rem;
    }
}

// Make sure color modal shows
.modal aside.menu.is-color-menu {
    display: flex;
}