////////////////////////////////////////////////////////////////////
// MENU DROPDOWN for searchbar
////////////////////////////////////////////////////////////////////

.row {
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
}

.nav-item.column {
    &:not(:last-of-type) {
        margin-right: p(24);
    }

    // height: 48px;
    display: flex;
    flex: 1 0 auto;

    >.button {
        height: $search-bar-height !important;

        &.dropdown-toggle {
            // @extend %button .is-fullwidth .is-outlined .is-gray;
            @extend %button;
            @extend .is-fullwidth;
            @extend .is-outlined;
            @extend .is-gray;
            
            font-size: p(15) !important;
            font-weight: $weight-normal;
            color: $color-db !important;
            text-align: left !important;;

            justify-content: space-between;
            span {
                flex: 1 0 auto;
            }
            span.icon {
                flex: 0 0 auto;
            }
        }
        .button-search {
            @extend .is-fullwidth;
            display: flex;
            flex-direction: row;
            // color: color(white);
            // @extend .is-primary;

            .icon {
                // display: inline-block;
                // display: block;
                .fa {
                    color: color(black);
                }
            }
        }
    }

    aside.menu {
        // font-size: 0.8rem;
        padding: p(15) p(12) p(30);
        margin-top: none;
        white-space: nowrap;

        .title {
            font-weight: $weight-semibold;
            padding: 0 0 p(20);
        }

        ul.menu-list {
            -webkit-padding-start: 0; //wtf
            list-style: none;
            margin: 0px;
            
            li {
                align-items: left;
                display: flex;
                margin: 0 0 p(40);
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}
