////////////////////////////////////////////////////////////////////
// SIZE MENU
////////////////////////////////////////////////////////////////////

aside.menu.is-size-menu {
    // display: flex;
    flex-direction: column;
    width: 25rem;

    .level {
        &:last-of-type {
            margin-bottom: 1.5rem;
        }
    }

    .button {
        font-weight: $weight-normal;
        border-radius: 0 !important;
        min-height: p(32) !important;

        &:first-child {
            margin-right: -5px;
        }

        &:last-child {
            border-left-color: #141414 !important;
        }

        &.is-depressed {
            color: $color-fade;
            background-color: transparent;
            border-color: $border-color;
            // @extend .is-gray-light;
        }
        &:not(.is-depressed) {
            @extend .is-black;
        }
    }

    .noUi-container {
        width: 90%;
        margin: 0 auto;
        label {
            font-size: $size-6;
            margin: 0rem 0rem 0.25rem 0rem;
        }
        span {
            color: color(gray-light);
            font-size: $size-7;
            padding-right: 0.25rem;
        }
        .noUi-horizontal {
            margin: 1rem 0 3rem 0;
        }
    }
}
