////////////////////////////////////////////////////////////////////
// SIZE MENU
////////////////////////////////////////////////////////////////////

aside.menu.is-more-menu {
    &:hover {
        display: flex;
    }

    left: auto;
    right: -195px;
    padding: 25px 35px !important;
    width: 800px;
    flex-direction: row;
    justify-content: space-around;

    .column {
        padding: 0 0.5em 0 0.5em;
        width: 25%;
    }
}
