////////////////////////////////////////////////////////////////////
// SEARCH FORM -- extras for noUiSlider
////////////////////////////////////////////////////////////////////

.noUi-container {
    padding: 0px 0.5rem;
}

.noUi-horizontal {
    height: 2px;
    margin: 3px 0 3px 0;
}
.noUi-target {
    background: color(gray-light);
    border-radius: 4px;
    box-shadow: none;
    border: none;
}
.noUi-connect {
    background: color(gray-dark);
    box-shadow: none;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}
.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* Fix 401 */
}
.noUi-handle {
    border: 1px solid color(gray-dark);
    border-radius: 100%;
    background: color(white);
    cursor: default;
    box-shadow: none;
    // box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    @include box_shadow(2);
}
.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    left: -19px;
    top: -10px;
    &.noUi-handle-lower {
        // So going to "0" on left doesn't mean ball goes off the line
        left: -1px;
    }
}
.noUi-handle:before,
.noUi-handle:after {
    display: none;
}


// Tooltip
.noUi-tooltip {
    display: block;
    position: absolute;
    border: none;
    // border: 1px solid #D9D9D9;
    // border-radius: 3px;
    // background: color(white);
    background: none;
    color: color(gray-light);
    font-size: $size-7;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: -180%;
}