////////////////////////////////////////////////////////////////////
// Vars
////////////////////////////////////////////////////////////////////

// Sizing and offset for dropdowns
$search-bar-height: 50px;

// STANDARD/INHERITED COLOR AND SIZE SETTINGS FOR THESE STYLES
$transition-duration: .4s;
$checkbox-width: 18px;
$checkbox-height: 18px;
$checkbox-border: 2px;
$checkbox-inner-padding: 1px;
$is-large-multiplier: 1.5;
$checkbox-offset: -18px; 


// // TODO: Official color list
// $color-list: 
//     (white color(white))
//     (gray color(gray))
//     (black color(black))
//     (green color(green))
//     (greentree color(greentree))
//     (bluesea color(bluesea))
//     (bluesky color(bluesky))
//     (blueroyal color(blueroyal))
//     (purple color(purple))
//     (magenta color(magenta))
//     (red color(red))
//     (orange color(orange))
//     (yellow color(yellow))
//     (eggshell color(eggshell))
//     (brown color(brown));
// $shadow-offset-x: 4px;
// $shadow-offset-y: 4px;
// $shadow-spread: 10px;
// $shadow-color: color(gray-light);
// $primary-box-shadow: $shadow-offset-x $shadow-offset-y $shadow-spread $shadow-color;
