////////////////////////////////////////////////////////////////////
// Vars
////////////////////////////////////////////////////////////////////

// Sizing and offset for dropdowns
$search-bar-height: 50px;

// STANDARD/INHERITED COLOR AND SIZE SETTINGS FOR THESE STYLES
$transition-duration: .4s;
$checkbox-width: 18px;
$checkbox-height: 18px;
$checkbox-border: 2px;
$checkbox-inner-padding: 1px;
$is-large-multiplier: 1.5;
$checkbox-offset: -18px; 

