///////////////////////////////////////////////////////////////////
// Apply as an Artist pages
// Mobile first approach

.page-apply-artist {

	#content {
		padding: 0;
		max-width: none;
	}
	
	h1 {
		order: 2;
		font-size: p(25);
		line-height: p(32);
		padding: 0 0 0 p(20);
		margin-bottom: p(10);
	}

	h3 {
		font-size: p(30);
		line-height: p(32);
	}

	.main {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;

		.image {
			order: 1;
			background: url(../images/graphics/register-login.jpg) no-repeat;
			background-size: cover;
			background-position: 0 50%;
			min-height: 50vw;
		}

		.form-wrapper {
			order: 3;
			margin: 0 p(20);
			border-bottom: 1px solid $border-color;
		}
	}// .main

	.how-it-works {
		padding: 0 p(20) 0;

		h3 {
			padding-bottom: p(10);
			border-bottom: 1px solid $border-color;
			margin-bottom: p(45);
		}

		// .group-step {
		// 	margin-bottom: p(20);
		// 	.title {
		// 		font-weight: $weight-semibold;
		// 	}
		// 	.step {
		// 		margin-bottom: p(20);
		// 	}
		// }
	}// .how-it-works

	.artist-benefits {
		
		h3 {
			padding: 0 0 0 p(20);
			margin-bottom: p(20);
		}

		.btn-apply {
			margin: 0 p(20) p(50);
		}
	}// .artist-benefits


	@include for-tablet-portrait-up {
		.main {
			.image {
				// header height including banner = 102
				min-height: calc(100vh - 102px);
			}
		}
	}


	@include for-tablet-landscape-up {

		h1 {
			order: 1;
			font-size: 2rem;
			line-height: 2.5rem;
			padding-left: 0;
			margin-bottom: 2.5rem;
			margin-top: 0;
		}

		h3 {
			font-size: 2rem;
		}

		.main {
			margin-top: p(60);
			padding: 0 p(60) 0;

			.image {
				order: 2;
				background: url(../images/graphics/register-login.jpg) no-repeat;
				background-size: cover;
				background-position: 0 50%;
				max-width: 75%;
			}

			.form-wrapper {
				order: 3;
				margin: 0;
				border-bottom: none;
				position: absolute;
				top: 5px;
				right: 4rem;
				width: 400px;

				.box-inner {
					padding: p(30) p(40) p(10);
					box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
					border-top: 3px solid color(primary);
					background-color: #fff;
				}
			}
		}// .main


		.how-it-works {
			padding: 0 p(60);
			margin-top: 5.125rem;
			margin-bottom: p(95);

			h3 {
				border-bottom: none;
			}

			// .group-step {
			// 	display: flex;
			// 	margin-bottom: p(20);
			// 	padding-bottom: p(60);
			// 	border-bottom: 1px solid $border-color;

			// 	.step {
			// 		margin-bottom: p(20);
			// 		flex: 1 1 100%;
			// 	}
			// 	.step:nth-child(1) {
			// 		border-right: 1px solid $border-color;
			// 		padding-right: 3.125rem;
			// 	}
			// 	.step:nth-child(2) {
			// 		padding-right: 3.125rem;
			// 		padding-left: 3.125rem;
			// 	}
			// 	.step:nth-child(3) {
			// 		border-left: 1px solid $border-color;
			// 		padding-left: 3.125rem;
			// 	}
			// }

		}// .how-it-works


		.artist-benefits {
			
			h3 {
				padding: 0 0 0 p(70);
				margin-bottom: p(50);
			}

			.btn-apply {
				margin: p(50) auto;
				max-width: p(300);
			}
		}
	}


	@include for-desktop-up {

		h1 {
			font-size: p(45);
			line-height: p(55);
			margin-bottom: 2.5rem;
			margin-top: 0;
		}

		h3 {
			font-size: p(45);
		}
	}
}
