///////////////////////////////////////////////////////////////////
// Checkout pages

.page-checkout {
	// margin-top: 50px;

	.checkout-container {
		padding: 0 p(20) p(40);
		.address {
			margin-bottom: 40px;

			.user-name {
				display: block;
			}
		}

		.summary {

			.card.checkout {
				width: auto;
			}
			
			.subtotal {
				padding-bottom: 10px;
				border-bottom: $border-width solid $border-color;
			}
			.total {
				padding: 20px 0;
				border-bottom: $border-width solid $border-color;
			}
		}

		.btn-place-order {
			min-width: 100%;
			margin-bottom: 0 !important;
		}
	}

	.step {
		font-weight: $weight-semibold;
		position: relative;
		top: -10px;
		display: block;
		margin-top: 40px;
	}

	.checkout-prompt {
		border-bottom: $border-width solid $border-color;
		padding-bottom: 10px;
		margin-bottom: 25px;
	}
	.checkout-prompt-box {

		border-bottom: $border-width solid $border-color;
		padding: 0 0 30px;

		&:last-of-type {
			&.active {
				border-bottom: 0px;
			}
		}

	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 20px;

		// Change prompt
		a.change {
			font-family: $font-family-body;
			font-size: 13px;
			float: right;
		}
	}




@include for-tablet-portrait-up {

	.checkout-container {
		display: flex;
		max-width: 1280px;
		margin: 0 auto 40px;

		.address {
			margin-bottom: 0px;
			padding: 0 40px 0 0;
			border-right: $border-width solid $border-color;
			flex: 1 1 auto;

			.user-name {
				display: inline;
			}
		}

		.summary {
			max-width: 346px;
			min-width: 346px;
			flex: 1 1 auto;
			padding-left: 40px;
		}

		.btn-place-order {
			min-width: 360px;
			margin-right: 20px;
		}
		
		.checkout-payment-container {
			max-width: 600px;
			padding: 45px;
			border-radius: 35px;
			background-color: #FFFFFF;
			box-shadow: 0 2px 10px 0 rgba(182,182,182,0.5);
		}
	}

}

@include for-tablet-landscape-up {
}

@include for-desktop-up {
}


}





.d-flex {
	.btn-apply {
		min-width: 110px;
	}
}

.shipping-method-wrapper {
	border: $border-width solid $border-color;
	margin-bottom: 20px;

	.item-container {
		flex: 100%;
	}

	.shipping-item {
		padding: 25px 15px;
		border-bottom: $border-width solid $border-color;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.item {
			flex: 0 0 70%;
			display: flex;
			align-items: baseline;
		}

		.price {
			flex: 0 0 30%;
			text-align: right;
		}

		&.title {
			padding: 15px;
			font-weight: $weight-semibold;
		}

		&:last-child {
			border-bottom: 0px;
		}

		.radio {
			span {
				margin-right: 10px;
			}
		}
	}

	.order {
		padding: 20px 20px 15px;
		border: 0;
		border-right: $border-width solid #ccc;
		margin: 0;
	}
}

.btn-360 {
	.button {
		max-width: 360px !important;
	}
}
