///////////////////////////////////////////////////////////////////
// Common repeative styles for pages
///////////////////////////////////////////////////////////////////

.page {

	// for demo purpose to match layout with prototype 1280px
	// max-width: 1280px;
	margin: 0 auto;

	&.t { max-width: 1280px; } // test for prototype match
	&.landscape { max-width: 1024px; }
	&.phone { max-width: 360px; }

	#wrapper {
		display: flex;
		// flex-direction: column;
	}

	#content {
		padding: p(20) p(20) p(40);
		min-height: calc(100vh - 345px);
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
	}

	&.compact {
		#content {
			font-size: p(13);
		}
	}

	.section {
		&.has-border {
			margin-bottom: 5rem;
			padding-bottom: 3.5rem;
			border-bottom: $border-width solid $border-color;
		}

		&.is-small { margin-bottom: 2rem; }
		&.is-medium { margin-bottom: p(51); }
		&.is-large { margin-bottom: 4rem; }
		&.section-padding-s { padding-bottom: 1.5rem; }

		> h1, > h2, > h3 {
			color: $color-db;
			font-size: $h1-fontsize;
			margin-top: ($h1-fontsize);
		}
	}

	.page-title {
    	position: relative;
    	margin-bottom: p(30);

	    &.no-border {
	    	margin-bottom: 0px;
	    	h1 {
	    		margin: p(8) 0;
				padding-bottom: 0;
				border-bottom: 0;
	    	}
	    }
	    
    	.link-back {
    		@extend %link-gray;
    		font-size: p(13);
    	}

	    h1 {
	    	font-size: p(45);
	    	margin: p(8) 0 p(40);
			padding-bottom: p(22);
			border-bottom: $border-width solid $border-color;
			&.no-border {
				padding-bottom: 0;
				border-bottom: 0;
			}
	    }

	    .with-page-title {
			min-width: p(320);

			button {
				@extend .button;
				@extend .is-black;
				@extend .is-fullwidth;
			}
	    }
    }


// For Mobile first approach
// First define layout for mobile view
// then go larger devices
@include for-tablet-portrait-up {
	.page-title {

    	.link-back {
			top: -30px;
			position: absolute;
    	}

	    .with-page-title {
	    	// Element with page title positioned top right. e.g: button or search box
			position: absolute;
			right: 0px;
			top: -10px;
			width: auto;
	    }
    }
}

@include for-tablet-landscape-up {
	#content {
		padding: p(50) p(40) p(40);
	}
	&.compact {
		#content {
			padding: p(50) p(200) p(40) p(120);
		}
	}
}

@include for-desktop-up {
	&.has-sidebar {
		#content {
			width: 77%;
		}
	}
}

}// .page
