///////////////////////////////////////////////////////////////////
// 404 Error Page

.error-page {
	#content {
		height: calc(100vh - 77px);
		margin: 0 auto;
		padding: 0px;
		width: 550px;
		display: flex;
		flex-direction: column;
		justify-content: center;

	    .action {
	    	padding: 0 p(100);
	    }
	}

	// hiding footer by CSS, protptype not have footer
	footer {
		display: none;
	}
}
