///////////////////////////////////////////////////////////////////
// 404 Error Page

.error-page {
	height: calc(100vh - 70px);
	width: 580px;
	display: flex;
	flex-direction: column;
	justify-content: center;

    .action {
    	padding: 0 p(100);
    }
}
