///////////////////////////////////////////////////////////////////
// Common repeative styles for pages

.page {

	// for demo purpose to match layout with prototype 1280px
	max-width: 1280px;
	margin: 0 auto;

	&.landscape { max-width: 1024px; }
	&.phone { max-width: 360px; }

	&.has-sidebar {
		.main-content {
			padding: p(50);
		}
	}

	#content {
		margin: p(20);
	}

	.section {
		&.has-border {
			margin-bottom: p(50);
			padding-bottom: p(50);
			border-bottom: 1px solid $color-border;
		}

		h2 {
			margin-bottom: 1.5rem;
		}
	}

	.main-content {

		.page-title {
	    	position: relative;
	    	.link-back {
	    		@extend .link-gray;
	    		font-size: p(13);
				top: -30px;
				position: absolute;
	    	}
		    h1 {
		    	margin: 0;
		    	font-size: p(48);
		    }
		    .with-page-title {
		    	// Element with page title positioned top right. e.g: button or search box
				position: absolute;
				right: 0px;
				top: 0px;
				min-width: 20rem;
		    }
	    }
	    
	}

	// For Mobile first approach
	// First define layout for mobile view
	// then go larger devices
	@include for-tablet-portrait-up {

	}

	@include for-tablet-landscape-up {
		#content {
			margin: p(50) p(40) p(40);
		}
	}

	@include for-desktop-up {
	}
}


