///////////////////////////////////////////////////////////////////
// Common repeative styles for pages
///////////////////////////////////////////////////////////////////

.page {

	// for demo purpose to match layout with prototype 1280px
	max-width: 1280px;
	margin: 0 auto;

	&.landscape { max-width: 1024px; }
	&.phone { max-width: 360px; }

	#wrapper {
		display: flex;
	}

	#content {
		padding: p(20) p(20) p(40);
		width: 100%;
	}

	&.compact {
		#content {
			font-size: p(13);
		}
	}

	.section {
		&.has-border {
			margin-bottom: p(50);
			padding-bottom: p(50);
			border-bottom: 1px solid $color-border;
		}

		&.space-small { margin-bottom: 2rem; }
		&.space-medium { margin-bottom: 3rem; }
		&.space-large { margin-bottom: 4rem; }

		h2 {
			margin-bottom: 1.5rem;
		}
	}

	.page-title {
    	position: relative;
    	margin-bottom: p(30);

    	.link-back {
    		@extend %link-gray;
    		font-size: p(13);
    	}

	    h1, h2, h3 {
	    	margin: 0 0 p(20);
	    }

	    .with-page-title {
			min-width: 18.75rem;

			button {
				@extend .button;
				@extend .is-black;
				@extend .is-fullwidth;
			}
	    }
    }


// For Mobile first approach
// First define layout for mobile view
// then go larger devices
@include for-tablet-portrait-up {
	.page-title {

    	.link-back {
			top: -30px;
			position: absolute;
    	}

	    .with-page-title {
	    	// Element with page title positioned top right. e.g: button or search box
			position: absolute;
			right: 0px;
			top: 0px;
			width: auto;
	    }
    }
}

@include for-tablet-landscape-up {
	#content {
		padding: p(50) p(40) p(40);
	}
	&.compact {
		#content {
			padding: p(50) p(200) p(40) p(120);
		}
	}
}

@include for-desktop-up {
}

}// .page
