///////////////////////////////////////////////////////////////////
// Page - Register, Login, Forgot Password
// Mobile first approach

.page-register {

	.flex {
		flex-direction: column;

		.image {
			background: url(../images/graphics/register-login.jpg) no-repeat;
			background-size: cover;
			background-position: 0 50%;
			min-height: 50vw;
		}

		.detail {
			padding: 0 p(20);

			.terms-privacy {
				align-self: center;
				font-size: p(13);
				margin: p(20) 0;
			}
		}

	@include for-tablet-portrait-up {
		.image {
			// header height including banner = 102
			min-height: calc(100vh - 102px);
		}
		.detail {
			padding: 0 p(100);
		}
	}

	@include for-tablet-landscape-up {
		flex-direction: row;
		.image {
			flex: 1 1 60%;
		}

		.detail {
			flex: 1 1 40%;
			padding: 0 p(40);

			.flex {
				height: 100%;
			}
			
			.section {
				flex: 1 1 auto;
				align-self: center;
			}

			.terms-privacy {
				align-self: flex-end;
				flex: 1 1 auto;
				text-align: center;
			}
		}
	}

	@include for-desktop-up {
		.detail {
			padding: 0 p(100);
		}
	}
	
	}
}
