<h3 class="large has-link">Marketplace is Breaking Down Walls
	<a href="#">See Artist Banefits</a>
</h3>
<div class="group-step">
    <div class="step">
        <div class="title">Quality</div>
        <ul class="at-dots">
        	<li>Gallery quality artwork for less</li>
        	<li>Vatted professional artists</li>
        	<li>Expert curation</li>
        </ul>
    </div>
    <div class="step">
        <div class="title">Cummunity</div>
        <ul class="at-dots">
        	<li>Dedicated to supporting artists</li>
        	<li>Charitable donation with every purcahse</li> 
        	<li>Art news and events</li>
        </ul>
    </div>
    <div class="step">
        <div class="title">Trust</div>
        <ul class="at-dots">
        	<li>Easy shipping and insurance</li>
        	<li>Transparent pricing on all artwork</li>
        	<li>Secure online payments</li>
        </ul>
    </div>
</div>