<div class="at order is-cancel">

	<div class="item user-container">
		<div class="avatar-container">
			<div class="avatar avatar-sm">
				<img src="/assets/images/profiles/person-3.jpg">
			</div>
		</div>

		<div class="user">
			<div class="heading">Robyn Asquini</div>
			<div class="detail">Alias / Username</div>
		</div>
	</div>

	<div class="item order">
		<div class="heading">Ordered</div>
		<div class="detail">01/21/2017</div>
	</div>

	<div class="item total">
		<div class="heading">Total</div>
		<div class="detail">US$1760.00</div>
	</div>

	<div class="item receipt">
		<div class="heading">Receipt</div>
		<div class="detail">Order Canceled</div>
	</div>

</div><!-- .at order -->
