<div class="row has-space">

    <div class="col-xs-14 col-md-10 column has-right-border">

        {{> block-shipping-method }}

        <div class="has-border">Paid to SAMPLE@gmail.com</div>

        {{> card-order }}
        {{> card-order }}

        <p>Add a private note to this order</p>

        <div class="field">
            <input type="text" class="input" name="">
        </div>

    </div>

    <div class="col-xs-14 col-md-4 column has-left-pad">
        <p>
            <b>Shipped On</b><br>
            January 22, 2017
        </p>

        <p>
            <b>Arrived to Customer On</b><br>
            January 31, 2017
        </p>

        <p>
            <b>Shipped To</b><br>
            John Smith
            123 Main Street
            Apt. A1
            New York, NY 10035
            United States
        </p>

        <button class="button is-fullwidth is-gray is-outlined">Message Collector</button>
    </div>
    
</div><!-- .row has-space -->