<div class="at order">

	<div class="user">
		<div class="avatar avatar-sm">
			<img src="/assets/images/profiles/person-3.jpg">
		</div>

		<div class="info">
			<div class="title">Robyn Asquini</div>
			<div class="detail">Alias / Username</div>
		</div>
	</div>

	<div class="date">
		<div class="title">Ordered</div>
		<div class="detail">January 21, 2017</div>
	</div>

	<div class="total">
		<div class="title">Total</div>
		<div class="detail">US$1760.00</div>
	</div>

	<div class="receipt">
		<div class="title">Receipt</div>
		<div class="detail"><a href="#" >#68840322</a></div>
	</div>

</div><!-- .at order -->


<div class="at order is-cancel">

	<div class="user">
		<div class="avatar avatar-sm">
			<img src="/assets/images/profiles/person-3.jpg">
		</div>

		<div class="info">
			<div class="title">Robyn Asquini</div>
			<div class="detail">Alias / Username</div>
		</div>
	</div>

	<div class="date">
		<div class="title">Ordered</div>
		<div class="detail">January 21, 2017</div>
	</div>

	<div class="total">
		<div class="title">Total</div>
		<div class="detail">US$1760.00</div>
	</div>

	<div class="receipt">
		<div class="title">Receipt</div>
		<div class="detail"><a href="#" >#68840322</a></div>
	</div>

</div><!-- .at order -->
