<div class="flex-between">

	<div class="block shipping-address">
		<div class="title">
			<div class="left">Sending Your Artwork</div>
			<div class="right">Default</div>
		</div>

		<div class="content">
		    <div class="left">
		    	<address>
					Admin User
					<br>
					408 Kaylee Drives
					<br> 
					178 Michael Cape Apt. 304 
					<br>
					Corrinefort, TN 47038 
					<br>
					United States
		    	</address>
		    	<div class="action">
			        <a href="#" class="modal-address-trigger">Edit</a>
			        <a href="#" class="">Remove</a>
			    </div>
		    </div>
		    <div class="right">
	            <label class="radio">
	                <input type="radio" name="addr">
	                <span></span>
	            </label>
		    </div>
		</div>

		<div class="content">
		    <div class="left">
		    	<address>
					Admin User
					<br>
					408 Kaylee Drives
					<br> 
					178 Michael Cape Apt. 304 
					<br>
					Corrinefort, TN 47038 
					<br>
					United States
		    	</address>
		    	<div class="action">
			        <a href="#" class="modal-address-trigger">Edit</a>
			        <a href="#" class="">Remove</a>
			    </div>
		    </div>
		    <div class="right">
	            <label class="radio">
	                <input type="radio" name="addr">
	                <span></span>
	            </label>
		    </div>
		</div>

	</div>

	<div class="block shipping-address">
		<div class="title">
			<div class="left">Receiving Artwork</div>
			<div class="right">Default</div>
		</div>

		<div class="content">
		    <div class="left">
		    	<address>
					Admin User
					<br>
					408 Kaylee Drives
					<br> 
					178 Michael Cape Apt. 304 
					<br>
					Corrinefort, TN 47038 
					<br>
					United States
		    	</address>
		    	<div class="action">
			        <a href="#" class="modal-address-trigger">Edit</a>
			        <a href="#" class="">Remove</a>
			    </div>
		    </div>
		    <div class="right">
	            <label class="radio">
	                <input type="radio" name="addr">
	                <span></span>
	            </label>
		    </div>
		</div>
		
		<div class="content">
		    <div class="left">
		    	<address>
					Admin User
					<br>
					408 Kaylee Drives
					<br> 
					178 Michael Cape Apt. 304 
					<br>
					Corrinefort, TN 47038 
					<br>
					United States
		    	</address>
		    	<div class="action">
			        <a href="#" class="modal-address-trigger">Edit</a>
			        <a href="#" class="">Remove</a>
			    </div>
		    </div>
		    <div class="right">
	            <label class="radio">
	                <input type="radio" name="addr">
	                <span></span>
	            </label>
		    </div>
		</div>
	</div>

</div>
<a href="#" class="modal-address-trigger button is-black">Add a Shipping Address</a>
