<h1>H1 = 45 My Collections</h1>
<h2>H2 = 35 Dashboard</h2>
<h3>H3 = 35 Newest Works</h3>
<h3 class="styled">H3 = 45 Search questions, key words, or topics [ styled ]</h3>
<h4>H4 = 30 Orders</h4>
<h5>H5 = 25 Fair History</h5>
<h6>H6 = 20 The Realist</h6>
<p class="text-db text-xl">1k = 45px / 16px leading [ text-xl ]</p>
<p class="fw-m">Ordered [ fw-m ]</p>
<p>US$1760.00</p>
<p class="text-fade">23 Minutes Ago [ text-fade ]</p>
<p class="text-s fw-m">Below are the recommendations from [ text-s fw-m ]</p>
<p class="text-s"><i>Number of days left is determined</i> [ text-s ]</p>
<p class="text-s">Add at least one photo. Use up to four photos to show different angles and details. (Minimum photo) [ text-s ]</p>
<p><a href="#">Link</a></p>
<p class="text-s"><a href="#">Edit</a> [ text-s ]</p>
<p class="text-red fw-m">Order Canceled [ text-red fw-m ]</p>
<p class="text-red fw-m text-s">Not Visible [ text-red fw-m text-s ]</p>
