<form class="product-form">
<section>
    <div class="column col-xs-14">
        <div class="field">
            <label class="label">
                Colours
            </label>
                <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-blue" for="input-color-select-blue">
                    <input type="checkbox" id="input-color-select-blue" name="input-color-select-blue">
                    <span></span>
                </label>

            <div class="row">
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-white">
                            <input type="checkbox" id="input-color-select-white" name="product_filters[filters_color][]" value="53">
                            <span></span>
                            <small>
                                White
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-gray">
                            <input type="checkbox" id="input-color-select-gray" name="product_filters[filters_color][]" value="54">
                            <span></span>
                            <small>
                                Gray
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-black">
                            <input type="checkbox" id="input-color-select-black" name="product_filters[filters_color][]" value="55">
                            <span></span>
                            <small>
                                Black
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-lime">
                            <input type="checkbox" id="input-color-select-lime" name="product_filters[filters_color][]" value="56">
                            <span></span>
                            <small>
                                Lime
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-green">
                            <input type="checkbox" id="input-color-select-green" name="product_filters[filters_color][]" value="57">
                            <span></span>
                            <small>
                                Green
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-turquoise">
                            <input type="checkbox" id="input-color-select-turquoise" name="product_filters[filters_color][]" value="58">
                            <span></span>
                            <small>
                                Turquoise
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-light-blue">
                            <input type="checkbox" id="input-color-select-light-blue" name="product_filters[filters_color][]" value="59">
                            <span></span>
                            <small>
                                Light Blue
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-dark-blue">
                            <input type="checkbox" id="input-color-select-dark-blue" name="product_filters[filters_color][]" value="60">
                            <span></span>
                            <small>
                                Dark Blue
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-purple">
                            <input type="checkbox" id="input-color-select-purple" name="product_filters[filters_color][]" value="61">
                            <span></span>
                            <small>
                                Purple
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-magenta">
                            <input type="checkbox" id="input-color-select-magenta" name="product_filters[filters_color][]" value="62">
                            <span></span>
                            <small>
                                Magenta
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-red">
                            <input type="checkbox" id="input-color-select-red" name="product_filters[filters_color][]" value="63" checked="">
                            <span></span>
                            <small>
                                Red
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-orange">
                            <input type="checkbox" id="input-color-select-orange" name="product_filters[filters_color][]" value="64">
                            <span></span>
                            <small>
                                Orange
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-yellow">
                            <input type="checkbox" id="input-color-select-yellow" name="product_filters[filters_color][]" value="65">
                            <span></span>
                            <small>
                                Yellow
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-beige">
                            <input type="checkbox" id="input-color-select-beige" name="product_filters[filters_color][]" value="66">
                            <span></span>
                            <small>
                                Beige
                            </small>
                        </label>
                    </div>
                </div>
                <div class="column col-xs-7">
                    <div class="control">
                        <label class="checkbox is-labeled is-colorball-checkbox is-large is-color-brown">
                            <input type="checkbox" id="input-color-select-brown" name="product_filters[filters_color][]" value="67">
                            <span></span>
                            <small>
                                Brown
                            </small>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>