// Override variables here
// You can add new ones or update existing ones:

$blue: #72d0eb
// $pink: #ffb3b3
$family-serif: "Georgia", serif !default

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

$danger: $blue
$family-primary: $family-serif


