
/**
 * 
 * 
 * SASS setup for SITE
 *
 * 
 */

@import "bulma-functions.sass"
@import "bulma-settings.sass"
// @import "../../../node_modules/bulma/sass/utilities/variables.sass"

/**
 * Text coloration settings
 */

.is-grey
	// color: $grey
	color: $grey-light
	// color: $grey-lighter

tt
	color: $grey

.is-text-red
	color: $red

.has-padding
	padding: 1em
.has-padding-more
	padding: 2.5em



/**
 * Mixins to try
 */
@import "../../../node_modules/animatewithsass/animate.scss"
@import "mixins/utilitybelt-alertpulse.scss"
@import "mixins/utilitybelt-tooltip.scss"



/**
 * Include elements
 */
@import "elements/hearts.scss"
@import "elements/art-cards.scss"
@import "elements/tags.scss"
@import "elements/frames.scss"
@import "elements/typography.scss"
@import "elements/buttons.scss"
