/**
 * 
 * 
 * SASS setup for SITE
 *
 * 
 */

@import "bulma-functions.scss";
@import "bulma-settings.scss";

// @import "../../../node_modules/bulma/sass/utilities/variables.sass"

/**
 * Text coloration settings
 */

.is-grey {
  // color: $grey
  color: $grey-light;

  // color: $grey-lighter
}

tt {
  color: $grey;
  background-color: $grey-lighter;
  border-radius: 3px;
  padding: 1px 3px;
}

.is-text-red {
  color: $red;
}

.has-padding {
  padding: 1em;
}

.has-padding-more {
  padding: 2.5em;
}

/**
 * Mixins to try
 */
@import "../../../node_modules/animatewithsass/animate.scss";
@import "mixins/utilitybelt-alertpulse.scss";
@import "mixins/utilitybelt-tooltip.scss";

/**
 * Include elements
 */
@import "elements/hearts.scss";
@import "elements/art-cards.scss";
@import "elements/artist-cards.scss";

//Must be after artist-cards.scss
@import "elements/masonry.scss";
@import "elements/tags.scss";
@import "elements/typography.scss";
@import "elements/buttons.scss";
@import "elements/form-search.scss";
@import "elements/form.scss";
@import "elements/floating-badges.scss";
@import "elements/push-panel-right.scss";
@import "elements/motd.scss";
@import "elements/motd.scss";
@import "elements/header.scss";
@import "elements/dashboard.scss";
@import "elements/chips.scss";
@import "elements/dropdown-menu.scss";
@import "elements/avatars.scss";
@import "elements/carousel.scss";
@import "elements/panel-left-nav.scss";

/**
 * Experimental
 */
@import "elements/frames.scss";

/**
 * Include Interactive elements
 */
@import "interactive/sweetalert-build.scss";

/**
 * Include Page elements
 */
@import "site-helpers.scss";

// @import "pages/header-nav.scss"
@import "pages/header.scss";
