
/**
 * 
 * 
 * SASS setup for SITE
 *
 * 
 */

@import "bulma-extensions.sass"
@import "../../../node_modules/bulma/sass/utilities/variables.sass"

/**
 * Text coloration settings
 */

.is-grey
	// color: $grey
	color: $grey-light
	// color: $grey-lighter

tt
	color: $grey

.is-text-red
	color: $red




/**
 * Mixins to try
 */
@import "../../../node_modules/animatewithsass/animate.scss"
@import "mixins/utilitybelt-alertpulse.scss"
@import "mixins/utilitybelt-tooltip.scss"



/**
 * Include elements
 */
@import "elements/hearts.scss"
@import "elements/art-cards.scss"

