////////////////////////////////////////////////////////////////////
// RESPONSIVE MIXINS
// Usage:
//      .some-element {
//          width: 50vw;
//          @include for-phone-only {
//              width: 80vw;
//          }
//      }
////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
// Placeholders
$for-phone-only            : (max, rem-to-px($fBG_xs));
$for-tablet-portrait       : (inside, rem-to-px($fBG_xs), (rem-to-px($fBG_sm)));
$for-tablet-portrait-up    : (min, rem-to-px($fBG_sm));
$for-tablet-portrait-down  : (max, rem-to-px($fBG_sm));
$for-tablet-landscape      : (inside, rem-to-px($fBG_sm), (rem-to-px($fBG_lg) - 1px));
$for-tablet-landscape-up   : (min, rem-to-px($fBG_md) - 1px);
$for-tablet-landscape-down : (max, rem-to-px($fBG_md));
$for-desktop               : (inside, rem-to-px($fBG_lg), (rem-to-px($fBG_xl) - 1px));
$for-desktop-up            : (min, rem-to-px($fBG_lg));
$for-desktop-down          : (max, rem-to-px($fBG_lg));
$for-big-desktop           : (min, rem-to-px($fBG_xl));
$for-big-desktop-up        : (min, rem-to-px($fBG_xl));

////////////////////////////////////////////////////////////////////
// RESPONSIVITY

    ////////////////////////////////////////////////////////////////////
    // TINY screens
    @mixin for-phone-only {
        @include mq($for-phone-only) { @content; }
    }
    @mixin for-tablet-portrait {
        @include mq($for-tablet-portrait) { @content; }
    }
    @mixin for-tablet-portrait-up {
        @include mq($for-tablet-portrait-up) { @content; }
    }
    @mixin for-tablet-portrait-down {
        @include mq($for-tablet-portrait-down) { @content; }
    }

    ////////////////////////////////////////////////////////////////////
    // TABLET screens
    @mixin for-tablet-landscape {
        @include mq($for-tablet-landscape) { @content; }
    }
    @mixin for-tablet-landscape-up {
        @include mq($for-tablet-landscape-up) { @content; }
    }
    @mixin for-tablet-landscape-down {
        @include mq($for-tablet-landscape-down) { @content; }
    }

    ////////////////////////////////////////////////////////////////////
    // DESKTOP screens
    @mixin for-desktop {
        @include mq($for-desktop) { @content; }
    }
    @mixin for-desktop-up {
        @include mq($for-desktop-up) { @content; }
    }
    @mixin for-desktop-down {
        @include mq($for-desktop-down) { @content; }
    }

    ////////////////////////////////////////////////////////////////////
    // BIG DESKTOP screens
    @mixin for-big-desktop {
        @include mq($for-big-desktop) { @content; }
    }
    @mixin for-big-desktop-down {
        @include mq($for-big-desktop-up) { @content; }
    }



// Mobile row spacer
.sep-xs {
    width: 100%;
    margin-bottom: 1.5rem;

    @include for-tablet-portrait  {
        display: none !important;
    }
    @include for-tablet-portrait-up  {
        display: none !important;
    }
}


/*********************
  Media Query Classes for hide elements
**********************/

.hide-on-xs             { @include for-phone-only               { display: none !important; } }
.hide-on-sm             { @include for-tablet-portrait          { display: none !important; } }
.hide-on-sm-up          { @include for-tablet-portrait-up       { display: none !important; } }
.hide-on-sm-down        { @include for-tablet-portrait-down     { display: none !important; } }
.hide-on-sm-ls          { @include for-tablet-landscape         { display: none !important; } }
.hide-on-sm-ls-up       { @include for-tablet-landscape-up      { display: none !important; } }
.hide-on-sm-ls-down     { @include for-tablet-landscape-down    { display: none !important; } }
.hide-on-md             { @include for-desktop                  { display: none !important; } }
.hide-on-md-up          { @include for-desktop-up               { display: none !important; } }
.hide-on-md-down        { @include for-desktop-down             { display: none !important; } }
.hide-on-lg             { @include for-big-desktop              { display: none !important; } }
.hide-on-lg-down        { @include for-big-desktop-down         { display: none !important; } }
