////////////////////////////////////////////////////////////////////
// ICONS 
// Unsure how much this is needed. 
// Extended from from Bulma 0.5.3
////////////////////////////////////////////////////////////////////

%icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;

    .at {
        font-size: 21px;
    }

    &.tooltip {
        // @extend .fa;
        // @extend .fa-question-circle;
        color: color(black);
        font-size: 1.25rem;
    }

    // Colors
    @each $name, $pair in $colors {
        $this-color: nth($pair, 1);
        $this-color-invert: nth($pair, 2);

        &.#{$name} {
            color: $this-color;
            background-color: rgba(0,0,0,0) !important;
        }
    }

    // Sizes
    &.is-small {
        height: 1rem;
        width: 1rem;

        .at {
            font-size: 14px;
        }
    }

    &.is-medium {
        height: 2rem;
        width: 2rem;

        .at {
            font-size: 28px;
        }
    }

    &.is-large {
        height: 3rem;
        width: 3rem;

        .at {
            font-size: 42px;
        }
    }
}

.icon {
    @include at();
    @extend %icon;
}


.icon-circle {
    border: $border-width solid $border-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: p(66);
    height: p(66);
}

.at.at-arrows-remove {
    font-size: p(9); // remove size is bigger than normal icons so resizing to 9px
}

.icon-circle.success-check {
    font-size: 20px;
    border-color: #53c14a;
    color: #53c14a;
}

// Customize icons Size
.at-heart,
.at-heart-o {
    font-size: 15px;
}

