////////////////////////////////////////////////////////////////////
// Dashboard Stats
////////////////////////////////////////////////////////////////////

.at.statistics {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: p(13);

	// .block-stats {
	// 	margin-bottom: p(70);
	// 	flex: 1 1;
	// }

	.item {
		flex: 0 0 50%;
		margin: 1rem 0;

		&:last-child,
		&:nth-last-child(2) {
			margin-bottom: 0;
		}

		.large {
			font-size: p(50);
			line-height: 1;
		}
	}


@include for-tablet-portrait-up {
	.item {
		flex: 0 0 auto;
	}
}

@include for-tablet-landscape-up {

}

@include for-desktop-up {
}

}// .at.dashboard-stats