////////////////////////////////////////////////////////////////////
// Dashboard Stats
////////////////////////////////////////////////////////////////////

.at.dashboard-stats {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-flow: column wrap;

	.block-stats {
		margin-bottom: p(70);
		flex: 1 1;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h4 { margin: 0px; }

	.item {
		display: flex;
		align-items: center;
		margin: 1rem 0;
		
		.large {
			font-size: p(50);
			line-height: 1;
			margin-right: p(10);
		}
	}


@include for-tablet-portrait-up {
	flex-direction: row;

	.block-stats {
		margin-bottom: 0;
		margin-right: p(20);

		&:last-child {
			margin-right: 0;
		}
	}
}

@include for-tablet-landscape-up {

	.block-stats {
		margin-right: p(50);
	}
}

@include for-desktop-up {
}

}// .at.dashboard-stats