////////////////////////////////////////////////////////////////////
// ACCORDION

.at.accordion {

	margin: 0 0 p(50);

	&.no-space {
		margin-bottom: 0;
	}

	dt {
  		border-top: $border-width solid $border-color;
  		padding: 1rem 1.5rem 1rem 0;
  		cursor: pointer;
  		font-weight: $weight-semibold;
  		position: relative;
  		&:hover {
  			color: lighten(black, 40%);
  		}
		&:first-of-type {
			border-top: 0;
		}
		&:last-of-type:not(.active) {
  			border-bottom: 1px solid $border-color;
		}

		.at {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}

		&.active {
			.at-arrows-plus:before { @extend .at-arrows-minus; }
		}

	}

	dd {
		margin: 0;
		padding: 0 1rem 0 0;
		
		p:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
  			border-bottom: $border-width solid $border-color;
		}
	}

@include for-tablet-portrait-up {

	dd {
		padding: 0 5rem 0 0;
	}

}

}
