////////////////////////////////////////////////////////////////////
// ARTIST FOLLOW TOGGLE
// The one-liner with "[+] Follow Artist       160 Followers"
////////////////////////////////////////////////////////////////////
.follow-artist {
    font-size: p(13);
    line-height: p(16);
    margin-bottom: p(22);
    
    span {
        cursor: pointer;
        margin-right: 1rem;
        // font-weight: bold;

        .icon {
            background: color(primary);

            @include at;
            @extend .at-arrows-plus;

            border-radius: 50%;
            height: .5em;
            width: .5em;

            color: white;

            padding: p(9);
            font-size: p(9);
            line-height: p(10);
            text-indent: p(1);
            margin-right: p(4);

            &::before {
                position: relative;
                top: p(-1);
            }
        }
        
        &.follow {
            color: color(link);
            .icon {
                background: color(primary);
            }
        }
        &.followed {
            .icon {
                background: color(black);
                @extend .at-arrows-minus;
            }
        }
    }
    .followers {
        color: $color-fade;
    }
}



