////////////////////////////////////////////////////
// Avatars
////////////////////////////////////////////////////

////////////////////////////////////////////////////
// From SpectreCSS -- this section is extended below
@mixin avatar-base($size: $unit-10) {
    font-size: $size / 2;
    height: $size;
    width: $size;
}

.avatar {
    @include avatar-base($unit-12);
    background: $primary-color;
    border-radius: 50%;
    color: rgba($light-color, .85);
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    position: relative;
    vertical-align: middle;

    &.avatar-xs {
        @include avatar-base($unit-7);
    }
    &.avatar-sm {
        @include avatar-base($unit-9);
    }
    &.avatar-lg {
        @include avatar-base($unit-16);
    }
    &.avatar-xl {
        @include avatar-base($unit-18);
    }

    img {
        border-radius: 50%;
        height: 100%;
        position: relative;
        width: 100%;
        // z-index: $zindex-0;
        z-index: z("default");
    }

    .avatar-icon,
    .avatar-presence {
        background: $bg-color-light;
        bottom: 14.64%;
        height: 50%;
        padding: $border-width-lg;
        position: absolute;
        right: 14.64%;
        transform: translate(50%, 50%);
        width: 50%;
        // z-index: $zindex-0 + 1;
        z-index: (z("default") + 1);
    }

    .avatar-presence {
        background: $gray-color;
        box-shadow: 0 0 0 $border-width-lg $light-color;
        border-radius: 50%;
        height: .5em;
        width: .5em;

        &.online {
            background: $success-color;
        }

        &.busy {
            background: $error-color;
        }

        &.away {
            background: $warning-color;
        }
    }

    &[data-initial]::before {
        color: currentColor;
        content: attr(data-initial);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: z("default");
        // z-index: $zindex-0;
    }
}


////////////////////////////////////////////////////
// AVATAR -- extended for ArtTap
// Edit this
.avatar {
    background: color(primary);

    .avatar-status {
        @extend .avatar-presence;

        box-sizing: content-box;

        @include at;
        @extend .at-arrows-plus;

        color: white;
        padding: 0.5rem;
        font-size: p(9);
        line-height: p(5);
        text-indent: p(-1);

        transition: background-color 0.5s ease;

        &.follow {
            background: color(primary);
        }
        &.followed {
            background: color(black);
            @extend .at-arrows-minus;
        }
    }
}
