////////////////////////////////////////////////////////////////////
// CARDS
////////////////////////////////////////////////////////////////////

.card {
	width: 150px;
	
	&:not(.masonry) {
		margin-right: 1rem;
	}

	// &:not(:last-of-type) {
	// 	margin-right: 1rem;
	// }

	a {
		font-weight: $weight-normal;
	}

	.image {
		display: block;
		box-shadow: $shadow;
		background-size: cover;
		background-position: center center;
		img {
			display: none;
		}
	}

	.content {
		height: 4rem;
		width: 150px;

		margin-top: 11px; // match with prototype
		// margin-top: 12.8px;

		font-size: 13px;
		line-height: 18px;
		color: rgba(0, 0, 0, 0.44);

		div {
			@include truncate(100%);

			// Disabling padding to match with prototype
			// padding-right: 0.2rem;
			// padding-left: 0.2rem;

			&.heart {
				float: right !important;
				overflow: initial;
				padding-left: 5px;
				.icon {
					width: auto;
					height: auto;
				}
			}
			// For Merchant > Artwork > Editable card
			&.edit {
				float: right !important;
			}

			&.artist {
				font-weight: $weight-semibold;
			}
			&.title {
				font-style: italic;
			}
			&.price { }
		}
	}

	////////////////////////////////////////
	// Card variations
	&.square {
		width: auto;
		.image {
			width: 150px;
			height: 150px;
		}
	}
	&.square.slick-slide {
		width: auto;
		.image {
			width: 150px;
			height: 150px;
			box-shadow: none;
			background-image: none !important;
			img {
				display: block;
				max-height: 150px;
				box-shadow: $shadow;
			}
		}
	}
	
	&.status {
		width: auto;
		.image {
			width: 150px;
			height: 150px;
		}
		.content {
			height: auto;
		}
		.status-posted {
			color: black;
		}
		.status-sold {
			color: black;
			&:after {
				content: "";
				display: inline-block;
				border-radius: 50%;
				height: 8px;
				width: 8px;
				margin-left: 6px;
				background-color: black;
				font-weight: 500;
			}
		}
		.status-not-visible {
			color: red;
		}
	}
	&.checkout {
		@extend .square;
		height: 216px;
		display: flex;
		flex-direction: row;

		border-bottom: $border-width solid $border-color;
		margin-top: 22px; // same as padding under price
		margin-right: 0; // because it's vertical not row

		.content {
			height: default;
		}
		.left {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			flex-direction: space-between;
		}
		.right {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;

			text-align: right;
			justify-content: space-between;

			.price {
				padding-bottom: 22px;
				font-size: 13px;
				font-weight: $weight-semibold;
				line-height: 18px;
			}
		}
	}
	&.edit {
		height: 178px;
		width: 150px;
		box-shadow: $shadow;
		margin-bottom: 1rem;

		.image {
			// box-shadow: none;
			width: 150px;
			height: 124px;
		}
		.content {
			height: 54px;
			margin: 0;
			display: flex;
			flex-direction: row;
			background-color: #ffffff;
			align-items: center;
			.tool {
				display: flex;
				flex-grow: 1;
				cursor: pointer;

				align-items: center;
				justify-content: center;

				height: 100%;

				.at-add { font-size: p(19); }
				.at-crop { font-size: p(20); }
				.at-delete { font-size: p(24); }

				&:hover {
					color: #000;
				}
			}
		}

		&.upload-slot {
			.image {
				// background-color: color(gray-light);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;

				input {
					opacity: 0;
					position: absolute;
					width: 100%;
					height: 125px;
				}
			}
			&.dz-preview {
				.image {
					img {
						display: block;
						width: 100%;
						height: 125px;
					}
				}
			}
		}

		&.empty {
			.image {
				box-shadow: none;
				background-color: #f7f7f7;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;

				.at-attach-work {
					transform: translateY(-15px);
				}

				input {
					opacity: 0;
					position: absolute;
					z-index: 1; // fix clicking on icon not open file upload
					width: 100%;
					height: 125px;
				}
			}
			.content {
				background-color: #ffffff;
				.tool {
					display: none;
				}
			}
		}
	}
	&.unlabeled {
		width: auto;
		.image {
			width: 150px;
			height: 200px;
		}
	}
	&.artist {
		a {
			text-decoration: none;
		}

		height: 240px;
		width: 150px;
		box-shadow: $shadow;
		margin-bottom: 2px; // when using in slick slider, shadow not visible, so added margin 2px to fix the shadow issue.
		.image {
			box-shadow: none;
			height: 120px;
			width: 100%;
		}
		.card-avatar {
			position: absolute;
			width: 150px;
			transform: translate(0, -70%);

			display: flex;
			justify-content: center;
		}
		.content {
			padding-top: 1rem;
			height: 120px;
			width: 100%;
			text-align: center;
			padding-left: p(5);
			padding-right: p(5);
			.artist {
				font-weight: $weight-semibold;
				color: #333;
				font-size: p(15);
				line-height: p(32);
			}
			.from {
				line-height: p(16);
				color: #333;
				margin-bottom: p(5);
			}

			.pieces {
				line-height: p(16);
			}
		}
	}
	&.follower {
		text-align: center;
		margin-bottom: 2rem;
		
		&:last-child,
		&:nth-last-child(2) {
			margin-bottom: 0;
		}

		.avatar { margin-bottom: p(10); }

		.name { font-weight: $weight-semibold; }
		
		.type {
			color: #999;
			font-size: p(13);
			font-weight: $weight-semibold;
		}
	}
	&.order {
		@extend .square;
		margin-right: initial;
		width: auto;
		display: flex;
		justify-content: space-between;

		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		border-bottom: $border-width solid $border-color;

		.content {
			height: unset;
		}

		.left {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
		}
		.right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: right;
		}

		.quantity {
			margin-top: 1rem;
		}
		.edition {
			margin-bottom: 1rem;
		}
		&.is-cancel {
			.order {
				color: color(red);
			}
		}
	}
	&.art-match {
		width: 100%;

		/* Scales fit container */
		.image {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.content {
			width: 100%;
			text-align: center;
		}
	}

	@include for-phone-only {
		// margin-right: 0;
		&:not(.masonry):nth-child(even) {
			margin-right: 0px;
		}
	}

}

.image-upload-dropzone .card {
	margin-bottom: 1.5rem;
}
