////////////////////////////////////////////////////////////////////
// Image upload, minor tweaks
////////////////////////////////////////////////////////////////////

// see also: the end of ./_card.scss for `.image-upload-dropzone .card`... 


.image-upload-dropzone {
	padding: 10px 10px 0 10px;
	border-radius: 1rem;
	border: 1px solid rgba(0, 0, 0, 0);

	transition: all 0.5s;

	&:hover {
		border: 1px solid #f7f7f7;
		background-color: #f7f7f7;
	}
}