///////////////////////////////////////////////////////////////////
// Product Iamge + Detail Layout
// Mobile First
///////////////////////////////////////////////////////////////////

.product-container {
	display: flex;
	flex-direction: column;

	.product-image {

		img {
    		// box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
		}
		.slick-slider {
			.slick-slide {
			    padding-top: 20px;
			    padding-left: 0px;
			    padding-right: 10px;
			    // padding-left: 30px;
			    // padding-right: 30px;
			    
				img {
		    		// @include box_shadow(2);
					position: relative;
					top: -15px;
					width: auto;
				}
			}
		}

	    .slick-dots {
	    	// bottom: -35px;
	    	bottom: -15px;
	        li {
	        	margin: 0;
	            button {
	                &:before {
	                    // font-size: .5rem;
	                    font-size: 5px;
	                }
	            }
	        }
	    }

	}

	.product-detail {

		h2 {
			margin: 5px 0 0;
			// margin: 0;
		}

		.description {
			margin-bottom: p(25);
			line-height: 1.3125rem;

			.title {
				font-style: italic;
			}

			.series,
			.type,
			.sizes,
			.edition {
				color: $color-fade;
			}
		}

		.gallery-price {
			margin-bottom: p(20);
			line-height: 1.5rem;

			.discounted {
				font-size: 1.25rem;
			}

			.regular {
				color: color(gray);
			}

			.icon.tooltip {
				color: color(black);
				font-size: 1.25rem;
				margin-left: 1rem;
			}
		}

		.edition-number {
			margin-bottom: p(20);

			.select {
				height: unset;
			}

			.prompt {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: p(5);
			}

			.edition-remain {
				font-weight: $weight-semibold;
			}
		}

		.add-to-cart {
			margin: 1.25rem 0 !important;
		}


		.saved-collection {
			color: $color-fade;
			font-size: p(13);
			margin-top: 2px;

			.at {
				position: relative;
				top: 1px;
			}
		}

		.at.accordion {
			border-top: 1px solid $border-color;
			margin-top: p(18);
			padding-left: p(12);

			p {
				font-size: p(13);
				line-height: p(21);
			}

			dt {
		  		padding: p(10) 1.5rem p(10) 0;
		  	}

			@include for-tablet-portrait-up {
				dd {
					padding: 0 1rem 0 0;
				}
			}
		}
	}

	@include for-tablet-portrait-up {

	flex-direction: row;

		.product-image {
			// flex: 1 1 63%;
			// width: 63%;
			// padding: 0 40px;
			// matching prototype
			flex: 1 1 73%;
			width: 73%;
			padding: 0 170px;

			img {
				max-height: calc(100vh - 250px);
				margin: 0 auto;
			}


			img {
	    		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
			}
			.slick-slider {
				.slick-slide {
				    padding-left: 30px;
				    padding-right: 30px;
				}
			}

		    .slick-dots {
		    	bottom: -35px;
		        li {
		            button {
		                &:before {
		                    font-size: .5rem;
		                }
		            }
		        }
		    }

		}

		.product-detail {
			flex: 1 1 380px;

			h2 {
				margin: 0;
			}

			h4 {
				margin-top: 0;
			}
		}


	&.modal-product {
		.product-image {
			flex: 1 1 60%;
			width: 60%;
			padding: 0;
		}
		.product-detail {
			padding: 0 0 0 2rem;
			flex: 1 1 40%;
		}
	}

	}
}


.add-to-collection {
	display: flex;
	position: relative;

	.at.dropdown {
		flex: 1 1 100%;

		.dropdown-content {
			width: 100%;
			padding: 1rem;
			border: 1px solid $border-color;
			transform: translateY(-11px);
		}
	}

	.btn-add-collection {
		justify-content: baseline;
		position: relative;
		color: #333;
		&.tl {
			justify-content: left !important;
		}

		.at-arrows-down {
			position: absolute;
			right: 15px;
			top: 16px;
			font-size: 12px;
		}
	}

	.heart,
	.up-arrow {
		margin-left: p(12);
	    .icon {
	    	color: #333;
	    	font-size: 22px !important;
	    }
	}
}
