///////////////////////////////////////////////////////////////////
// Tabs - Component
// Mobile First 
///////////////////////////////////////////////////////////////////

.tabs {
    font-size: p(13);

    &:not(:last-child) {
        margin-bottom: p(19);
    }

    ul {
        margin-top: p(12);
        padding: 0;
        border-bottom-color: $border-color;
        border-bottom-width: 1px;
        li {
            &.is-active {
                a {
                    border-bottom-color: #000000;
                    color: #333;
                    border-bottom-width: 2px;
                }
            }
        }
    }

    a {
        cursor: pointer;
        padding: p(10) 1.1rem;
        border-bottom-color: $border-color;
        border-bottom-width: 1px;
        margin-bottom: -1px;
        color: rgba(25, 25, 25, 0.44);
    }


@include for-tablet-portrait-up {
    font-size: p(15);

    a {
        padding: p(8) 3rem;
    }
}

@include for-tablet-landscape-up {
    a {
        padding: p(8) p(80);
    }
}

}// .tabs


.tabs-container {
    position: relative;
    max-height: 200px;
    overflow: hidden;

    @include preloader();

    &.tabs-init {
        max-height: initial; // remove max height so slider cards data show in full height.

        &::before,
        &::after {
            display: none; // remove preloader
        }
    }
    
    margin: auto;

    .tab-content {
        font-size: p(13);
        // display: none;
        // to add see more element need to display to get height
        p:first-child {
            margin-top: 0;
        }
    }

    .tab-content.is-active {
        display: block !important;
    }

@include for-tablet-portrait-up {
    .tab-content {
        font-size: p(15);
    }
}

}// .tabs-container


.show-container {

    .item {
        margin-bottom: p(40);

        .title {
            font-weight: $weight-semibold;
        }

        ul {
            li {
                margin-bottom: p(24);
                display: flex;

                .show-date {
                    flex: 1 1 auto;
                    padding-right: p(20);
                }

                .show-detail {
                    flex: 1 1 100%;
                }

                a {
                    white-space: nowrap;
                }
            }
        }
    }
    
@include for-tablet-portrait-up {
    .item {
        ul {
            li {
                .show-date {
                    padding-right: p(30);
                }
            }
        }
    }

}

}// .show-container


.social-container {

    .item {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0 0 1rem 3rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $border-color;
        @include clearfix();

        i {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1.25rem;
        }

        .time {
            @extend .text-fade;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        a {
            margin-bottom: .5rem;
        }

        img {
            order: 5;
            max-width: 100px;
        }
    }


@include for-tablet-portrait {
    .item {
        display: block;

        img {
            float: right;
            margin-left: 1rem;
        }
    }
}

@include for-tablet-portrait-up {
    .item {
        display: block;

        img {
            float: right;
            margin-left: 1rem;
        }
    }
}

}// .social-container
