.tags-container {
    margin-bottom: p(27);
    margin-left: -0.25rem;
    margin-top: p(-12);

    @include for-tablet-portrait-down {
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.tag {
	border-radius: 0px;
	// border: 1px solid color(black);
	// background-color: color(white);
    border: 1px solid $color-border;
    background-color: #fff;
    margin: 0.1rem 0.25rem;
    font-size: p(12);
    line-height: p(32);
    font-weight: 500;
    color: #333;

    display: inline-flex;
    height: p(30);
    padding-left: 0.875em;
    padding-right: 0.875em;
    white-space: nowrap;

    align-items: center;
    justify-content: center;

    // Text e.g. $100 <small>USD</small>
    vertical-align: baseline;
    small {
        margin-top: 0.2rem;
        color: color(gray);
    }
    // line-height: 1rem;
    // small {
    //     line-height: 2rem;
    // }
    

    .delete {
        margin-left: 0.25rem;
        margin-right: p(-11);
        color: #000;
        cursor: pointer;
    }

    &.search-result {
        color: color(gray);
        border: none;
        font-size: 0.75rem;
        margin: 0.1rem 0.1rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        .icon.close {
            margin-left: 0.1rem;
            margin-right: -0.375rem;
            font-size: 0.75rem;
        }
        &:hover {
            background-color: color(white-dark);
        }
        &.clear-results {
            border-left: 1px solid color(gray);
            // color: color(white-dark);
            // background-color: color(red);     
        }
    }
}
