///////////////////////////////////////////////////////////////////
// User Header - Artist / Collector - Component
// Mobile First 
///////////////////////////////////////////////////////////////////

.at.user-header {
	display: flex;
	margin-bottom: p(30);

	.avatar-container {
		flex: 1 1 auto;
		padding-right: p(25);
	}

	.user-container {
		flex: 1 1 100%;
	}

	.user {
		margin-bottom: p(20);

		.name-sig {
			display: flex;
			align-items: center;
			
			h4 {
				margin: 0 p(15) 0 0;
			}
			img {
				max-height: p(40);
			}
		}// .name

		.place {
			font-size: p(13);
			a {
				font-weight: $weight-semibold;
				display: block;
			}
		}
	}// .user

	.stats {
	    display: flex;
	    justify-content: space-between;
		font-size: p(13);

		> div {
			line-height: 1.4;

			b {
				display: block;
				font-weight: normal;
				font-size: p(20);
			}

			.fa {
				margin-left: p(2);
			}
		}
	}// .stats

	@include for-tablet-portrait-up {
    	align-items: center;

		.user-container {
			justify-content: space-between;
			display: flex;
		}

		.user {
			margin-bottom: 0;

			.name-sig {
				h4 {

					img {
						display: initial;
					}
				}
			}

			.place {
				a {
					margin-left: p(15);
					display: initial;
				}
			}
		}

		.stats {
	    	min-width: p(300);
		}
	}// for-tablet-portrait-up

}// .at.user-header
